@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;

  .label {
    @include form-element-common-styles-label();
  }
  .outer-wrapper {
    display: inline-block;
    background-color: var(--gray-01);
    border: 1px solid transparent;
    border-radius: var(--border-radius-md);
    @include ui-animation(background-color);
  }
  .value-container {
    @include form-element-common-styles-label();
    align-items: center;
    justify-content: center;
    width: 36px;
    display: inline-flex;
    margin-bottom: 0;
  }

  .button {
    display: inline-flex;
    width: var(--spacing-comp-05);
    height: var(--spacing-comp-05);
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-primary-active);
    color: var(--color-on-primary);
    cursor: pointer;
    font-weight: var(--font-weight-regular);
    border: 1px solid transparent;

    &:focus {
      outline: none;
      @include form-element-common-styles-focus-type-2();
    }

    &--minus {
      border-top-left-radius: var(--border-radius-md);
      border-bottom-left-radius: var(--border-radius-md);
    }
    &--plus {
      border-top-right-radius: var(--border-radius-md);
      border-bottom-right-radius: var(--border-radius-md);
    }
    &:hover {
      background-color: var(--color-primary-hover);
    }
  }
}
:host(:focus) {
  outline: none;
  .outer-wrapper {
    @include form-element-common-styles-focus-type-2();
  }
}
:host([disabled]) {
  .outer-wrapper,
  .button {
    cursor: not-allowed;
  }
  .button {
    background-color: var(--color-primary-disabled);
  }
}
:host {
  .button[disabled] {
    background-color: var(--color-primary-disabled);
  }
}
:host([inline-flex]) {
  display: inline-flex;
  margin-right: var(--spacing-comp-05);
}
:host([inline-flex]:last-child) {
  margin-right: 0;
}
