@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  @include gxg-scroll;

  display: block;

  .main-container {
    width: 240px;

    .search-container {
      position: relative;

      .arrow-down-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .delete-icon {
        position: absolute;
        right: 15px;
        top: 0;
        transform: scale(0.75, 0.75);
      }
      .arrow-down-icon,
      .delete-icon {
        cursor: pointer;
        z-index: 2;
        &:hover {
          opacity: 0.75;
        }
      }
      .layer {
        position: absolute;
        display: inline-block;
        width: 35px;
        height: calc(100% - 2px);
        background-color: var(--color-background);
        right: 1px;
        top: 1px;
        z-index: 1;
      }
    }
    .items-container {
      border-width: var(--border-width-sm);
      border-style: solid;
      border-color: var(--gray-04);
      border-radius: var(--border-radius-md);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 0;
      max-height: 144px;
      overflow-y: auto;

      .item {
        cursor: pointer;
        height: var(--spacing-comp-05);
        display: flex;
        align-items: center;
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        background-color: var(--color-background);
        color: var(--color-on-background);
        padding: 0 var(--spacing-comp-01);
        transition: all 0.25s;
        opacity: 1;

        &:hover {
          background-color: var(--color-secondary-hover);
          color: var(--color-always-white);
        }

        .custom-icon {
          margin-inline-end: var(--spacing-comp-01);
        }
        &.selected {
          background-color: var(--color-secondary-active);
          color: var(--color-always-white);
        }
        &.hidden {
          opacity: 0;
          height: 0;
        }
      }
    }
  }
}
