@import "../../globals/mixins";

:host {
  --tabBarMenuHeight: 0;
  --tabBarMenuWidth: 0;
  display: inline-flex;
  text-align: right;
  position: relative;
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--gxg-tab-bar-background-color);

    &--border {
      border-bottom: var(--ds-border-common-styles);
    }
  }
  .tab-bar {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex !important;
    margin-bottom: 0;
    margin-top: 0;
  }
  .tab-bar__menu {
    display: flex;
    align-items: center;
    &-button {
      padding-right: 4px;
      transform: scale(0.9);
    }
  }
  .tab-bar-menu {
    border-radius: var(--border-width-md);
    box-shadow: var(--box-shadow-01);
    height: var(--tabBarMenuHeight);
    position: absolute;
    z-index: 10;
    background-color: var(--color-on-primary);
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    @include ui-animation(height);

    &.bottom {
      bottom: 0;
    }
    &.right {
      bottom: 0;
      rotate: 90deg;
      transform-origin: top right;
      transform: translateX(100%);
      height: auto !important;
      width: var(--tabBarMenuHeight);
    }

    &--collapsed {
      height: 0;
      &.right {
        width: 0;
      }
    }
  }
}

/*Stacked*/
:host(.gxg-tab-bar--left-stacked),
:host(.gxg-tab-bar--right-stacked) {
  height: 100%;
  .tab-bar {
    flex-direction: column;
  }
}
:host(.gxg-tab-bar--left-stacked) {
  border-inline-end: var(--ds-border-common-styles);
}
:host(.gxg-tab-bar--right-stacked) {
  border-inline-start: var(--ds-border-common-styles);
}

/*Scrollable*/
:host([scrollable]) {
  .nav {
    width: 100%;
    overflow-y: auto;
    @include gxg-scrollbar;
  }
}
:host(.gxg-tab-bar--hidden) {
  display: none;
}
:host(.rtl) {
  .tab-bar-menu {
    left: 0;
    right: auto;
  }
}
