@import "../../globals/mixins";

:host {
  --tabBarMenuHeight: 0;
  display: inline-flex;
  text-align: right;
  position: relative;
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .tab-bar {
    list-style-type: none;
    padding-left: 0;
    display: flex !important;
    margin-bottom: 0;
    margin-top: 0;
    font-family: var(--font-family-primary);
    background-color: var(--color-background);
  }
  .tab-bar__menu {
    display: flex;
    align-items: center;
  }
  .tab-bar-menu {
    border-radius: var(--border-width-md);
    box-shadow: var(--box-shadow-01);
    height: var(--tabBarMenuHeight);
    position: absolute;
    z-index: 10;
    background-color: var(--color-on-primary);
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    @include ui-animation(height);

    &--collapsed {
      height: 0;
    }
  }
}
:host(.rtl) {
  .tab-bar-menu {
    left: 0;
    right: auto;
  }
}
