/*This style-sheet being included in ch-style on globals/global.js. It helps styling chameleon-controls-library components styles that are inaccesible by using parts, such as the scrollbar*/
::-webkit-scrollbar {
  width: var(--gxg-scrollbar-width, 6px);
}
::-webkit-scrollbar-track {
  background-color: var(--gxg-scrollbar-track-background, --gray-02);
  border-radius: var(--gxg-scrollbar-track-border-radius, 10px);
}
::-webkit-scrollbar-thumb {
  background: var(--gxg-scrollbar-track-thumb-background, --gray-05);
  border-radius: var(--gxg-scrollbar-track-thumb-radius, 10px);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gxg-scrollbar-track-thumb-hover-background, --gray-04);
  cursor: pointer;
}
