:host(.gxg--disabled),
.gxg--disabled {
  pointer-events: none;
  background-color: var(--color-background-disabled);
  color: var(--color-on-background--disabled);
  cursor: default;
  --icon-color: var();
}
