/*Warning*/
:host(.gxg-validation--warning) {
  .form-element {
    @include form-element-validation("warning");
    &:focus {
      @include form-element-validation-focus("warning");
    }
  }
}
/*Error*/
:host(.gxg-validation--error) {
  .form-element {
    @include form-element-validation("error");
    &:focus {
      @include form-element-validation-focus("error");
    }
  }
}
/*Success*/
:host(.gxg-validation--success) {
  .form-element {
    @include form-element-validation("success");
    &:focus {
      @include form-element-validation-focus("success");
    }
  }
}
/*Tooltip*/
.tooltip-outer-wrapper {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns var(--timing-02);
}
:host(.tooltip--visible) {
  .tooltip-outer-wrapper {
    grid-template-columns: 1fr;
  }
}
.tooltip-inner-wrapper {
  //overflow: hidden;
  gxg-icon {
    display: flex;
    position: relative !important;
    top: 0 !important;
    transform: none !important;
  }
}
