$ui-animaton-speed: 0.2s;
$ui-animaton-speed-fast: 0.1s;
$ui-animation-timing-function: ease-in-out;

/*****************************************************
TYPOGRAPHY
*****************************************************/
/*Title 01*/
@mixin gxg-title-01 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-on-background);
  text-align: left;
  line-height: 1.455em;
}
@mixin gxg-title-01--negative {
  color: var(--color-on-primary);
}
/*Title 02*/
@mixin gxg-title-02 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-on-background);
  text-align: left;
  text-transform: uppercase;
  line-height: 1.556em;
}
@mixin gxg-title-02--negative {
  color: var(--color-on-primary);
}
/*Title 03*/
@mixin gxg-title-03 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-on-background);
  text-align: left;
  text-transform: uppercase;
  line-height: 1.556em;
}
@mixin gxg-title-03--negative {
  color: var(--color-on-primary);
}
/*Text*/
@mixin gxg-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-xs);
  color: var(--color-on-background);
  text-align: left;
  line-height: 1.455em;
}
@mixin gxg-text--negative {
  color: var(--color-on-primary);
}
@mixin gxg-text--gray {
  color: var(--gray-04);
}
/*Link*/
@mixin gxg-link {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-xs);
  color: var(--color-primary);
  text-align: left;
  text-decoration: underline;
  line-height: 1.455em;
}
@mixin gxg-link--hover {
  color: var(--color-primary-hover);
}
@mixin gxg-link--active {
  color: var(--color-primary-active);
}
/*Quote*/
@mixin gxg-quote {
  font-family: var(--font-family-primary);
  font-style: italic;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-xs);
  color: var(--color-on-background);
  text-align: left;
  line-height: 1.455em;
}
@mixin gxg-quote--negative {
  color: var(--color-on-primary);
}
/*Tab*/
@mixin gxg-tab {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-lg);
  color: var(--color-on-background);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.778em;
}
@mixin gxg-tab--active {
  font-weight: var(--font-weight-bold);
}
@mixin gxg-tab--disabled {
  color: var(--color-primary-disabled);
  pointer-events: none;
}
/*Label*/
$gxg-label-color: var(--color-primary-enabled);
@mixin gxg-label {
  font-family: var(
    --font-family-primary
  ) !important; //!Important to prevent style overring on storybook
  font-weight: var(--font-weight-semibold);
  font-size: var(
    --font-size-md
  ) !important; //!Important to prevent style overring on storybook
  letter-spacing: var(--letter-spacing-xs);
  color: $gxg-label-color;
  text-align: center;
  line-height: 1.455em;
}
$gxg-label--hover-color: var(--color-primary-hover);
@mixin gxg-label--hover {
  color: $gxg-label--hover-color;
}
$gxg-label--focus-color: var(--color-primary-active);
@mixin gxg-label--focus {
  color: $gxg-label--focus-color;
}
$gxg-label--active-color: var(--color-primary-active);
@mixin gxg-label--active {
  color: $gxg-label--active-color;
}
$gxg-label--disabled-color: var(--color-primary-disabled);
@mixin gxg-label--disabled {
  color: $gxg-label--disabled-color;
}
$gxg-label--negative-color: var(--color-on-primary);
@mixin gxg-label--negative {
  color: $gxg-label--negative-color;
}
$gxg-label--negative-disabled-color: var(--color-on-disabled);
@mixin gxg-label--negative-disabled {
  color: $gxg-label--negative-disabled-color;
}

/*****************************************************
GXG-BUTTON and GXG-BUTTON-GROUP COMMON STYLES
*****************************************************/
@mixin gxg-button-styles {
  @include gxg-label;
  background: var(--color-primary-enabled);
  border: 0;
  box-shadow: inset 0px 0px 0px 1px transparent;
  border-radius: var(--border-radius-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-right: var(--spacing-comp-03);
  padding-bottom: 0;
  padding-left: var(--spacing-comp-03);
  min-height: 20px;
  line-height: var(--line-height-regular);

  //Transition
  transition: background $ui-animaton-speed $ui-animation-timing-function,
    color $ui-animaton-speed $ui-animation-timing-function,
    box-shadow $ui-animaton-speed $ui-animation-timing-function;
}

@mixin ui-animation($properties...) {
  transition-property: $properties;
  transition-duration: $ui-animaton-speed;
  transition-timing-function: $ui-animation-timing-function;
}

@mixin ui-animation-fast($properties...) {
  transition-property: $properties;
  transition-duration: $ui-animaton-speed-fast;
  transition-timing-function: $ui-animation-timing-function;
}

/*****************************************************
FORM ELEMENTS
*****************************************************/

@mixin form-element-common-styles-label {
  @include gxg-text();
  display: flex;
}
@mixin form-element-common-styles-label-group {
  @include gxg-text();
  display: flex;
  margin-bottom: var(--spacing-lay-xs);
}
@mixin form-element-common-styles-label-required {
  font-size: var(--font-size-xs);
  padding-left: var(--spacing-lay-xs);
}
@mixin form-element-common-styles {
  border-width: var(--border-width-sm);
  border-color: var(--gray-04);
  border-style: var(--border-style-regular);
  border-radius: var(--border-radius-sm);
  padding-left: var(--spacing-comp-01);
  padding-right: var(--spacing-comp-01);
  color: var(--color-on-background);
  background-color: var(--color-on-primary);
}
@mixin form-element-common-styles-disabled {
  background-color: var(--color-on-disabled);
  color: var(--gray-04);
}

@mixin form-element-common-styles-wrapper {
  position: relative;
  width: 100%;
}

@mixin form-element-common-styles-focus-type-1 {
  outline-style: solid;
  outline-color: var(--color-primary-active);
  outline-width: var(--border-width-md);
}
@mixin form-element-common-styles-focus-type-2 {
  border-color: var(--color-on-primary);
  box-shadow: 0px 0px 0px 1px var(--color-primary-enabled);
}

//ERROR & WARNING
@mixin form-element-common-styles-error {
  border-color: var(--color-error-dark);
  background-color: var(--color-error-light);
  margin-bottom: 0;
  color: var(--color-always-black);
}

@mixin form-element-common-styles-warning {
  border-color: var(--color-warning-dark);
  background-color: var(--color-warning-light);
  margin-bottom: 0;
  color: var(--color-always-black);
}
