:root {
  --ui-animaton-speed: 0.2s;
}
$ui-animaton-speed: var(--ui-animaton-speed);
$ui-animaton-speed-fast: 0.1s;
$ui-animaton-speed-slow: 0.5s;
$ui-animation-timing-function: ease;

/*ALIGNMENT*/
@mixin gxg-flex-justify {
  display: flex;
  &--justify-start {
    justify-content: start;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-end {
    justify-content: end;
  }
}

/*Ellipsis*/
@mixin gxg-ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*****************************************************
TYPOGRAPHY
*****************************************************/

/*Title 01 (Positive)*/
@mixin gxg-title-01 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-on-background);
  text-align: start;
  line-height: 1.455em;
}
.gxg-title-01 {
  @include gxg-title-01;
}
/*Title 01 (Negative)*/
@mixin gxg-title-01--negative {
  @include gxg-title-01;
  color: var(--color-on-primary);
}
.gxg-title-01--negative {
  @include gxg-title-01--negative;
}

/*Title 02 (Positive)*/
@mixin gxg-title-02 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-on-background);
  text-align: start;
  text-transform: uppercase;
  line-height: 1.556em;
}
.gxg-title-02 {
  @include gxg-title-02;
}
@mixin gxg-title-02--negative {
  @include gxg-title-02;
  color: var(--color-on-primary);
}
.gxg-title-02--negative {
  @include gxg-title-02--negative;
}
/*Title 03*/
@mixin gxg-title-03 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-on-background);
  text-align: start;
  text-transform: uppercase;
  line-height: 1.556em;
}
.gxg-title-03 {
  @include gxg-title-03;
}
@mixin gxg-title-03--negative {
  @include gxg-title-03;
  color: var(--color-on-primary);
}
.gxg-title-03--negative {
  @include gxg-title-03--negative;
}
/*Title 04*/
@mixin gxg-title-04 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-md);
  color: var(--color-on-background);
  text-align: start;
  line-height: 1.455em;
}
.gxg-title-04 {
  @include gxg-title-04;
}
@mixin gxg-title-04--negative {
  @include gxg-title-04;
  color: var(--color-on-primary);
}
.gxg-title-04--negative {
  @include gxg-title-04--negative;
}
/*Title 05*/
@mixin gxg-title-05 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-on-background);
  text-align: start;
  line-height: 1.556em;
}
.gxg-title-05 {
  @include gxg-title-05;
}
@mixin gxg-title-05--negative {
  @include gxg-title-05;
  color: var(--color-on-primary);
}
.gxg-title-05--negative {
  @include gxg-title-05--negative;
}

/*Text*/
@mixin gxg-text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-xs);
  color: var(--color-on-background);
  text-align: start;
  line-height: 1.455em;
}
.gxg-text {
  @include gxg-text;
}
@mixin gxg-text--negative {
  @include gxg-text;
  color: var(--color-on-primary);
}
.gxg-text--negative {
  @include gxg-text--negative;
}
@mixin gxg-text--gray {
  @include gxg-text;
  color: var(--gray-05);
}
.gxg-text--gray {
  @include gxg-text--gray;
}

/*Quote*/
@mixin gxg-quote {
  @include gxg-text;
  font-style: italic;
}
.gxg-quote {
  @include gxg-quote;
}
@mixin gxg-quote--negative {
  color: var(--color-on-primary);
}
.gxg-quote--negative {
  @include gxg-quote--negative;
}

/*Link*/
@mixin gxg-link {
  @include gxg-text;
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}
@mixin gxg-link--hover {
  color: var(--color-primary-hover);
}
@mixin gxg-link--active {
  color: var(--color-primary-active);
}
@mixin gxg-link-gray {
  @include gxg-link;
  color: var(--gray-04);
}
@mixin gxg-link-gray--hover {
  @include gxg-link-gray;
  color: var(--gray-06);
}
.gxg-link {
  @include gxg-link;
  &:hover {
    @include gxg-link--hover;
  }
  &:active {
    @include gxg-link--active;
  }
}
.gxg-link-gray {
  @include gxg-link-gray;
  &:hover {
    @include gxg-link-gray--hover;
  }
}

/*Alerts*/
@mixin gxg-alert-error {
  @include gxg-text;
  color: var(--color-error-dark);
  display: inline-block;
}
.gxg-alert-error {
  @include gxg-alert-error;
}
@mixin gxg-alert-warning {
  @include gxg-text;
  color: var(--color-warning-dark);
  display: inline-block;
}
.gxg-alert-warning {
  @include gxg-alert-warning;
}
@mixin gxg-alert-success {
  @include gxg-text;
  color: var(--color-success-dark);
  display: inline-block;
}
.gxg-alert-success {
  @include gxg-alert-success;
}
/*Tab*/
@mixin gxg-tab--active {
  font-weight: var(--font-weight-bold);
}
@mixin gxg-tab {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-lg);
  color: var(--color-on-background);
  text-align: center;
  text-transform: uppercase;
  line-height: 1.778em;
  &:active {
    @include gxg-tab--active;
  }
}
@mixin gxg-tab--disabled {
  color: var(--color-primary-disabled);
  pointer-events: none;
}
.gxg-tab--disabled {
  @include gxg-tab--disabled;
  &[disabled] {
    @include gxg-tab--disabled;
  }
}
/*Label*/
$gxg-label-color: var(--color-primary-enabled);
@mixin gxg-label {
  font-family: var(
    --font-family-primary
  ) !important; //!Important to prevent style overring on storybook
  font-weight: var(--font-weight-semibold);
  font-size: var(
    --font-size-sm
  ) !important; //!Important to prevent style overring on storybook
  letter-spacing: var(--letter-spacing-xs);
  color: $gxg-label-color;
  text-align: center;
  line-height: 1.455em;
}
$gxg-label--hover-color: var(--color-primary-hover);
@mixin gxg-label--hover {
  color: $gxg-label--hover-color;
}
$gxg-label--focus-color: var(--color-primary-active);
@mixin gxg-label--focus {
  color: $gxg-label--focus-color;
}
$gxg-label--active-color: var(--color-primary-active);
@mixin gxg-label--active {
  color: $gxg-label--active-color;
}
$gxg-label--disabled-color: var(--color-primary-disabled);
@mixin gxg-label--disabled {
  color: $gxg-label--disabled-color;
}
.gxg-label {
  @include gxg-label;
  &:hover {
    @include gxg-label--hover;
  }
  &:focus {
    @include gxg-label--focus;
  }
  &:active {
    @include gxg-label--active;
  }
  &[disabled] {
    @include gxg-label--disabled;
  }
}
$gxg-label--negative-color: var(--color-on-primary);
@mixin gxg-label--negative {
  color: $gxg-label--negative-color;
}
$gxg-label--negative-disabled-color: var(--color-on-disabled);
@mixin gxg-label--negative-disabled {
  color: $gxg-label--negative-disabled-color;
}
.gxg-label--negative {
  @include gxg-label--negative;
  &[disabled] {
    @include gxg-label--negative-disabled;
  }
}

/*****************************************************
GXG-BUTTON and GXG-BUTTON-GROUP COMMON STYLES
*****************************************************/
@mixin gxg-button-styles {
  @include gxg-label;
  background: var(--color-primary-enabled);
  border: 0;
  box-shadow: inset 0px 0px 0px 1px transparent;
  border-radius: var(--border-radius-xs);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.5px;
  padding-right: var(--spacing-comp-03);
  padding-bottom: 2.5px;
  padding-left: var(--spacing-comp-03);
  line-height: var(--line-height-regular);

  //Transition
  transition: background $ui-animaton-speed $ui-animation-timing-function,
    color $ui-animaton-speed $ui-animation-timing-function,
    box-shadow $ui-animaton-speed $ui-animation-timing-function;
}
.gxg-button-styles {
  @include gxg-label;
}
@mixin ui-animation($properties...) {
  transition-property: $properties;
  transition-duration: $ui-animaton-speed;
  transition-timing-function: $ui-animation-timing-function;
}

@mixin ui-animation-fast($properties...) {
  transition-property: $properties;
  transition-duration: $ui-animaton-speed-fast;
  transition-timing-function: $ui-animation-timing-function;
}

@mixin ui-animation-slow($properties...) {
  transition-property: $properties;
  transition-duration: $ui-animaton-speed-slow;
  transition-timing-function: $ui-animation-timing-function;
}
@mixin gxg-button-icon-outlined {
  height: var(--spacing-comp-05);
  width: var(--spacing-comp-05);
  background-color: var(--color-background);
  color: var(--color-primary-hover);
  border: 1px solid var(--color-primary-hover);
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-hover-opacity-01);
  }
}

/*****************************************************
FORM ELEMENTS
*****************************************************/

@mixin form-element-common-styles-label() {
  @include gxg-text();
  display: flex;
  align-items: center;
  cursor: default;
}
@mixin form-element-common-styles-label-large {
  font-size: var(--font-size-lg);
}
@mixin form-element-common-styles-label-group {
  @include gxg-text();
  display: flex;
  margin-bottom: var(--spacing-lay-xs);
}
@mixin form-element-common-styles-label-required {
  font-size: var(--font-size-xs);
  padding-left: var(--spacing-lay-xs);
}
@mixin form-element-common-styles {
  border-width: var(--border-width-sm);
  border-color: var(--gray-02);
  border-style: var(--border-style-regular);
  border-radius: var(--border-radius-sm);
  padding-left: var(--spacing-comp-01);
  padding-right: var(--spacing-comp-01);
  color: var(--color-on-background);
  background-color: var(--color-background);
}
@mixin form-element-common-styles-disabled {
  background-color: var(--gray-01);
  color: var(--color-on-disabled);
}

@mixin form-element-common-styles-wrapper {
  position: relative;
  width: 100%;
}

@mixin form-element-common-styles-focus-type-1($direction: "inside") {
  outline-style: solid;
  outline-color: var(--gxg-border-color--focused);
  outline-width: var(--border-width-md);
  @if $direction == "inside" {
    outline-offset: -2px;
  }
  @if $direction == "outside" {
    outline-offset: 0;
  }
}
@mixin form-element-common-styles-focus-type-2 {
  border-color: var(--color-on-primary);
  box-shadow: 0px 0px 0px 1px var(--color-primary-enabled);
}

//VALIDATION
@mixin form-element-validation($status) {
  border-color: var(--color-#{$status}-dark);
  //background-color: var(--color-#{$status}-light);
}
@mixin form-element-validation-focus($status) {
  outline-color: var(--color-#{$status}-dark);
  border-color: var(--color-#{$status}-dark);
  //just for the checkbox
  & + .checkmark {
    --checkmark-border-color: var(--color-#{$status}-dark);
  }
}
//Warning (remove)
@mixin form-element-common-styles-warning {
  border-color: var(--color-warning-dark);
  background-color: var(--color-warning-light);
  margin-bottom: 0;
}
@mixin form-element-common-styles-warning-focus {
  outline-color: var(--color-warning-dark);
  border-color: var(--color-warning-dark);
}
//Error (remove)
@mixin form-element-common-styles-error {
  border-color: var(--color-error-dark);
  background-color: var(--color-error-light);
  margin-bottom: 0;
}
@mixin form-element-common-styles-error-focus {
  outline-color: var(--color-error-dark);
  border-color: var(--color-error-dark);
}
@mixin messages-wrapper {
  margin-top: var(--spacing-comp-02);
  display: flex;
  gap: var(--spacing-comp-01);
  flex-direction: column;
}

@mixin gxg-scrollbar {
  // Scroll bar
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background-color: var(--gray-02);
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--gray-05);
    border-radius: 10px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--gray-04);
    cursor: pointer;
  }
}

.gxg-scrollbar {
  @include gxg-scrollbar;
}
