:root {
  --gxg-border-color--regular: var(--gray-02);
  --gxg-border-color--disabled: var(--gray-04);
  --gxg-text-color-on-primary--disabled: var(--gray-04);
  --gxg-form-item-bgcolor-hover: var(--color-secondary-hover);
  --gxg-label-margin-horizontal: var(--spacing-lay-s);
  --gxg-label-margin-vertical: var(--spacing-lay-xs);
}
