:root {
  --gxg-form-text-height: 20px;
  --gxg-form-control-gap--vertical: var(--spacing-comp-03);
  --gxg-form-control-gap--horizontal: var(--spacing-comp-03);
  --gxg-label-margin-horizontal: var(--spacing-lay-s);
  --gxg-label-margin-vertical: var(--spacing-lay-xs);
  --gxg-border-common-styles: var(--border-width-sm) solid
    var(--gxg-border-color--regular);
  --gxg-border-color--focused: var(--color-primary-enabled);
  --gxg-icon-size: var(--spacing-comp-04);
  --gxg-icon-mask-size: 100%;
  --gxg-list-item-height: var(--spacing-comp-05);
  --gxg-list-item-height--spaced: calc(var(--spacing-comp-05) + 2px);
  /*COLORS*/
  --gxg-row-background-color-even: var(--color-background);
  --gxg-row-background-color-odd: var(--gray-00);
  --gxg-border-color--regular: var(--gray-02);
  /*hover*/
  --gxg-background-color--hover: var(--gray-01);
  --gxg-color--hover: var(--color-on-background);
  --gxg-filter-brightness--hover: 1.03;
  /*selected*/
  --gxg-background-color--selected: var(--color-secondary-enabled);
  --gxg-background-color--selected-hover: var(--color-secondary-enabled--hover);
  --gxg-border-color--selected: var(--color-secondary-hover);
  --gxg-color--selected: var(--color-on-background);
  /*active*/
  --gxg-background-color--active: var(--color-secondary-active);
  --gxg-color--active: var(--color-on-primary);
  /*disabled*/
  --gxg-border-color--disabled: var(--gray-01);
  --gxg-background-color--disabled: var(--gray-00);
  --gxg-color--disabled: var(--gray-04);
  /*checkbox*/
  --gxg-checkbox-size: var(--spacing-comp-04);
  /*scrollbar*/
  --gxg-scrollbar-width: 6px;
  --gxg-scrollbar-track-background: var(--gray-02);
  --gxg-scrollbar-track-border-radius: 10px;
  --gxg-scrollbar-track-thumb-background: var(--gray-04);
  --gxg-scrollbar-track-thumb-radius: 10px;
  --gxg-scrollbar-track-thumb-border: none;
  --gxg-scrollbar-track-thumb-hover-background: var(--gray-05);
  /*MERCURY*/
  /*editable title (mercury)*/
  --gxg-editable-title-focus-color: var(--color-primary-enabled);
  --gxg-hi-char-color: var(--color-primary);
}
:root.gxg-large {
  --gxg-form-text-height: var(--spacing-comp-05);
}
:root.dark {
  --gxg-background-color--selected: var(--color-secondary-active);
  --gxg-background-color--selected--hover: var(
    --color-secondary-enabled--hover
  );
  --gxg-filter-brightness--hover: 1.1;
}

/*--- Mercury ---*/
:root.mercury {
  --mc-base-font-size: var(--mc-font-size-xs);

  /*--- Editable Title ---*/
  --mc-editable-title-color: var(--gray-06);

  /*--- Cards ---*/
  /*type 'section'*/
  --mc-card-section-padding--v: var(--spacing-comp-04);
  --mc-card-section-padding--h: var(--spacing-comp-04);
  /*type 'article'*/
  --mc-card-article-padding--v: var(--spacing-comp-04);
  --mc-card-article-padding--h: var(--spacing-comp-03);
  /*type 'mini'*/
  --mc-card-mini-padding--v: var(--spacing-comp-02);
  --mc-card-mini-padding--h: var(--spacing-comp-03);

  /*--- Scrollbar ---*/
  --gxg-scrollbar-width: 14px;
  --gxg-scrollbar-track-background: transparent;
  --gxg-scrollbar-track-border-radius: 99px;
  --gxg-scrollbar-track-thumb-background: var(--gray-12);
  --gxg-scrollbar-track-thumb-radius: 99px;
  --gxg-scrollbar-track-thumb-border: 5px solid transparent;
  --gxg-scrollbar-track-thumb-hover-background: var(--gray-13);
}
