:host {
    
    // border widths
    --border-width--sm: 1px; 
    --border-width--md: 2px; 
    --border-width--lg: 4px;

    // border styles
    --border-style--regular: solid;

    // border radius
    --border-radius--sm: 1px;
}

