/*********************************
TOKENS FOR ICONS
*********************************/

:root {
  --icon-size: 24px; // set this value to the width, or height of the img icon
  --icon-size-small: 12px; // set this value to the width, or height of the img icon
  --icon-hover-opacity: 0.9;
  --icon-disabled-opacity: 0.6;
}
