/*********************************
TOKENS FOR ICONS
*********************************/

:host {

    --icon-size: 12px; // set this value to the width, or height of the img icon
    --icon-hover-opacity: .9;
    --icon-disabled-opacity: .6;

}