:root {
  /*--- General ---*/
  --ds-base-background-color: var(--color-background);
  /*--- Font ---*/
  --ds-base-font-family-primary: var(--font-family-primary);
  --ds-base-font-size: var(--font-size-lg);
  --ds-base-font-color: var(--color-on-background);
  --ds-base-font-color--negative: var(--color-on-primary);
  --ds-base-font-color--dimmed: var(--gray-05);
  --ds-base-font-color--link: var(--color-primary);
  --ds-base-font-color--link-hover: var(--color-primary-hover);
  --ds-base-font-color--link-active: var(--color-primary-active);
  --ds-base-font-color--warning: var(--ds-warning-color--dark);
  --ds-base-font-color--error: var(--ds-alert-color--dark);
  --ds-base-font-color--success: var(--ds-success-color--dark);
  --ds-base-font-weight: var(--font-weight-regular);
  --ds-base-font-line-height--regular: var(--line-height-regular);
  --ds-base-font-line-height--comfortable: var(--line-height-comfortable);
  --ds-base-font-letter-spacing--regular: normal;
  --ds-base-font-letter-spacing--comfortable: var(--letter-spacing-lg);
  /*--- Other ---*/
  --ds-border-color-dark-only: var(--border-color-dark-only);
  --ds-form-text-height: 20px;
  --ds-border-common-styles: var(--border-width-sm) solid
    var(--ds-border-color--regular);
  /*--- Border ---*/
  --ds-border-color--error: var(--color-error-dark);
  --ds-border-color--warning: var(--color-warning-dark);
  --ds-border-color--success: var(--color-success-dark);
  --ds-border-color-control--focused: var(--color-primary-enabled);
  /*--- Icon ---*/
  --ds-icon-mask-size: 100%;
  --ds-icon-size-box--regular: 20px;
  --ds-icon-size-box--small: 20px;
  --ds-icon-size--regular: 16px;
  --ds-icon-size--small: 12px;
  /*--- List Item ---*/
  --ds-list-item-height: var(--spacing-comp-05);
  --ds-list-item-height--spaced: calc(var(--spacing-comp-05) + 2px);
  /*--- Form Control ---*/
  --ds-form-control-height: var(--spacing-comp-05);
  --ds-form-control-gap--vertical: var(--spacing-comp-04);
  --ds-form-control-gap--horizontal: var(--spacing-comp-04);
  --ds-form-control-color: var(--color-on-background);
  --ds-form-control-placeholder-color: var(--gray-05);
  --ds-form-control-placeholder-style: regular;
  --ds-form-control-background-color: var(--color-background);
  --ds-form-control-border: var(--border-width-sm) solid
    var(--ds-border-color--regular);
  --ds-form-control-border-radius: var(--border-radius-sm);
  --ds-form-control-border-color--hover: var(--ds-border-color--regular);
  --ds-form-control-font-size: var(--font-size-lg);
  --ds-form-control-padding-horizontal: var(--spacing-comp-02);
  --ds-form-control-padding-vertical: var(--spacing-comp-02);
  /*--- Colors ---*/
  --ds-row-background-color-odd: var(--gray-00);
  --ds-row-background-color-even: var(--color-background);
  --ds-row-background-color-odd--hover: var(--gray-01);
  --ds-row-background-color-even--hover: var(--gray-01);
  --ds-border-color--regular: var(--gray-02);
  /*hover*/

  --ds-item-color--hover: var(--color-on-background);
  --ds-filter-brightness--hover: 1.03;
  /*focus*/
  --ds-focus-border-width: var(--border-width-md);
  --ds-focus-border-color: var(--color-primary-enabled);
  /*item*/
  --ds-item-background-color--hover: var(--gray-01);
  --ds-item-background-color--selected: var(--color-secondary-enabled);
  --ds-item-background-color--selected-hover: var(
    --color-secondary-enabled--hover
  );
  --ds-item-border-color: var(--gray-00);
  --ds-item-border-color--selected: var(--color-secondary-hover);
  --ds-item-color--selected: var(--mer-color__neutral-gray--100);
  /*active*/
  --ds-item-background-color--active: var(--color-secondary-active);
  --ds-color--active: var(--color-on-primary);
  /*disabled*/
  --ds-border-color-disabled: var(--gray-01);
  --ds-background-color-disabled: var(--gray-00);
  --ds-color-disabled: var(--gray-04);
  --ds-color-on-disabled: var(--gray-04);
  --ds-icon-color-disabled: var(--gray-04);
  --ds-icon-color-on-disabled: var(--gray-04);
  /*checkbox*/
  --ds-checkbox-size: var(--spacing-comp-04);
  /*scrollbar*/
  --gxg-scrollbar-width: 6px;
  --gxg-scrollbar-track-background: var(--gray-02);
  --gxg-scrollbar-track-border-radius: 10px;
  --gxg-scrollbar-track-thumb-background: var(--gray-04);
  --gxg-scrollbar-track-thumb-radius: 10px;
  --gxg-scrollbar-track-thumb-border: none;
  --gxg-scrollbar-track-thumb-hover-background: var(--gray-05);
  /*Titles*/
  --ds-title-01-font-size: var(--font-size-xl);
  --ds-title-01-font-weight: var(--font-weight-bold);
  --ds-title-02-font-size: var(--font-size-lg);
  --ds-title-02-font-weight: var(--font-weight-bold);
  --ds-title-03-font-size: var(--font-size-lg);
  --ds-title-03-font-weight: var(--font-weight-regular);
  --ds-title-04-font-size: var(--font-size-xl);
  --ds-title-04-font-weight: var(--font-weight-semibold);
  --ds-title-05-font-size: var(--font-size-lg);
  --ds-title-05-font-weight: var(--font-weight-semibold);
  /*Alert / Warning / Message */
  --ds-alert-color--dark: var(--color-error-dark);
  --ds-alert-color--light: var(--color-error-light);
  --ds-warning-color--dark: var(--color-warning-dark);
  --ds-warning-color--light: var(--color-warning-light);
  --ds-success-color--dark: var(--color-success-dark);
  --ds-success-color--light: var(--color-success-light);

  &.dark:not(.mercury) {
    --ds-item-background-color--selected: var(--color-secondary-active);
    --ds-item-background-color--selected--hover: var(
      --color-secondary-enabled--hover
    );
  }

  &.mercury {
    /*--- General ---*/
    --ds-base-background-color: var(--mer-color__surface);
    /*--- Font ---*/
    --ds-base-font-family-primary: var(--mer-font-family--primary);
    --ds-base-font-size: var(--mer-font__size--xs);
    --ds-base-font-color: var(--mer-text__on-surface);
    --ds-base-font-color--negative: var(--mer-color__neutral-gray--800);
    --ds-base-font-color--dimmed: var(--mer-text__on-surface);
    --ds-base-font-color--link: var(--mer-text__primary);
    --ds-base-font-color--link-hover: var(--mer-text__primary--hover);
    --ds-base-font-color--link-active: var(--mer-text__primary--active);
    // --ds-base-font-color--warning: var();
    // --ds-base-font-color--error: var();
    // --ds-base-font-color--success: var();
    --ds-base-font-weight: var(--mer-font__weight--regular);
    --ds-base-font-line-height--regular: var(--mer-line-height--regular);
    --ds-base-font-line-height--comfortable: var(
      --mer-line-height--comfortable
    );
    --ds-base-font-letter-spacing--regular: normal;
    --ds-base-font-letter-spacing--comfortable: var(
      --mer-letter-letter-spacing--comfortable
    );
    /*--- Other ---*/
    --ds-border-color-dark-only: var(--mer-border-color__dark-only);
    --ds-form-text-height: 20px;
    --ds-border-common-styles: var(--mer-border__width--sm) solid
      var(--ds-border-color--regular);
    /*--- Border ---*/
    --ds-border-color--error: var(--mer-border-color__error);
    --ds-border-color--warning: var(--mer-border-color__warning);
    --ds-border-color--success: var(--mer-border-color__success);
    --ds-border-color-control--focused: var(
      --mer-border-color__control--focused
    );
    /*--- Icon ---*/
    --ds-icon-mask-size: 100%;
    --ds-icon-size-box--regular: 32px;
    --ds-icon-size-box--small: 24px;
    --ds-icon-size--regular: 18px;
    --ds-icon-size--small: 16px;
    /*--- List Item ---*/
    --ds-list-item-height: var(--mer-spacing--lg);
    --ds-list-item-height--spaced: var(--mer-spacing--xl);
    /*--- Form Control ---*/
    --ds-form-control-height: 26px;
    --ds-form-control-gap--vertical: var(--mer-spacing--md);
    --ds-form-control-gap--horizontal: var(--mer-spacing--md);
    --ds-form-control-color: var(--mer-text__bright);
    --ds-form-control-placeholder-color: var(--mer-text__on-surface);
    --ds-form-control-placeholder-style: italic;
    --ds-form-control-background-color: var(--mer-color__surface);
    --ds-form-control-border: var(--mer-border__width--sm) solid
      var(--mer-border-color__dim);
    --ds-form-control-border-color--hover: var(--mer-color__neutral-gray--00);
    --ds-form-control-border-radius: var(--mer-border__width--lg);
    --ds-form-control-font-size: var(--mer-font__size--xxs);
    --ds-form-control-padding-horizontal: var(--mer-spacing--xs);
    --ds-form-control-padding-vertical: var(--mer-spacing--xs);
    /*--- Colors ---*/
    --ds-row-background-color-odd: var(--mer-color__surface);
    --ds-row-background-color-even: var(--mer-color__surface);
    --ds-row-background-color-odd--hover: var(
      --ds-item-background-color--hover
    );
    --ds-row-background-color-even--hover: var(
      --ds-item-background-color--hover
    );
    --ds-border-color--regular: var(--mer-border-color__dim);
    --ds-border-color--regular: var(--mer-border-color__on-elevation--01);
    /*focus*/
    --ds-focus-border-width: var(--mer-border__width--sm);
    --ds-focus-border-color: var(--mer-border-color__primary--focused);
    /*item*/
    --ds-item-background-color--hover: var(--mer-item__background-color--hover);
    --ds-item-background-color--selected: var(
      --mer-item__background-color--selected
    );
    --ds-item-background-color--selected-hover: var(
      --mer-item__background-color--selected-hover
    );
    --ds-item-border-color: var(--mer-color__elevation--01);
    --ds-item-border-color--selected: var(--mer-item__border-color--selected);
    --ds-item-color--selected: var(--mer-text__on-surface);
    /*active*/
    --ds-item-background-color--active: var();
    --ds-color--active: var();
    /*disabled*/
    --ds-border-color-disabled: var(--mer-accent__primary--disabled);
    --ds-background-color-disabled: var(--mer-color__neutral-gray--1100);
    --ds-color-disabled: var(--mer-text__primary--disabled);
    --ds-color-on-disabled: var(--mer-text__on-disabled);
    --ds-icon-color-disabled: var(--mer-icon__primary--disabled);
    --ds-icon-color-on-disabled: var(--mer-icon__on-disabled);
    /*checkbox*/
    --ds-checkbox-size: var();
    /*scrollbar*/
    --gxg-scrollbar-width: var(--mer-spacing--xs);
    --gxg-scrollbar-track-background: var(--mer-color__elevation--03);
    --gxg-scrollbar-track-border-radius: 10px;
    --gxg-scrollbar-track-thumb-background: var(--mer-color__elevation--04);
    --gxg-scrollbar-track-thumb-radius: 10px;
    --gxg-scrollbar-track-thumb-border: none;
    --gxg-scrollbar-track-thumb-hover-background: var(
      --mer-color__elevation--04
    );
    /*Titles*/
    --ds-title-01-font-size: var(--mer-font__size--sm);
    --ds-title-01-font-weight: var(--mer-font__weight--bold);
    --ds-title-02-font-size: var(--mer-font__size-xs);
    --ds-title-02-font-weight: var(--mer-font__weight--bold);
    --ds-title-03-font-size: var(--mer-font__size-xs);
    --ds-title-03-font-weight: var(--mer-font__weight--regular);
    --ds-title-04-font-size: var(--mer-font__size-s);
    --ds-title-04-font-weight: var(--mer-font__weight--semi-bold);
    --ds-title-05-font-size: var(--mer-font__size-xs);
    --ds-title-05-font-weight: var(--mer-font__weight--semi-bold);
    /*Alert / Warning / Message */
    --ds-alert-color--dark: var(--mer-color__message-red--200);
    --ds-alert-color--light: var(--mer-color__message-red--100);
    --ds-warning-color--dark: var(--mer-color__message-yellow--200);
    --ds-warning-color--light: var(--mer-color__message-yellow--100);
    --ds-success-color--dark: var(--mer-color__message-green--200);
    --ds-success-color--light: var(--mer-color__message-green--100);
  }
}

:root.gxg-large {
  --ds-form-text-height: var(--spacing-comp-05);
}
:root.dark:not(.mercury) {
  --ds-filter-brightness--hover: 1.1;
}
