/*********************************
TOKENS FOR TIMING (in miliseconds)
*********************************/
:root {
  --timing-01: 200;
  --timing-02: 500; // + 300
  --timing-03: 1000; // + 500
  --timing-04: 2000; // + 1000
  --timing-05: 3500; // + 1500
  --timing-06: 5000; // + 1500
  --timing-07: 7000; // + 2000
  --timing-08: 9000; // + 2000
  --timing-09: 12000; // + 3000
  --timing-10: 15000; // + 3000
}
