//STATES
//Primary
:root {
  --color-primary-enabled: #0266a0;
  --color-primary-active: #005688;
  --color-primary-hover: #0077de;
  --color-primary-disabled: #828385;
  --color-primary-active--inverted: #4ba3d4; /*Added by Bruno (improve button primary focus contrast)*/

  &.mercury {
    --color-primary-enabled: #2070ce;
    //--color-primary-active: no está definida
    //--color-primary-hover:  no está definida
    --color-primary-disabled: #b3b3b3;
    --color-primary-active--inverted: #005688; /*Added by Bruno (improve button primary focus contrast)*/
  }
}
:root.dark {
  --color-primary-enabled: #91c8e4;
  --color-primary-active: #4ba3d4;
  --color-primary-hover: #8dcbff;
  --color-primary-disabled: #828385;
  --color-primary-active--inverted: #335884; /*Added by Bruno (improve button primary focus contrast)*/

  &.mercury {
    --color-primary-enabled: #5ba7ff;
    --color-primary-active: #335884;
    --color-primary-hover: #437dc0;
    --color-primary-disabled: #333333;
    //--color-primary-active--inverted: #005688; /*Added by Bruno (improve button primary focus contrast)*/
  }
}
//Secondary
:root {
  --color-secondary-enabled: #cfdee6;
  --color-secondary-enabled--hover: #ddecf4; /*added by Bruno*/
  --color-secondary-active: #6a8c9f;
  --color-secondary-hover: #97b0bf;
  --color-secondary-disabled: #828385;

  // No están definidos
  // &.mercury {
  //   --color-secondary-enabled: ;
  //   --color-secondary-enabled--hover: ; /*added by Bruno*/
  //   --color-secondary-active: ;
  //   --color-secondary-hover: ;
  //   --color-secondary-disabled: ;
  // }
}
:root.dark {
  --color-secondary-enabled: #5d7c8d;
  --color-secondary-enabled--hover: #6e8d9dad; /*added by Bruno*/
  --color-secondary-active: #3f5460;
  --color-secondary-hover: #4d6776;
  --color-secondary-disabled: #828385;

  // No están definidos
  // &.mercury {
  //   --color-secondary-enabled: ;
  //   --color-secondary-enabled--hover: ; /*added by Bruno*/
  //   --color-secondary-active: ;
  //   --color-secondary-hover: ;
  //   --color-secondary-disabled: ;
  // }
}
//Opacity 0.1
:root {
  --color-primary-hover-opacity-01: rgba(0, 119, 222, 0.1);
}
:root.dark {
  --color-primary-hover-opacity-01: rgba(141, 203, 255, 0.1);
}
//ON COLORS
:root {
  --color-on-primary: #fff;
  --color-on-secondary: #000;
  --color-on-background: #000;
  --color-on-alert: #000;
  --color-on-disabled: #a4a5a6;
  --color-always-black: #000;
  --color-always-white: #fff;

  &.mercury {
    --color-on-primary: #ffffff;
    //--color-on-secondary: ; no está definido
    --color-on-background: #696969;
    --color-on-alert: #ffffff;
    --color-on-disabled: #7f7f7f;
    --color-always-black: #000;
    --color-always-white: #fff;
  }
}
:root.dark {
  --color-on-primary: #1d1e22;
  --color-on-secondary: #fff;
  --color-on-background: #fff;
  --color-on-alert: #fff;
  --color-on-disabled: #616164;
  --color-always-black: #000;
  --color-always-white: #fff;

  &.mercury {
    --color-on-primary: #1a1a1a;
    //--color-on-secondary: ; no está definido
    --color-on-background: #999999;
    --color-on-alert: #333333;
    --color-on-disabled: #666666;
    --color-always-black: #000;
    --color-always-white: #fff;
  }
}
//GEMINI COLORS
:root {
  --color-primary: var(--color-primary-enabled);
  --color-secondary: var(--color-secondary-enabled);
  &.mercury {
    --color-primary: #2070ce;
    //--color-secondary: ; no está definido
  }
}
:root.dark {
  --color-primary-rgb: var(--color-primary-enabled);
  --color-secondary: var(--color-secondary-enabled);
  &.mercury {
    --color-primary: #5ba7ff;
    //--color-secondary: ; no está definido
  }
}
//BACKGROUND COLORS
:root {
  --color-background: #fff;
  --color-background--rgb: 255, 255, 255; /*added by Bruno for the ide-loader*/
  --color-shadow--rgb: 0, 0, 0; /*added by Bruno for gx-ide-ui shadows*/
  &.mercury {
    --color-background: #ffffff;
  }
}
:root.dark {
  --color-background: #1d1e22;
  --color-background--rgb: 0, 0, 0; /*added by Bruno for the ide-loader*/
  --color-shadow--rgb: 255, 255, 255; /*added by Bruno for gx-ide-ui shadows*/
  &.mercury {
    --color-background: #1a1d20;
  }
}
//ALERT COLORS
:root {
  --color-error-dark: #f02031;
  --color-error-light: #ffeaee;
  --color-warning-dark: #ff8000;
  --color-warning-light: #ffe7e6;
  --color-success-dark: #02a08b;
  --color-success-light: #e1f3f1;
  &.mercury {
    --color-error-dark: #e35861;
    --color-error-light: #fb7c84;
    --color-warning-dark: #f9bd56;
    --color-warning-light: #ffc96b;
    --color-success-dark: #5dc599;
    --color-success-light: #64d9a8;
  }
}
:root.dark {
  --color-error-dark: #f9464e;
  --color-error-light: #281617;
  --color-warning-dark: #ffab13;
  --color-warning-light: #292011;
  --color-success-dark: #50beae;
  --color-success-light: #172221;
  &.mercury {
    --color-error-dark: #e35861;
    --color-error-light: #fb7c84;
    --color-warning-dark: #f9bd56;
    --color-warning-light: #ffc96b;
    --color-success-dark: #5dc599;
    --color-success-light: #64d9a8;
  }
}

//GRAY COLORS
:root {
  --gray-00: #f4f4f4; /*added by Bruno*/
  --gray-01: #e8e8e9;
  --gray-02: #c6c6c7;
  --gray-02--rgb: 198, 198, 199; /*added by Bruno for the ide-loader*/
  --gray-03: #a4a5a6;
  --gray-04: #828385;
  --gray-05: #616164;
  --gray-06: #3e3f42;
  --gray-07: #28292d;

  &.mercury {
    --gray-00: #ffffff;
    --gray-01: #cccccc;
    --gray-02: #b3b3b3;
    --gray-02--rgb: 179, 179, 179; /*added by Bruno for the ide-loader*/
    --gray-03: #999999;
    --gray-04: #7f7f7f;
    --gray-05: #666666;
    --gray-06: #4d4d4d;
    --gray-07: #333333;
    /*new (only for mercury)*/
    --gray-08: #cccccc;
    --gray-09: #ffffff;
    --gray-10: #f8f8f8;
    --gray-11: #f1f1f1;
    --gray-12: #e4e4e4;
    --gray-13: #dedede;
  }
}

:root.dark {
  --gray-00: #232326; /*added by Bruno*/
  --gray-01: #28292d;
  --gray-02: #3e3f42;
  --gray-02--rgb: 62, 63, 66; /*added by Bruno for the ide-loader*/
  --gray-03: #616164;
  --gray-04: #828385;
  --gray-05: #a4a5a6;
  --gray-06: #c6c6c7;
  --gray-07: #e8e8e9;

  &.mercury {
    --gray-00: #333333;
    --gray-01: #4d4d4d;
    --gray-02: #666666;
    --gray-02--rgb: 102, 102, 102; /*added by Bruno for the ide-loader*/
    --gray-03: #7f7f7f;
    --gray-04: #999999;
    --gray-05: #b3b3b3;
    --gray-06: #cccccc;
    --gray-07: #ffffff;
    /*new (only for mercury)*/
    --gray-08: #1a1a1a;
    --gray-09: #000000;
    --gray-10: #1f2225;
    --gray-11: #24272a;
    --gray-12: #2d3032;
    --gray-13: #3b3e40;
  }
}
//ICONS
:root {
  //Enabled
  --icons01-enabled: #0266a0;
  --icons02-enabled: #605cab;
  --icons03-enabled: #00746b;
  --icons04-enabled: #00a99d;
  --icons05-enabled: #39b54a;
  --icons06-enabled: #ed145b;
  --icons07-enabled: #f26522;
  --icons08-enabled: #f7941d;
  --icons09-enabled: #616164;
  //Active
  --icons01-active: #004a81;
  --icons02-active: #484099;
  --icons03-active: #02645b;
  --icons04-active: #00998c;
  --icons05-active: #2fa640;
  --icons06-active: #dc105a;
  --icons07-active: #e75e1e;
  --icons08-active: #f3891b;
  --icons09-active: #3e3f42;
  //Hover
  --icons01-hover: #2088c2;
  --icons02-hover: #9e9ecc;
  --icons03-hover: #009187;
  --icons04-hover: #7ccdc7;
  --icons05-hover: #79cc81;
  --icons06-hover: #f4608d;
  --icons07-hover: #f59065;
  --icons08-hover: #fab454;
  --icons09-hover: #828385;
  //Disabled
  --icons-disabled: #a4a5a6;
}
:root.dark {
  //Enabled
  --icons01-enabled: #4ba3d4;
  --icons02-enabled: #9e9ecc;
  --icons03-enabled: #24a19a;
  --icons04-enabled: #7ccdc7;
  --icons05-enabled: #a1daa5;
  --icons06-enabled: #f4608d;
  --icons07-enabled: #f59065;
  --icons08-enabled: #fab454;
  --icons09-enabled: #a4a5a6;
  //Active
  --icons01-active: #4497c6;
  --icons02-active: #7979b8;
  --icons03-active: #009088;
  --icons04-active: #45b9b1;
  --icons05-active: #7bcc81;
  --icons06-active: #f03d73;
  --icons07-active: #f37943;
  --icons08-active: #f9a533;
  --icons09-active: #c6c6c7;
  //Hover
  --icons01-hover: #6abee0;
  --icons02-hover: #c4c4e1;
  --icons03-hover: #7ec8c5;
  --icons04-hover: #b0e0dd;
  --icons05-hover: #c6e8c8;
  --icons06-hover: #f78ead;
  --icons07-hover: #facebc;
  --icons08-hover: #fddfb4;
  --icons09-hover: #828385;
  //Disabled
  --icons-disabled: #3e3f42;
}

//BPM
:root {
  --color-bpm-01: #ff9a1b;
  --color-bpm-02: #1b82ff;
  --color-bpm-03: #ffed39;
  --color-bpm-04: #ff261b;
  --color-bpm-05: #2dcf76;

  --color-bpm-start: #87cf2d;
  --color-bpm-end: #ff261b;
  --color-bpm-gateways: #2dcf76;
  --color-bpm-intermediate: #3e3f42;
}
:root.dark {
  --color-bpm-01: #ffb754;
  --color-bpm-02: #5bb2ff;
  --color-bpm-03: #fef69c;
  --color-bpm-04: #f89491;
  --color-bpm-05: #96e3b0;

  --color-bpm-start: #87cf2d;
  --color-bpm-end: #ff261b;
  --color-bpm-gateways: #2dcf76;
  --color-bpm-intermediate: #c6c6c7;
}
