/*********************************
TOKENS FOR SPACING COMPONENTS
*********************************/
/*This is the spacing for the components itself (inside the component)*/
:root {
  --spacing-comp-01: 4px;
  --spacing-comp-02: 8px;
  --spacing-comp-03: 12px;
  --spacing-comp-04: 16px;
  --spacing-comp-05: 24px;
  --spacing-comp-06: 32px;
  --spacing-comp-07: 40px;
}

/*********************************
TOKENS FOR SPACING LAYOUT
*********************************/
/*This is the spacing for the layout/environment in which the components are embedded (outside the component)*/
/*
Note: this set of spacing values (xs, s, etc...) have been added as a spacing type to the alert component,
and maybe to other components as well. If you are going to add a new spacing value (for example xxs, or xxl)
you will need to also add that new value to all the components that are making use of this spacing values.
*/
:root {
  --spacing-lay-xs: 4px; //xs
  --spacing-lay-s: 8px; //s
  --spacing-lay-m: 16px; //m
  --spacing-lay-l: 32px; //l
  --spacing-lay-xl: 64px; //xl
}
