:root {
  --mer-text__on-surface: var(--mer-color__neutral-gray--300);
  --mer-text__on-primary: var(--mer-color__neutral-gray--800);
  --mer-text__on-primary--active: var(--mer-color__neutral-gray--00);
  --mer-text__on-disabled: var(--mer-color__neutral-gray--500);
  --mer-text__on-message: var(--mer-color__neutral-gray--700);
  --mer-text__on-elevation: var(--mer-color__neutral-gray--00);
  --mer-text__primary: var(--mer-accent__primary);
  --mer-text__primary--hover: var(--mer-accent__primary--hover);
  --mer-text__primary--active: var(--mer-accent__primary--active);
  --mer-text__primary--disabled: var(--mer-accent__primary--disabled);
  --mer-text__neutral: var(--mer-color__neutral-gray--200);
  --mer-text__highlighted: var(--mer-color__neutral-gray--100);
  --mer-text__bright: var(--mer-color__neutral-gray--00);
}
