@import "../../globals/normalize";
@import "../../globals/mixins";
@import "../../globals/form-validation";

:host {
  $itemsContainerBorderRadius: var(--border-radius-md);
  font-family: var(--font-family-primary);
  display: block;

  gxg-form-text::part(input) {
    padding-inline-end: var(--spacing-comp-05);
  }
  gxg-form-text.clear-icon::part(input) {
    padding-inline-end: calc(var(--spacing-comp-05) * 2);
  }

  .main-container {
    .outer-wrapper {
      display: flex;
      //gap: var(--spacing-comp-01);
      align-items: center;
    }

    .label {
      font-size: var(--font-size-sm);
      margin-bottom: var(--spacing-lay-xs);
    }
    width: 100%;
    position: relative;

    .search-container {
      flex: 1;
      position: relative;
      .buttons-wrapper {
        position: absolute;
        top: 2px;
        height: calc(100% - 4px);
        display: flex;
        align-items: center;
        padding-inline-start: var(--spacing-comp-01);
        inset-inline-end: 2px;

        .button-icon {
          height: 20px;
          width: 20px;
        }
      }
    }
    .items-container {
      border: var(--border-width-sm) solid var(--gxg-border-color--regular);
      border-radius: $itemsContainerBorderRadius;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top-width: 0;
      overflow-y: auto;
      overscroll-behavior: contain;
      background-color: var(--color-background);
      position: fixed;
      width: inherit;
      box-sizing: border-box;
      z-index: 999;
      display: none;
      @include gxg-scrollbar();

      &--show {
        display: block;
      }
      &--no-match {
        display: none;
      }

      .no-ocurrences-found {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        color: var(--color-on-background);
        padding: var(--spacing-comp-01);
        background-color: var(--color-background);

        span {
          display: block;
          color: var(--gray-04);
        }
      }

      &.exact-match {
        overflow-y: hidden;
      }
    }
    /*POSITION TOP*/
    .items-container {
      &--above {
        transform: translateY(calc(-100% - 24px));
        border-top-width: 1px;
        border-bottom-width: 0;
        border-top-left-radius: $itemsContainerBorderRadius;
        border-top-right-radius: $itemsContainerBorderRadius;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
  .search-and-items-container {
    flex: 1;
  }
}
/*label position*/
:host([label-position="start"]) {
  .main-container {
    display: flex;
    flex-direction: row;
  }
}

/*********************************************
VALIDATION
**********************************************/
.messages-wrapper {
  @include messages-wrapper();
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/

:host(.large) {
  .main-container {
    .label {
      display: flex;
      font-size: var(--font-size-lg);
      margin-bottom: var(--spacing-lay-xs);
      line-height: 1.455em;
    }
    .items-container {
      .no-ocurrences-found {
        font-size: var(--font-size-lg);
      }
    }
  }
}
