@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  @include gxg-scroll;
  font-family: var(--font-family-primary);

  display: block;

  .main-container {
    .label {
      font-size: var(--font-size-sm);
      margin-bottom: var(--spacing-lay-xs);
    }
    width: 100%;
    position: relative;

    .search-container {
      position: relative;

      .arrow-down-icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .delete-icon {
        position: absolute;
        right: 15px;
        top: 0;
        margin-inline-end: var(--spacing-comp-01);
      }
      .arrow-down-icon,
      .delete-icon {
        cursor: pointer;
        z-index: 2;
        &:hover {
          opacity: 0.75;
        }
      }
      .layer {
        position: absolute;
        display: inline-block;
        width: 40px;
        height: calc(100% - 2px);
        background-color: var(--color-background);
        right: 1px;
        top: 1px;
        z-index: 1;
      }
    }
    .items-container {
      border-width: var(--border-width-sm);
      border-style: solid;
      border-color: var(--gray-04);
      border-radius: var(--border-radius-md);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top-width: 0;
      max-height: 144px;
      overflow-y: auto;
      overscroll-behavior: contain;
      background-color: var(--color-background);
      position: fixed;
      width: inherit;
      box-sizing: border-box;
      z-index: 999;
      display: none;

      &--show {
        display: block;
      }

      .no-ocurrences-found {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        color: var(--color-on-background);
        padding: var(--spacing-comp-01);
        background-color: var(--color-background);

        span {
          display: block;
          color: var(--gray-04);
        }
      }

      &.exact-match {
        overflow-y: hidden;
      }
    }
  }
}

:host(.filter-disabled) {
  gxg-form-text::part(input) {
    cursor: pointer;
    background-color: var(--color-background);
  }
}

:host(.position-top) {
  .items-container {
    transform: translateY(calc(-100% - 24px));
    border-top-width: 1px;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/

:host(.large) {
  .main-container {
    .label {
      display: flex;
      font-size: var(--font-size-lg);
      margin-bottom: var(--spacing-lay-xs);
      line-height: 1.455em;
    }
    .items-container {
      .no-ocurrences-found {
        font-size: var(--font-size-lg);
      }
    }
  }
}
