@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  @include gxg-scroll;
  font-family: var(--font-family-primary);

  display: block;

  .main-container {
    .label {
      font-size: var(--font-size-sm);
      margin-bottom: var(--spacing-lay-xs);
    }
    width: 100%;
    position: relative;

    .search-container {
      position: relative;
      .buttons-wrapper {
        background-color: var(--color-background);
        position: absolute;
        right: 2px;
        top: 2px;
        height: calc(100% - 4px);
        display: flex;
        align-items: center;
        padding-inline-start: var(--spacing-comp-01);

        .button-icon {
          height: 20px;
          width: 20px;
        }
      }
    }
    .items-container {
      border-width: var(--border-width-sm);
      border-style: solid;
      border-color: var(--gray-04);
      border-radius: var(--border-radius-md);
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top-width: 0;
      max-height: 144px;
      overflow-y: auto;
      overscroll-behavior: contain;
      background-color: var(--color-background);
      position: fixed;
      width: inherit;
      box-sizing: border-box;
      z-index: 999;
      display: none;

      &--show {
        display: block;
      }
      &--no-match {
        display: none;
      }

      .no-ocurrences-found {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        color: var(--color-on-background);
        padding: var(--spacing-comp-01);
        background-color: var(--color-background);

        span {
          display: block;
          color: var(--gray-04);
        }
      }

      &.exact-match {
        overflow-y: hidden;
      }
    }
  }
}

:host(.filter-disabled) {
  gxg-form-text::part(input) {
    cursor: pointer;
    background-color: var(--color-background);
  }
}

:host(.position-top) {
  .items-container {
    transform: translateY(calc(-100% - 24px));
    border-top-width: 1px;
  }
}

/*********************************************
RTL
**********************************************/
:host(.rtl) {
  .buttons-wrapper {
    right: auto !important;
    left: 2px;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/

:host(.large) {
  .main-container {
    .label {
      display: flex;
      font-size: var(--font-size-lg);
      margin-bottom: var(--spacing-lay-xs);
      line-height: 1.455em;
    }
    .items-container {
      .no-ocurrences-found {
        font-size: var(--font-size-lg);
      }
    }
  }
}
