@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}

:host(.xs) {
  height: var(--spacing-lay-xs);
  width: var(--spacing-lay-xs);
}
:host(.s) {
  height: var(--spacing-lay-s);
  width: var(--spacing-lay-s);
}
:host(.m) {
  height: var(--spacing-lay-m);
  width: var(--spacing-lay-m);
}
:host(.l) {
  height: var(--spacing-lay-l);
  width: var(--spacing-lay-l);
}
:host(.xl) {
  height: var(--spacing-lay-xl);
  width: var(--spacing-lay-xl);
}
