@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Rubik:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
:root {
  --gwds__color--dark-900: #1b1f23;
  --gwds__color--dark-800: #3b4044;
  --gwds__color--dark-700: #5a5f63;
  --gwds__color--dark-300: #d9d9d9;
  --gwds__color--violet-300: #9a7fda;
  --gwds__color--violet-500: #6c48c9;
  --gwds__color--white: #fff;
  --gwds__space--md: 32px;
  --gwds__space--xs: 8px;
  --gwds__space--sm: 16px;
  --gwds__font-weight--regular: 400;
  --gwds__radius--xs: 8px;
}

/***********************
GENERAL STYLES
***********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
body {
  /*font-family: "Rubik", sans-serif;*/
  background-color: #f4f5f5;
}
body.dark {
  background-color: #1a1d20;
  color: var(--gwds__color--dark-300);
}
.container {
}
hr {
  opacity: 0.1;
}
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}

/*!
 * Bootstrap Grid v5.0.2 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

/***********************
BOOTSTRAP
***********************/

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.col {
  flex: 1 0 0%;
}

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%;
  }
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
/***********************
END OF BOOTSTRAP
***********************/

/***********************
CUSTOM STYLES
***********************/
/*SEARCH INPUT*/
.search-components {
  background-color: transparent;
}

body {
  margin: 0;
  background-color: var(--color-background);
}
.header-dev {
  background-color: var(--gray-07);
  color: var(--gray-01);
  padding: var(--gwds__space--sm) var(--gwds__space--sm);
  margin-bottom: var(--gwds__space--md);
  display: flex;
  justify-content: space-between;
}
.header-dev .right {
  display: flex;
  gap: var(--gwds__space--xs);
}
.header-dev h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}
.code-wrapper {
  color: var(--gray-07);
  padding: var(--gwds__space--sm);
  margin-top: var(--gwds__space--sm);
  border: 1px solid var(--gray-02);
  display: block;
  margin-bottom: var(--gwds__space--sm);
  font-size: 12px;
}
.code-wrapper .note {
  margin-top: 4px;
  font-size: 12px;
  line-height: 1.4em;
}
.code-wrapper pre {
  margin-bottom: 0 !important;
}
.title {
  margin-bottom: 0;
  margin-top: var(--gwds__space--md);
}
p {
  font-family: var(--ds-base-font-family-primary);
}
.list {
  font-family: var(--ds-base-font-family-primary);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: var(--gwds__space--xs);
  margin-top: var(--gwds__space--md);
  font-weight: var(--gwds__font-weight--regular);
  padding: 0;
  margin-bottom: var(--gwds__space--sm);
  list-style-type: none;
}
.list li a {
  display: block;
  border-radius: var(--gwds__radius--xxs);
  border: 1px solid var(--gwds__color--dark-700);
  padding: var(--gwds__space--sm);
  text-decoration: none;
  color: var(--gwds__color--violet-300);
  border: 1px solid var(--gwds__color--violet-500);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
}
.list li a:hover {
  background-color: var(--gwds__color--violet-500);
  color: var(--gwds__color--white);
}
.list li a:visited {
  /* color: var(--gwds__color--dark-700);
  border-color: var(--gwds__color--dark-700); */
}
.list li a:visited:hover {
  color: var(--gwds__color--white);
  /* border-color: var(--gwds__color--dark-700);
  background-color: var(--gwds__color--dark-800); */
}
.hide {
  display: none;
}
.h4 {
  color: var(--gwds__color--dark-300);
  font-size: 18px;
}
/*responsive*/
@media screen and (max-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 991px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
/***********************
/END OF CUSTOM STYLES
***********************/

/********************************
PRISM SYNTAX HIGHLIGHTER
********************************/
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--gray-00) !important;
}
code[class*="language-"],
pre[class*="language-"] {
  text-shadow: none !important;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--color-success-dark) !important;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--color-primary-enabled) !important;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color-warning-dark) !important;
}
/********************************
/END OF PRISM SYNTAX HIGHLIGHTER
********************************/

/********************************
SINGLE PAGE
********************************/
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
html {
  --separation-space: 48px;
  --nav-bar-height: 32px;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 72px 36px 72px 36px;
  border-block-end: 3px dotted var(--color-primary-enabled);
}
.container.no-separator {
  border-block-end: 0;
}
body {
  background-color: var(--ds-base-background-color);
  color: var(--ds-base-font-color);
  transition: 250ms opacity;
  opacity: 1;
}
body.opacity-0 {
  opacity: 0;
}
body:not(.home) h1 {
  font-family: "Ubuntu Mono";
  font-size: 20px;
  color: var(--color-primary-enabled);
  margin-bottom: 0;
  margin-top: 0;
}
section h2 {
  margin-top: -8px; /*fix line height space*/
  margin-block-end: var(--separation-space);
  font-size: 36px;
  font-weight: 400;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--mer-font__size--md);
  font-weight: 500;
}
section {
  padding: var(--separation-space) 0 calc(var(--separation-space) + 6px) 0;
  border-block-end: 1px solid var(--gray-01);
}
section:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
section[borderless] {
  border-block-end: 0;
}
article {
  gap: var(--spacing-comp-03);
}
.articles-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.articles-container article {
  display: flex;
  flex-direction: column;
}
.articles-container article > * {
  font-family: var(--ds-base-font-family-primary);
}
.articles-container article p {
  line-height: var(--ds-base-font-line-height--comfortable);
}
article .example {
  margin-top: 16px;
  /* display: flex;
  gap: 16px; */
}
article > p {
  /*font-size: 13px;*/
  margin-bottom: 0;
}
.actions {
  margin-block-start: 16px;
}
code {
  display: block;
  font-size: 16px;
  color: var(--gray-03);
  font-family: "Ubuntu Mono";
  display: inline-block;
  /*padding: var(--spacing-comp-01) var(--spacing-comp-02);*/
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
}
html.has-navbar body {
  margin-top: var(--nav-bar-height);
}
code[pill] {
  /* border: 2px solid var(--gray-00);
  border-radius: var(--border-radius-sm);
  align-self: flex-start; */
}
/* .pills-container {
  display: flex;
  gap: 8px;
}
.no-margin {
  margin: 0;
} */
/********************************
/ SINGLE PAGE
********************************/
