@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: flex;
  align-items: center;
  @include gxg-text();
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  margin-bottom: 0;
  margin-left: -2px;
  margin-top: 3px;
  animation-name: errorMessage;
  animation-duration: 0.5s;
  position: relative;
}

@keyframes errorMessage {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
