@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: flex;
  align-items: center;
  @include gxg-text();

  gxg-icon {
    height: 10px;
    width: 15px;
    margin-inline-end: var(--gxg-form-message-icon__margin-inline-end);
  }
}
:host([type="error"]) {
  color: var(---ds-base-font-color--error);
}
:host([type="warning"]) {
  color: var(--ds-base-font-color--warning);
}

@keyframes errorMessage {
  from {
    top: -5px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
