/*****************************************************
'PRIMARY TEXT ONLY' && 'PRIMARY TEXT ICON' BUTTON TYPE
*****************************************************/
@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-block;
}
:host(.button) .button-native {
  background: var(--color-primary-enabled);

  border: 0;
  box-shadow: inset 0px 0px 0px 1px transparent;
  border-radius: var(--border-radius-sm);

  color: var(--color-on-primary);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: var(--outline-width-regular);
  margin-right: var(--outline-width-regular);
  margin-bottom: var(--outline-width-regular);
  margin-left: var(--outline-width-regular);

  padding-top: 0;
  padding-right: var(--spacing-comp-05);
  padding-bottom: 0;
  padding-left: var(--spacing-comp-05);

  min-height: var(--spacing-comp-05);

  font-family: var(--font-family-primary);
  font-size: var(--font-size-md);
  font-style: var(--font-style-regular);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-comp-regular);
  line-height: var(--line-height-regular);

  //if button has icon:
  ::slotted([slot="icon"]) {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: var(--spacing-comp-01);
    display: inline-block;
  }

  &:hover:not([disabled]) {
    background: var(--color-primary-hover);
    color: var(--color-on-primary);
    cursor: pointer;
  }
  &:focus:not([disabled]) {
    background: var(--color-primary-enabled);
    color: var(--color-on-primary);
    box-shadow: inset 0px 0px 0px 2px var(--color-primary-active);
    outline: none;
  }
  &:active:not([disabled]) {
    background: var(--color-primary-active);
    color: var(--color-on-primary);
  }

  //Transition
  transition: background $ui-animaton-speed $ui-animation-timing-function,
    color $ui-animaton-speed $ui-animation-timing-function,
    box-shadow $ui-animaton-speed $ui-animation-timing-function;
}
:host(.button.button--disabled) .button-native {
  background: var(--color-primary-disabled);
  color: var(--color-on-disabled);
  cursor: not-allowed;

  //if button has icon:
  ::slotted([slot="icon"]) {
    opacity: var(--icon-hover-opacity);
  }
}

/*********************************
PRIMARY 'TEXT ONLY' BUTTON TYPE
*********************************/
:host(.button--primary-text-only) .button-native {
}

/*********************************
PRIMARY 'TEXT + ICON' BUTTON TYPE
*********************************/
:host(.button--primary-text-icon) .button-native {
  //Redefine icon color for this button type
  ::slotted([slot="icon"]) {
    --icon-color: var(--color-on-primary);
  }
}

/*********************************
'PRIMARY ICON ONLY' BUTTON TYPE
*********************************/
:host(.button--primary-icon-only) .button-native {
  //Redefine icon color for this button type
  --button-icon-color: var(--color-on-primary);

  background: var(--color-primary-enabled);
  color: var(--color-white);

  &:hover:not([disabled]) {
    background: var(--color-primary-hover);
    color: var(--color-white);
  }
  &:focus:not([disabled]) {
    background: var(--color-primary-enabled);
    color: var(--color-white);
  }
  &:active:not([disabled]) {
    background: var(--color-primary-active);
    color: var(--color-white);
  }

  ::slotted([slot="icon"]) {
    margin-right: 0;
    --icon-color: var(--color-on-primary);
  }

  padding-right: 0;
  padding-left: 0;

  min-width: var(--spacing-comp-05);

  &:focus {
    outline: none;
  }
}

/*********************************
SECONDARY 'TEXT ONLY' BUTTON TYPE
*********************************/

:host(.button--secondary-text-only) .button-native {
  // This are the styles for 'secondary button' type.

  //Enabled
  background: transparent;
  color: var(--color-primary-enabled);

  &:hover:not([disabled]) {
    background: rgba(var(--color-primary-hover-rgb), 0.1);
    color: var(--color-primary-hover);
  }
  &:focus:not([disabled]) {
    background: transparent;
    color: var(--color-primary-enabled);
  }
  &:active:not([disabled]) {
    color: var(--color-primary-active);
    box-shadow: none;
  }

  padding-right: var(--spacing-comp-04);
  padding-left: var(--spacing-comp-04);

  &:focus {
    outline: none;
  }
}
:host(.button--secondary-text-only.button--disabled) .button-native {
  background: transparent;
  color: var(--color-primary-disabled);
}

/*********************************
'SECONDARY ICON ONLY' BUTTON TYPE
*********************************/
:host(.button--secondary-icon-only) .button-native {
  ::slotted([slot="icon"]) {
    margin-right: 0;
  }

  &:hover:not([disabled]) {
    background: transparent;
    --button-icon-color: var(--color-primary-hover);
  }
  &:focus:not([disabled]) {
    background: transparent;
    --button-icon-color: var(--color-primary-enabled);
  }
  &:active:not([disabled]) {
    background: transparent;
    --button-icon-color: var(--color-primary-active);
  }

  background: transparent;
  padding-right: 0;
  padding-left: 0;
  width: var(--spacing-comp-04);
  height: var(--spacing-comp-04);
  min-width: var(--spacing-comp-04);
  min-height: var(--spacing-comp-04);
}
:host(.button--secondary-icon-only.button--disabled) .button-native {
  background: transparent;
  --button-icon-color: var(--color-primary-disabled);
  cursor: not-allowed;
}

/*********************************
'OUTLINED' BUTTON TYPE
*********************************/

:host(.button--outlined) .button-native {
  // This are the styles for 'outlined button' type.

  box-shadow: inset 0px 0px 0px 1px var(--color-primary-enabled);

  //Enabled
  background: var(--color-white);
  color: var(--color-primary-enabled);
  padding-left: var(--spacing-comp-05);
  padding-right: var(--spacing-comp-05);

  &:hover:not([disabled]) {
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px var(--color-primary-hover);
    color: var(--color-primary-hover);
  }
  &:focus:not([disabled]) {
    background: transparent;
    box-shadow: inset 0px 0px 0px 2px var(--color-primary-active);
    color: var(--color-primary-enabled);
  }
  &:active:not([disabled]) {
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px var(--color-primary-active);
    color: var(--color-primary-active);
  }
}
:host(.button--outlined.button--disabled) .button-native {
  box-shadow: inset 0px 0px 0px 1px var(--color-primary-disabled);
  background: var(--color-transparent);
  color: var(--color-primary-disabled);
  cursor: not-allowed;
}
