@import "../../globals/normalize.scss";
@import "../../globals/mixins";

/*General*/
:host(.button) {
  display: inline-block;
  line-height: 0;
  position: relative;
  .button-native {
    @include gxg-button-styles;
    --svg-icon-regular-scale: var(--svg-icon-small-scale);
    position: relative;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:focus-visible {
      @include form-element-common-styles-focus-type-1("outside");
    }
  }
  gxg-icon {
    margin-inline-end: var(--gxg-button-icon-margin-inline-end);
  }
}

/*Has icon*/
:host(.button--has-icon) {
  .button-native {
    padding-inline-start: var(--gxg-button-icon-padding-start);
  }
}

/*Icon only*/
:host(.button--icon-only) {
  .button-native {
    padding-inline-start: 0;
    padding-inline-end: 0;
    width: var(--gxg-button-height);
  }
  gxg-icon {
    --icon-size: 30px;
    margin-inline-end: 0;
  }
}

/*Primary*/
:host(.button--primary) {
  .button-native {
    background-color: var(--gxg-button-primary-bg-color);
    color: var(--gxg-button-primary-color);
    border-color: var(--gxg-button-primary-border-color);
    --gxg-icon-color: var(--gxg-button-primary-icon-color);
    &:focus-visible {
      outline-color: var(--gxg-button-primary-focus-outline-color);
    }
    &:hover {
      background-color: var(--gxg-button-primary-bg-color-hover);
      color: var(--gxg-button-primary-color-hover);
      border-color: var(--gxg-button-primary-border-color-hover);
      --gxg-icon-color: var(--gxg-button-primary-icon-color-hover);
    }
    &:active {
      background-color: var(--gxg-button-primary-bg-color-active);
      color: var(--gxg-button-primary-color-active);
      border-color: var(--gxg-button-primary-border-color-active);
      --gxg-icon-color: var(--gxg-button-primary-icon-color-active);
    }
  }
}
:host(.button--primary.button--disabled) {
  /*Disabled*/
  .button-native {
    color: var(--ds-color-on-disabled);
    background-color: var(--ds-background-color-disabled);
    border-color: var(--ds-border-color-disabled);
    --gxg-icon-color: var(--ds-icon-color-on-disabled);
  }
}
:host(.button--primary[grab-attention]:not([disabled])) {
  /*Grab Attention*/
  .button-native:not(:hover) {
    animation-name: grabAttentionPrimary;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@keyframes grabAttentionPrimary {
  from {
    background-color: var(--gxg-button-primary-bg-color);
  }
  to {
    background-color: var(--gxg-button-primary-bg-color-hover);
  }
}

/*Secondary*/
:host(.button--secondary) {
  .button-native {
    // padding-inline-start: var(--gxg-button-secondary-lateral-padding);
    // padding-inline-end: var(--gxg-button-secondary-lateral-padding);
    background-color: var(--gxg-button-secondary-bg-color);
    color: var(--gxg-button-secondary-color);
    border-color: var(--gxg-button-secondary-border-color);
    --gxg-icon-color: var(--gxg-button-secondary-icon-color);

    &:hover {
      background-color: var(--gxg-button-secondary-bg-color-hover);
      color: var(--gxg-button-secondary-color-hover);
      border-color: var(--gxg-button-secondary-border-color-hover);
      --gxg-icon-color: var(--gxg-button-secondary-icon-color-hover);
    }
    &:active {
      background-color: var(--gxg-button-secondary-bg-color-active);
      color: var(--gxg-button-secondary-color-active);
      border-color: var(--gxg-button-secondary-border-color-active);
      --gxg-icon-color: var(--gxg-button-secondary-icon-color-active);
    }
  }
}
:host(.button--secondary.button--disabled) {
  /*Disabled*/
  .button-native {
    color: var(--ds-color-disabled);
    --gxg-icon-color: var(--ds-icon-color-disabled);
  }
}

/*Tertiary*/
:host(.button--tertiary) {
  .button-native {
    background-color: var(--gxg-button-tertiary-bg-color);
    color: var(--gxg-button-tertiary-color);
    border-color: var(--gxg-button-tertiary-border-color);
    --gxg-icon-color: var(--gxg-button-tertiary-icon-color);

    &:hover {
      background-color: var(--gxg-button-tertiary-bg-color-hover);
      color: var(--gxg-button-tertiary-color-hover);
      border-color: var(--gxg-button-tertiary-border-color-hover);
      --gxg-icon-color: var(--gxg-button-tertiary-icon-color-hover);
    }
    &:active {
      background-color: var(--gxg-button-tertiary-bg-color-active);
      color: var(--gxg-button-tertiary-color-active);
      border-color: var(--gxg-button-tertiary-border-color-active);
      --gxg-icon-color: var(--gxg-button-tertiary-icon-color-active);
    }
  }
}
:host(.button--tertiary.button--disabled) {
  /*Disabled*/
  .button-native {
    --gxg-icon-color: var(--ds-icon-color-disabled);
  }
}

/*Outlined*/
:host(.button--outlined) {
  .button-native {
    background-color: var(--gxg-button-outlined-bg-color);
    color: var(--gxg-button-outlined-color);
    border-color: var(--gxg-button-outlined-border-color);
    --gxg-icon-color: var(--gxg-button-outlined-icon-color);
    &:hover {
      background-color: var(--gxg-button-outlined-bg-color-hover);
      color: var(--gxg-button-outlined-color-hover);
      border-color: var(--gxg-button-outlined-border-color-hover);
      --gxg-icon-color: var(--gxg-button-outlined-icon-color-hover);
    }
    &:active {
      background-color: var(--gxg-button-outlined-bg-color-active);
      color: var(--gxg-button-outlined-color-active);
      border-color: var(--gxg-button-outlined-border-color-active);
      --gxg-icon-color: var(--gxg-button-outlined-icon-color-active);
    }
  }
}
:host(.button--outlined.button--disabled) {
  .button-native {
    color: var(--ds-color-disabled);
    border-color: var(--ds-border-color-disabled);
    --gxg-icon-color: var(--ds-icon-color-disabled);
  }
}

/*Disabled General*/
:host(.button--disabled) {
  .button-native {
    pointer-events: none;
    color: var(--ds-color--disabled);
  }
}

/*Fit*/
:host(.button--fit) .button-native {
  height: 100% !important;
  width: 100% !important;
}

/*Small*/
:host(.button--small.button--icon-only) .button-native {
  height: var(--ds-icon-size-box--small);
  width: var(--ds-icon-size-box--small);
}

/*Icon only*/
:host(.button--icon-only) .button-native {
  padding: 0;
}
