@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  font-size: 14px;
  p,
  q,
  a {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    line-height: 1.6em;

    &.no-line {
      text-decoration: none;
    }
  }
  .disabled {
    pointer-events: none;
    color: var(--gxg-color--disabled) !important;
  }
}
/*text align*/
:host([text-align="start"]) {
  text-align: start;
  * {
    text-align: start;
  }
}
:host([text-align="center"]) {
  text-align: center;
  * {
    text-align: center;
  }
}
:host([text-align="end"]) {
  text-align: end;
  * {
    text-align: end;
  }
}
/*padding*/
:host([padding="s"]) {
  padding: var(--spacing-comp-01);
}
:host([padding="m"]) {
  padding: var(--spacing-comp-02);
}
/*button like*/
:host([type="button-like"]) {
  button {
    background-color: transparent;
    border: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary-enabled);
    letter-spacing: var(--letter-spacing-xs);
    cursor: pointer;
    &:hover {
      color: var(--color-primary-hover);
    }
    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  .gxg-text,
  .gxg-text--gray,
  .gxg-quote,
  .gxg-link,
  .gxg-link-gray,
  .gxg-alert-error,
  .gxg-alert-warning,
  .gxg-alert-success {
    font-size: var(--font-size-lg);
  }
}

@import "./text-mercury";
