:host(.mercury) {
  color: var(--gray-02);
  .gxg-text,
  .gxg-link {
    font-size: var(--mc-font-size-xs);
  }
  .gxg-text {
    color: inherit;
  }
}
:host(.mercury[italic]) {
  font-style: italic;
}
