@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  font-size: 14px;
  p,
  q,
  a {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 auto;

    &.no-line {
      text-decoration: none;
    }
  }
}

:host([text-align="start"]) {
  text-align: start;
  * {
    text-align: start;
  }
}
:host([text-align="center"]) {
  text-align: center;
  * {
    text-align: center;
  }
}
:host([text-align="end"]) {
  text-align: end;
  * {
    text-align: end;
  }
}
:host([padding="s"]) {
  padding: var(--spacing-comp-01);
}
:host([padding="m"]) {
  padding: var(--spacing-comp-02);
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  .gxg-text,
  .gxg-text--gray,
  .gxg-quote,
  .gxg-link,
  .gxg-link-gray,
  .gxg-alert-error,
  .gxg-alert-warning,
  .gxg-alert-success {
    font-size: var(--font-size-lg);
  }
}

:host(.large) {
  .gxg-text,
  .gxg-text--gray,
  .gxg-quote,
  .gxg-link,
  .gxg-link-gray,
  .gxg-alert-error,
  .gxg-alert-warning,
  .gxg-alert-success {
    font-size: var(--font-size-lg);
  }
}
