@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-block;
  background: var(--color-background);
  border-radius: var(--border-width-md);
  box-shadow: var(--box-shadow-01);

  gxg-icon {
    margin-right: var(--spacing-comp-02);
  }
}
.menu__header {
  border-bottom-style: var(--border-style-regular);
  border-bottom-width: var(--border-width-sm);
  border-bottom-color: var(--gray-04);
}
.menu__header__title {
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--spacing-comp-02) var(--spacing-comp-05) var(--spacing-comp-02);
}
.menuList {
  display: inline-block;
  li {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  margin: 0;
}
.menuList {
  list-style-type: none;
  padding-left: 0;
  :slot {
    display: flex;
  }
}
li {
  display: flex;
  padding: var(--spacing-comp-02) var(--spacing-comp-05) var(--spacing-comp-02)
    var(--spacing-comp-04);
  @include gxg-text();
}
