@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  background: var(--color-background);
  border-radius: var(--border-width-md);
  box-shadow: var(--box-shadow-01);

  .menu__header {
    border-bottom-style: var(--border-style-regular);
    border-bottom-width: var(--border-width-sm);
    border-bottom-color: var(--gray-04);
  }
  .menu__header__title {
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding: var(--spacing-comp-03) var(--spacing-comp-05)
      var(--spacing-comp-03) var(--spacing-comp-05);
  }

  .menuList {
    list-style-type: none;
    display: block;
    padding-left: 0;
    margin: 0;
    @include gxg-text();
  }
}
:host([full-width]) {
  width: 100% !important;
}
:host([tabs]) {
  .menuList {
    ::slotted(gxg-menu-item) {
      text-transform: uppercase;
    }
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
  }
}
