@import "../../globals/mixins";

:host {
  display: block;
  //flex: 1 1 auto !important;
  align-self: center !important;
  line-height: 0;

  .tab-item {
    &--selected {
      .tab-button {
      }
    }
  }
  .tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    color: var(--color-on-background);
    letter-spacing: var(--letter-spacing-regular);
    padding-top: 0;
    padding-right: var(--spacing-comp-05);
    padding-bottom: 0;
    padding-left: var(--spacing-comp-05);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border: 0;
    width: 100%;
    min-height: var(--spacing-comp-06);
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: box-shadow 0.2s ease-in-out;
    background: transparent;
    @include ui-animation(box-shadow);
    &:focus {
      @include form-element-common-styles-focus-type-1;
    }

    &:after {
      content: "";
      width: 100%;
      height: var(--spacing-comp-01);
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
      @include ui-animation(background-color);
    }

    &:hover {
      &:focus {
        outline-color: var(--color-primary-hover);
      }
      cursor: pointer;
      &:after {
        background-color: var(--color-primary-hover);
      }
    }
    &:active {
      &:after {
        background-color: var(--color-primary-active);
      }
    }
    &[disabled] {
      color: var(--color-primary-disabled);
      pointer-events: none;
      &:after {
        background-color: var(--gxg-border-color--disabled);
      }
    }
    &--selected {
      &:after {
        background-color: var(--color-primary-active);
      }
    }
    &--text-icon gxg-icon {
      margin-right: var(--spacing-comp-02);
    }
    &--hidden {
      display: none;
    }
  }
  .tab-button__text {
    display: inline-block;
  }
}

:host([slot="tab-menu"]) {
  .tab-button {
    padding-left: 0;
    padding-right: 0;
  }
}

//is button is inside menu
:host(.menu-button) {
  width: 100%;
  box-sizing: border-box;
  .tab-button {
    padding: 0 var(--spacing-comp-02);
    min-height: calc(var(--spacing-comp-06) * 0.85);
    justify-content: flex-start;
  }
  @include ui-animation(background-color);
  .tab-button {
    &:after {
      display: none;
    }
  }
  .tab-button__text {
    font-size: var(--font-size-md);
  }
  gxg-icon {
    //display: none;
    transform: scale(0.85);
  }
}
:host(.menu-button:hover) {
  background: var(--color-secondary);
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  .tab-button {
    font-size: var(--font-size-lg);
  }
}

/*********************************************
Mercury
**********************************************/
@import "./tab-button-mercury";
