@import "../../globals/mixins";

:host {
  display: block;
  align-self: center !important;
  line-height: 0;

  .tab-item {
    &--selected {
      .tab-button {
      }
    }
  }
  .tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--gxg-tab-button-font-size);
    font-weight: var(--gxg-tab-button-font-weight);
    font-family: inherit;
    text-transform: var(--gxg-tab-button-font-text-transform);
    color: var(--gxg-tab-button-color);
    letter-spacing: var(--letter-spacing-regular);
    padding-top: 0;
    padding-inline-end: var(--gxg-tab-button-horizontal-padding);
    padding-bottom: 0;
    padding-inline-start: var(--gxg-tab-button-horizontal-padding);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border: 0;
    width: 100%;
    height: var(--gxg-tab-button-height);
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    &:focus-visible {
      @include form-element-common-styles-focus-type-1("inside");
    }

    &:after {
      content: "";
      width: 100%;
      height: var(--gxg-tab-button-line-height);
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: transparent;
    }

    &:hover {
      &:focus-visible {
        outline-color: var(--gxg-tab-button-line-background-color-hover);
      }
      cursor: pointer;
      &:after {
        background-color: var(--gxg-tab-button-line-background-color-hover);
      }
    }
    &:active {
      &:focus-visible {
        outline-color: var(--gxg-tab-button-line-background-color-active);
      }
      &:after {
        background-color: var(--gxg-tab-button-line-background-color-active);
      }
    }
    &[disabled] {
      color: var(--ds-color-disabled);
      pointer-events: none;
      &:after {
        background-color: var(--ds-background-color-disabled);
      }
      gxg-icon {
        --gxg-icon-color: var(--ds-icon-color-disabled);
      }
    }
    &--selected {
      color: var(--gxg-tab-button-color--selected);
      &:after {
        background-color: var(--gxg-tab-button-line-background-color);
      }
    }
    &--text-icon gxg-icon {
      margin-right: var(--spacing-comp-02);
    }
    &--hidden {
      display: none;
    }
    gxg-icon {
      --gxg-icon-color: var(--gxg-tab-button-icon-color);
    }
  }
  .tab-button__text {
    display: inline-block;
  }
}

:host([slot="tab-menu"]) {
  .tab-button {
    padding-left: 0;
    padding-right: 0;
  }
}

//if button is inside menu
:host(.menu-button) {
  width: 100%;
  box-sizing: border-box;
  .tab-button {
    padding: 0 var(--gxg-tab-menu-button-padding);
    min-height: calc(var(--gxg-tab-menu-button-min-height) * 0.85);
    justify-content: flex-start;
  }
  .tab-button {
    &:after {
      display: none;
    }
  }
  .tab-button__text {
    font-size: var(--gxg-tab-menu-button-font-size);
  }
  gxg-icon {
    //display: none;
    transform: scale(0.85);
  }
}
:host(.menu-button:hover) {
  background: var(--ds-item-background-color--hover);
}
