@import "../../globals/normalize.scss";
@import "../../globals/mixins";
@import "../../globals/breakpoints";

:host {
  display: block;

  .columns-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

//Columns vertical alignment
:host([align-y="top"]) {
  .columns-container {
    align-items: flex-start;
  }
}
:host([align-y="center"]) {
  .columns-container {
    align-items: center;
  }
}
:host([align-y="bottom"]) {
  .columns-container {
    align-items: flex-end;
  }
}

//Spacing between columns
$sizes: xs, s, m;

@each $size in $sizes {
  :host([space="#{$size}"]) {
    ::slotted(gxg-column) {
      padding-left: var(--spacing-lay-#{$size});
    }
    .columns-container {
      margin-left: calc(var(--spacing-lay-#{$size}) * -1);
    }
  }
}
//none space
:host([space="none"]) {
  ::slotted(gxg-column) {
    padding-left: 0;
  }
  .columns-container {
    margin-left: 0;
  }
}

/******************************
RESPONSIVE
******************************/
//Collapse below lg
:host([collapse-bellow="lg"]) {
  .columns-container {
    @include md {
      display: block;
      margin-left: 0;
      ::slotted(gxg-column) {
        box-sizing: border-box;
        margin-left: 0;
      }
    }
  }
}
