@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-flex;
  align-items: center;
  border-color: var(--gray-02);
  border-width: var(--border-width-sm);
  border-style: var(--border-style-regular);
  border-radius: 11px;
  padding-inline-end: 11px;
  padding-inline-start: 2px;
  opacity: 1;
  margin-bottom: var(--spacing-lay-s);
  height: var(--spacing-lay-m);
  @include ui-animation(opacity);

  .title {
    @include gxg-text;
  }
  .clear-button {
    margin-inline-start: 10px;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
//Static
:host([type="static"]),
:host([type="static-with-action"]) {
  background-color: var(--gray-01);
  border-color: var(--gray-01);
  font-style: italic;
}
:host([type="static-with-action"]) {
  padding-inline-end: 0;
}
//Button
:host([type="button"]) {
  padding-inline-end: 18px;
}
//Button / Button with action
:host([type="button"]:hover),
:host([type="button-with-action"]:hover) {
  border-color: var(--gray-07);
  cursor: pointer;
}
:host([type="button"]:focus),
:host([type="button-with-action"]:focus) {
  border-color: var(--gray-07);
}
:host([type="button"]:active),
:host([type="button-with-action"]:active) {
  border-color: var(--gray-07);
}
//Button with action
:host([type="button-with-action"]) {
  padding-inline-end: 2px;

  .clear-button {
    cursor: pointer;
    opacity: 0.5;
    margin-inline-start: 8px;

    &:hover {
      opacity: 0.75;
    }
  }
}
:host(.hide) {
  opacity: 0;
}
:host(:focus) {
  outline: none;
  //border-color: var(--gray-06);
}
:host([disabled]) {
  border-color: var(--gray-03);
  .title {
    color: var(--gray-03);
  }
  gxg-icon {
    opacity: 0.3;
  }
  pointer-events: none;
}
:host([disabled]:focus) {
  box-shadow: none;
}
