@import "../../globals/mixins";
@import "../../globals/form-validation";
@import "../../globals/common-css-classes";

:host {
  display: block;
  color: var(--gxg-title-editable__color);
  .wrapper {
    font-family: var(--ds-base-font-family-primary);
    position: relative;
    max-width: 100%;
  }
  input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    flex-grow: 1;
    cursor: auto;
    border-bottom: 2px solid transparent;
    &:focus {
      outline: none;
    }
  }
}
/*wrapper*/
.wrapper {
  display: flex;
  align-items: center;
  gap: var(--gxg-title-editable-wrapper__gap);
  font-weight: var(--gxg-title-editable__font-weight);
}
/*editing*/
:host(:not([editing])) {
  input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/*click-to-edit*/
:host([click-to-edit]:not([disable-edition])) {
  .wrapper,
  input {
    cursor: pointer;
  }
}
/*title types*/
:host([title-type="h1"]) {
  .wrapper {
    font-size: var(--gxg-title-editable-h1__font-size);
    text-transform: capitalize;
  }
}
:host([title-type="h2"]) {
  .wrapper {
    font-size: var(--gxg-title-editable-h2__font-size);
  }
}
/*fluid*/
:host([fluid]) {
  .wrapper {
    display: inline-flex;
  }
}
/*focus (optional)*/
:host(.focus--text.editing) {
  input {
    color: var(--gxg-title-editable__color--editing);
  }
}
/*focus (optional)*/
:host(.focus--line.editing) {
  input {
    border-bottom-color: var(--gxg-title-editable__color--editing);
  }
}

/*ghost div: it helps measuring the text width, to make the input as wide as needed (fluid)*/
.ghost {
  font-family: inherit;
  font-size: inherit;
  position: fixed;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
  /*remove from viewport*/
  bottom: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.right-wrapper {
  display: flex;
  align-items: center;
}
