@import "../../globals/form-validation";

ch-suggest {
  font-family: var(--ds-base-font-family-primary);
  font-size: var(--ds-base-font-size);
  color: var(--ds-base-font-color);
  @include gxg-scrollbar();
  /* Label */
  &::part(label) {
    @include form-element-common-styles-label();
    font-size: inherit;
    flex-shrink: 0;
  }
  &[label-position="start"]::part(label) {
    margin-inline-end: var(--gxg-label-separation-horizontal);
  }
  &[label-position="above"]::part(label) {
    margin-block-end: var(--gxg-label-separation-vertical);
  }
  /*Input*/
  &::part(input) {
    font-size: var(--gxg-suggest-input__font-size);
    height: var(--gxg-suggest-input__height);
    border: var(--ds-form-control-border);
    border-radius: var(--ds-form-control-border-radius);
    padding: var(--gxg-suggest-input__padding);
    box-sizing: border-box;
    background-color: var(--gxg-suggest-input__background-color);
    width: 100%;
    flex: auto;
  }
  &::part(input):focus {
    @include form-element-common-styles-focus-type-1();
    outline-offset: -1px;
  }
  /*header*/
  &::part(header) {
    display: block;
    padding-block-end: var(--gxg-suggest-header__padding-block-end);
    display: flex;
    justify-content: flex-end;
  }
  &::part(close-button) {
    @include gxg-button-icon-outlined();
    display: block;
  }
  &::part(close-button)::after {
    content: "✖";
    width: 100%;
    display: block;
    line-height: var(--gxg-suggest-close-button__line-height--after);
    text-align: center;
  }
  &::part(close-button):focus {
    @include form-element-common-styles-focus-type-1();
  }
  /*window*/
  &::part(dropdown) {
    /*mixin shadow*/
    background-color: var(--gxg-suggest-drop-down__background-color);
    margin-top: var(--gxg-suggest-drop-down__margin-top);
    padding: var(--gxg-suggest-drop-down__padding);
    box-shadow: var(--gxg-suggest-drop-down__box-shadow);
    border: var(--gxg-suggest-general__border);
    position: relative;
    top: 2px;
    @include gxg-scrollbar();
  }
}

/*Validation*/
.messages-wrapper {
  @include messages-wrapper();
}
gxg-suggest.gxg-validation--success {
  ch-suggest::part(input) {
    @include form-element-validation-focus("success");
  }
}
gxg-suggest.gxg-validation--warning {
  ch-suggest::part(input) {
    @include form-element-validation-focus("warning");
  }
}

gxg-suggest.gxg-validation--error {
  ch-suggest::part(input) {
    @include form-element-validation-focus("error");
  }
}
/*Disabled*/
gxg-suggest.gxg--disabled {
  ch-suggest {
    pointer-events: none;
  }
  ch-suggest::part(input) {
    @include form-element-common-styles-disabled();
  }
}

gxg-suggest[ellipsis]:not([ellipsis="false"]) {
  ch-suggest-list-item::part(content-wrapper) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}
