ch-suggest-list-item {
  font-size: inherit;
  border-radius: var(--gxg-suggest-list-item__border-radius);
  /*button*/
  &::part(button) {
    padding: var(--gxg-suggest-list-item-button__padding);
    align-items: center;
    gap: var(--gxg-suggest-list-item-button__gap);
    box-sizing: border-box;
    line-height: var(--gxg-suggest-list-item__line-height);

    box-sizing: border-box;
    overflow: hidden;
    &:hover {
      color: var(--gxg-suggest-list-item-button__color--hover);
    }
  }
  &::part(button):focus {
    @include form-element-common-styles-focus-type-1();
  }
  &::part(description)::before {
    content: " - ";
  }
  gxg-icon::part(ch-icon) {
    --icon-size: var(--gxg-suggest-list-item-icon__size);
    margin-right: var(--gxg-suggest-list-item-icon__margin-right);
  }

  &:hover {
    background-color: var(--gxg-suggest-list-item-button__background-color);
  }
}
ch-suggest-list-item + ch-suggest-list {
  margin-block-start: var(--spacing-comp-02);
}
