@import "../../globals/form-validation";

ch-suggest {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-lg);
  color: var(--color-on-background);
  @include gxg-scrollbar();
  // Scroll bar
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--gray-02);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-05);
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray-04);
    cursor: pointer;
  }
  /* Label */
  &::part(label) {
    @include form-element-common-styles-label();
    font-size: inherit;
  }
  &[label-position="start"]::part(label) {
    margin-inline-end: var(--gxg-label-margin-horizontal);
  }
  &[label-position="above"]::part(label) {
    margin-block-end: var(--gxg-label-margin-vertical);
  }
  /*Input*/
  &::part(input) {
    height: var(--spacing-comp-05);
    border: var(--border-width-sm) solid var(--gxg-border-color--regular);
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
    box-sizing: border-box;
    background-color: var(--color-background);
  }
  &::part(input):focus {
    @include form-element-common-styles-focus-type-1();
  }
  &::part(input):focus {
    @include form-element-common-styles-focus-type-1();
  }
  /*header*/
  &::part(header) {
    display: block;
    padding-block-end: var(--spacing-comp-02);
    display: flex;
    justify-content: flex-end;
  }
  &::part(close-button) {
    @include gxg-button-icon-outlined();
    display: block;
  }
  &::part(close-button)::after {
    content: "✖";
    width: 100%;
    display: block;
    line-height: 24px;
    text-align: center;
  }
  &::part(close-button):focus {
    @include form-element-common-styles-focus-type-1();
  }
  /*window*/
  &::part(dropdown) {
    /*mixin shadow*/
    background-color: var(--color-background);
    margin-top: var(--spacing-comp-01);
    padding: var(--spacing-comp-02);
    box-shadow: var(--box-shadow-02);
    @include gxg-scrollbar();
    // Scroll bar
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background-color: var(--gray-02);
      border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--gray-05);
      border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--gray-04);
      cursor: pointer;
    }
  }
}
/*Validation*/
.messages-wrapper {
  @include messages-wrapper();
}
gxg-suggest.gxg-validation--success {
  ch-suggest::part(input) {
    @include form-element-validation-focus("success");
  }
}
gxg-suggest.gxg-validation--warning {
  ch-suggest::part(input) {
    @include form-element-validation-focus("warning");
  }
}

gxg-suggest.gxg-validation--error {
  ch-suggest::part(input) {
    @include form-element-validation-focus("error");
  }
}
/*Disabled*/
gxg-suggest.gxg--disabled {
  ch-suggest {
    pointer-events: none;
  }
  ch-suggest::part(input) {
    @include form-element-common-styles-disabled();
  }
}
