ch-suggest-list {
  margin-block-start: var(--spacing-comp-02);
  font-family: inherit;
  border: var(--border-width-sm) solid var(--gxg-border-color--regular);
  &:first-child {
    margin-block-start: 0;
  }
  &:last-child {
    margin-block-end: 0;
  }
  &::part(title) {
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    margin: var(--spacing-comp-01) 0 0 0;
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
  }
  &:first-child {
    margin-block-start: 0;
  }
}
ch-suggest-list + ch-suggest-list {
  margin-block-start: 0;
  border-block-start: 0;
  &::part(title) {
    margin-block-start: 0;
  }
}
