@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  hr {
    border-top: 0;
    border-color: var(--gray-02-hc);
    margin-top: var(--spacing-lay-s);
    margin-bottom: var(--spacing-lay-s);
  }
}
:host([type="solid"]) {
  hr {
    border-style: solid;
  }
}
:host([type="dashed"]) {
  hr {
    border-style: dashed;
  }
}
