@import "../../globals/mixins";

/**************************
GENERAL
**************************/
$borderColor: var(--ds-border-color--regular);
$iconSize: 70%;

:root {
  --indent: var(--gxg-grid__indent);
}
gxg-grid {
  display: contents;
}
ch-grid {
  border: var(--ds-border-common-styles);
  border-radius: var(--gxg-grid-base__border-radius);
  --focus-style: var(--ds-focus-border-width) solid var(--ds-focus-border-color);
  font-family: var(--ds-base-font-family-primary);
  font-size: var(--gxg-grid-base__font-size);
  color: var(--gxg-grid-base__font-color);
  overflow: hidden;
}
ch-grid::part(main) {
  @include gxg-scrollbar();
}
gxg-grid.no-border {
  ch-grid {
    border: 0;
    border-radius: 0;
  }
}
gxg-grid:focus-visible,
ch-grid:focus-visible {
  outline: none;
}

/**************************
HEADER / FOOTER
**************************/
ch-grid::part(header),
ch-grid::part(footer) {
  /*padding: var(--spacing-comp-01);*/
  background-color: var(--gxg-grid-header__background-color);
}

/**************************
BUTTONS/ICONS
**************************/
ch-grid-actionbar ch-grid-action-refresh,
ch-grid-actionbar ch-grid-action-settings,
ch-grid-column::part(bar-sort-ascending),
ch-grid-column::part(bar-sort-descending),
ch-grid-column::part(bar-settings-button),
ch-grid-column::part(settings-close),
ch-grid::part(settings-close),
ch-grid-cell::part(drag-icon),
ch-grid-cell::part(caret),
ch-grid-rowset-legend::part(caret) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    display: block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    width: $iconSize;
    height: $iconSize;
    background-color: var(--gxg-grid-button__icon-color);
  }
}
ch-grid-action-refresh,
ch-grid-action-settings {
  width: var(--gxg-grid-button__size);
  height: var(--gxg-grid-button__size);
  cursor: pointer;
  background-color: var(--gxg-grid-button__background-color);
  display: inline-block;

  &:hover {
    background-color: var(--gxg-grid-button__background-color--hover);
  }

  &:focus-visible {
    outline: var(--focus-style);
  }
}
ch-grid-action-refresh:before {
  -webkit-mask-image: var(--refreshIconUrl);
}
ch-grid-action-settings:before {
  -webkit-mask-image: var(--settingshIconUrl);
}

/**************************
COLUMN
**************************/
ch-grid-column {
  background-color: var(--gxg-grid-column__background-color);
  font-weight: var(--gxg-grid-column__font-weight);
  padding: var(--gxg-grid-column__padding) !important;
  cursor: pointer;
}
ch-grid-column::part(bar) {
  gap: var(--gxg-grid-column-bar__gap);
  width: 100%;
}
ch-grid-column:not([sort-direction])::part(bar-sort) {
  display: none;
}
ch-grid-column::part(bar-settings) {
  line-height: 0;
}
ch-grid-column::part(bar-sort-ascending),
ch-grid-column::part(bar-sort-descending) {
  width: var(--spacing-comp-03);
  height: var(--spacing-comp-03);
  margin-inline-start: var(--spacing-comp-02);
  margin-inline-end: var(--spacing-comp-01);
}
ch-grid-column::part(bar-sort-ascending):before,
ch-grid-column::part(bar-sort-descending):before {
  width: 100%;
  height: 100%;
  -webkit-mask-size: 200%;
}
ch-grid-column::part(bar-sort-descending):before {
  -webkit-mask-image: var(--barSortDescendingIconUrl);
}
ch-grid-column::part(bar-sort-ascending):before {
  -webkit-mask-image: var(--barSortAscendingIconUrl);
}
ch-grid-column::part(bar-resize-split) {
  width: var(--gxg-grid-column-par-bar-resize-split__width);
  border-radius: var(--gxg-grid-column-par-bar-resize-split__border-radius);
  background-color: var(--gxg-grid-column-bar-resize-split__background-color);
}
ch-grid-column:last-child::part(bar-resize-split) {
  display: none;
}
ch-grid-column::part(bar-settings-button) {
  padding: 0;
  width: var(--gxg-grid-column-bar-settings-button__width);
  height: var(--gxg-grid-column-bar-settings-button__width);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(
      --gxg-grid-column-bar-settings-button__background-color--hover
    );
  }
  &:focus-visible {
    outline: var(--focus-style);
  }
}
ch-grid-column::part(bar-settings-button):before {
  -webkit-mask-image: var(--barSettingsButtonIconUrl);
}

/**************************
ROW
**************************/
ch-grid-row {
  font-size: var(--gxg-grid-cell__font-size);
  background-color: var(--gxg-grid-row__background-color);
  color: var(--gxg-grid-row__color);
  border: var(--gxg-grid-row__border-width) solid transparent;
  ch-grid-cell {
    border-top-width: var(--gxg-grid-cell__border-top-width);
    border-top-color: var(--mer-border-color__on-elevation--01);
  }
  &:nth-of-type(even) {
    background-color: var(--ds-row-background-color-even);
  }
  &:nth-of-type(odd) {
    background-color: var(--ds-row-background-color-odd);
  }
}
ch-grid-row[highlighted] {
  &:nth-child(odd) {
    background-color: var(--ds-row-background-color-odd--hover);
  }
  &:nth-child(even) {
    background-color: var(--ds-row-background-color-even--hover);
  }
  //background-color: var(--ds-item-background-color--hover);
}
ch-grid-row[dragging] {
  box-shadow: var(--gxg-grid-row__box-shadow--dragging);
}
ch-grid-row[focused] {
}
ch-grid-row[selected] {
  > ch-grid-cell:not([selected]) {
    background-color: var(--ds-item-background-color--selected);
  }
}

/**************************
CELL
**************************/
ch-grid-cell[selected] {
  z-index: 1;
  background-color: var(--ds-item-background-color--selected) !important;
}
ch-grid-row[selected] {
  > ch-grid-cell {
    color: var(--gxg-grid-row-cell__color--selected);
  }
  + ch-grid-row[selected] {
    ch-grid-cell {
      border-top-color: var(--ds-item-border-color--selected);
    }
  }
  &:hover {
    > ch-grid-cell {
      background-color: var(
        --ds-item-background-color--selected-hover
      ) !important;
    }
  }
}
ch-grid-cell {
  box-sizing: border-box;
  padding-inline-start: var(--gxg-grid-cell__padding-inline-start) !important;
  padding-inline-end: var(--gxg-grid-cell__padding-inline-end) !important;
  padding-block-start: var(--gxg-grid-cell__padding-block-start);
  padding-block-end: var(--gxg-grid-cell__padding-block-end);
  align-items: center;
  line-height: var(--line-height-regular);
}
ch-grid-cell:first-child {
}
ch-grid-cell:last-child {
}

ch-grid-column::part(settings-mask) {
  cursor: default;
}
ch-grid-column::part(settings-mask),
ch-grid::part(settings-mask) {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: arrow;
  color: var(--gxg-grid-settings-mask__color);
}
ch-grid-column::part(settings-window),
ch-grid::part(settings-window) {
  background-color: var(--gxg-grid-settings-window__background-color);
  width: 100%;
  max-width: 600px;
  padding: var(--gxg-grid-settings-window__padding);
  border-radius: var(--gxg-grid-base__border-radius);
  box-shadow: var(--gxg-grid-settings-window__box-shadow);
}
ch-grid::part(settings-window) {
  margin: 0 var(--gxg-grid-settings-window__margin);
}
ch-grid-column::part(settings-header),
ch-grid::part(settings-header) {
  display: flex;
  align-items: center;
  gap: var(--gxg-grid-settings-header__gap);
  justify-content: space-between;
  border-bottom: var(--gxg-grid-base__border-width) solid $borderColor;
  padding-bottom: var(--gxg-grid-settings-padding-bottom);
  margin-bottom: var(--gxg-grid-settings-margin-bottom);
  font-weight: var(--gxg-grid-settings-font-weight);
}
ch-grid-column::part(settings-close),
ch-grid::part(settings-close) {
  padding: 0;
  width: var(--gxg-grid-settings-close__size);
  height: var(--gxg-grid-settings-close__size);
  cursor: pointer;
  background-color: var(--gxg-grid-settings-close__background-color);
  font-size: 0;
  border: 0;
  &:hover {
    background-color: var(--gxg-grid-settings-close__background-color--hover);
  }
  &:before {
    -webkit-mask-image: var(--settingsCloseIconUrl);
  }
  &:focus-visible {
    outline: var(--focus-style);
  }
}

ch-grid::part(settings-columns) {
  gap: var(--gxg-grid-settings-columns__gap);
}
ch-grid::part(settings-columns-label) {
  display: inline-flex;
  align-items: center;
  gap: var(--gxg-grid-settings-columns-label__gap);
  cursor: pointer;
  height: var(--gxg-grid-settings-columns-label__height);
}
/*Checkboxes*/
ch-grid::part(settings-columns-visible),
ch-grid-cell::part(selector),
ch-grid-column::part(selector) {
  position: relative;
  margin: 0;
  height: var(--gxg-checkbox-size);
  width: var(--gxg-checkbox-size);
  appearance: none;
  border-radius: var(--gxg-checkbox-border-radius);

  &:focus-visible {
    outline: var(--focus-style);
    outline-offset: 0;
  }
}

ch-grid::part(settings-columns-visible):before,
ch-grid-cell::part(selector):before,
ch-grid-column::part(selector):before {
  cursor: pointer;
  content: "";
  display: inline-block;
  position: relative;
  height: var(--gxg-checkbox-size);
  width: var(--gxg-checkbox-size);
  border-width: var(--gxg-checkbox-border-width);
  border-style: solid;
  border-radius: var(--gxg-checkbox-border-radius);
  border-color: var(--gxg-checkbox-border-color);
  box-sizing: border-box;
  flex-shrink: 0;
  background: var(--gxg-checkbox-background-color);
}
ch-grid::part(settings-columns-visible):after,
ch-grid-cell::part(selector):after,
ch-grid-column::part(selector):after {
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid;
  border-color: var(--gxg-checkbox-indicator-color);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-property: opacity;
  transition-duration: var(--ui-animaton-speed);
  transition-timing-function: ease;
  cursor: pointer;
}
ch-grid-column::part(indeterminate):after {
  opacity: 1;
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 8px;
  height: 1.5px;
  border: 0;
  background-color: var(--gxg-checkbox-indicator-color);
  -webkit-transform: rotate(0) translateY(-50%) translateX(-50%);
  -ms-transform: rotate(0) translateY(-50%) translateX(-50%);
  transform: rotate(0) translateY(-50%) translateX(-50%);
}
ch-grid::part(settings-columns-visible-checked):before,
ch-grid-cell::part(checked):before,
ch-grid-column::part(checked):before {
  border-color: var(--gxg-checkbox-border-color);
}
ch-grid::part(settings-columns-visible-checked):after,
ch-grid-cell::part(checked):after,
ch-grid-column::part(checked):after {
  opacity: 1;
}
/*Drag*/
ch-grid-cell::part(drag-icon):before {
  width: var(--gxg-grid-cell-drag-icon__size);
  height: var(--gxg-grid-cell-drag-icon__size);
  cursor: grab;
}
ch-grid-cell::part(drag-icon):before {
  -webkit-mask-image: var(--dragIconUrl);
}
/*Row actions*/
ch-grid::part(row-actions) {
  padding-top: var(--gxg-grid-row-actions__padding-top);
  right: var(--gxg-grid-row-actions__right);
}
/*Selector*/
ch-grid-column::part(selector) {
  //margin-right: 8px;
}
/*legend*/
ch-grid-rowset-legend {
  background-color: var(--gxg-grid-rowset-legend__background-color);
  background-color: var(--mer-color_neutral-gray--1100);
  padding-inline-start: var(--gxg-grid-rowset-legend__padding-inline-start);
  padding-inline-end: var(--gxg-grid-rowset-legend__padding-inline-end);
  padding-block-start: var(--gxg-grid-rowset-legend__padding-block-start);
  padding-block-end: var(--gxg-grid-rowset-legend__padding-block-end);
}
ch-grid > ch-grid-rowset:first-of-type ch-grid-rowset-legend {
  // border-top: var(--gxg-grid-base__border-width) solid
  //   var(--gxg-grid-base__border-color);
}
ch-grid-rowset-legend {
  //margin-inline-start: calc(var(--indent) * (var(--level) - 1));
  margin-inline-start: 0;
  padding-inline-start: calc(
    var(--gxg-grid-rowset-legend__padding-inline-start) +
      (var(--indent) * (var(--level) - 1))
  );
  display: flex;
  align-items: center;
  gap: var(--gxg-grid-rowset-legend__gap);
  cursor: pointer;
}
/*caret*/
ch-grid-rowset-legend::part(caret),
ch-grid-cell::part(caret) {
  width: var(--gxg-grid-part-caret__size);
  height: var(--gxg-grid-part-caret__size);
}
ch-grid-cell::part(caret) {
  cursor: pointer;
  margin-inline-end: var(--gxg-grid-part-caret__margin-inline-end);
}
ch-grid-rowset > ch-grid-rowset-legend::part(caret):before,
ch-grid-row > ch-grid-cell::part(caret):before {
  -webkit-mask-image: var(--caretCollapseIconUrl);
}
ch-grid-rowset[collapsed] > ch-grid-rowset-legend::part(caret):before,
ch-grid-row[collapsed] > ch-grid-cell::part(caret):before {
  -webkit-mask-image: var(--caretExpandIconUrl);
}
ch-grid-rowset[collapsed] ch-grid-rowset-legend {
  border-bottom: var(--gxg-grid-base__border-width) solid
    var(--ds-base-background-color);
}
/*paginator*/
ch-grid gxg-paginator {
  padding-top: 0;
  padding-bottom: 0;
}

/*Full-height*/
gxg-grid[full-height] {
  height: 100%;
  ch-grid {
    height: 100%;
  }
}

/*ellipsis*/
gxg-grid[ellipsis] {
  ch-grid-cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }
}

/*ellipsis-cell-wrapper*/
gxg-grid[ellipsis-cell-wrapper] {
  .cell-wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
  }
}
gxg-grid[ellipsis-cell-wrapper] ch-grid-column::part(bar-resize-split) {
  display: none;
}
