$borderColor: var(--gray-02);
$iconSize: 70%;

:root {
  --indent: var(--spacing-comp-02);
}
:host {
  display: block;
}

ch-grid {
  border: 1px solid $borderColor;
  --focus-style: 2px solid var(--color-primary-active);
}
gxg-grid.no-border {
  ch-grid {
    border: 0;
  }
}
gxg-grid:focus-visible,
ch-grid:focus-visible {
  outline: none;
}

ch-grid::part(header),
ch-grid::part(footer) {
  padding: var(--spacing-comp-01);
  background-color: var(--color-background);
}

ch-grid-actionbar ch-grid-action-refresh,
ch-grid-actionbar ch-grid-action-settings,
ch-grid-column::part(bar-sort-ascending),
ch-grid-column::part(bar-sort-descending),
ch-grid-column::part(bar-settings-button),
ch-grid-column::part(settings-close),
ch-grid::part(settings-close),
ch-grid-cell::part(drag-icon),
ch-grid-cell::part(caret),
ch-grid-rowset-legend::part(caret) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    display: block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    width: $iconSize;
    height: $iconSize;
    background-color: var(--color-on-secondary);
  }
}

ch-grid-action-refresh,
ch-grid-action-settings {
  width: var(--spacing-comp-05);
  height: var(--spacing-comp-05);
  cursor: pointer;
  background-color: var(--color-secondary-enabled);
  display: inline-block;

  &:hover {
    background-color: var(--color-secondary-hover);
  }

  &:focus-visible {
    outline: var(--focus-style);
  }
}
ch-grid-action-refresh:before {
  -webkit-mask-image: var(--refreshIconUrl);
}
ch-grid-action-settings:before {
  -webkit-mask-image: var(--settingshIconUrl);
}

ch-grid {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--gray-06);
}
ch-grid-column {
  background-color: var(--color-background);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-comp-02) !important;
  cursor: pointer;
}
ch-grid-column::part(bar) {
  gap: var(--spacing-comp-02);
  width: 100%;
}
ch-grid-column:not([sort-direction])::part(bar-sort) {
  display: none;
}
ch-grid-column::part(bar-settings) {
  line-height: 0;
}
ch-grid-column::part(bar-sort-ascending),
ch-grid-column::part(bar-sort-descending) {
  width: var(--spacing-comp-03);
  height: var(--spacing-comp-03);
  margin-left: var(--spacing-comp-02);
  margin-right: var(--spacing-comp-01);
}
ch-grid-column::part(bar-sort-ascending):before,
ch-grid-column::part(bar-sort-descending):before {
  width: 100%;
  height: 100%;
  -webkit-mask-size: 200%;
}
ch-grid-column::part(bar-sort-descending):before {
  -webkit-mask-image: var(--barSortDescendingIconUrl);
}
ch-grid-column::part(bar-sort-ascending):before {
  -webkit-mask-image: var(--barSortAscendingIconUrl);
}
ch-grid-column::part(bar-resize-split) {
  width: 3px;
  background-color: var(--gray-02);
}
ch-grid-column:last-child::part(bar-resize-split) {
  display: none;
}
ch-grid-column::part(bar-settings-button) {
  padding: 0;
  width: var(--spacing-comp-05);
  height: var(--spacing-comp-05);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-02);
  }
  &:focus-visible {
    outline: var(--focus-style);
  }
}
ch-grid-column::part(bar-settings-button):before {
  -webkit-mask-image: var(--barSettingsButtonIconUrl);
}
ch-grid-row {
  background-color: var(--color-background);
  color: var(--gray-04);
  border: 2px solid transparent;

  &:nth-of-type(odd) {
    background-color: var(--gray-00);
  }
}
ch-grid-row[highlighted] {
  background-color: var(--color-hover);
}
ch-grid-row[dragging] {
  box-shadow: var(--box-shadow-03);
}
ch-grid-row[focused] {
  border-color: var(--color-primary-active);
  // > ch-grid-cell:first-child {
  //   border-inline-start: 2px solid var(--color-primary-active);
  // }
  // > ch-grid-cell:last-child {
  //   border-inline-end: 2px solid var(--color-primary-active);
  // }
}
ch-grid-row[selected] {
  ch-grid-cell:not([selected]) {
    background-color: var(--color-secondary-enabled);
  }
}
ch-grid-cell[selected] {
  z-index: 1;
  background-color: var(--color-secondary-enabled) !important;
}
ch-grid-row[selected] {
  ch-grid-cell {
    color: var(--color-on-secondary);
  }
  + ch-grid-row[selected] {
    ch-grid-cell {
      border-top-color: var(--color-secondary-hover);
    }
  }
}
ch-grid-cell {
  box-sizing: border-box;
  padding-inline-start: var(--spacing-comp-02) !important;
  padding-inline-end: var(--spacing-comp-02) !important;
  padding-block-start: var(--spacing-comp-01);
  padding-block-end: var(--spacing-comp-01);
  align-items: center;
  min-height: var(--spacing-comp-04);
}
ch-grid-cell:first-child {
}
ch-grid-cell:last-child {
}

ch-grid-column::part(settings-mask) {
  cursor: default;
}
ch-grid-column::part(settings-mask),
ch-grid::part(settings-mask) {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: arrow;
  color: var(--color-on-secondary);
}
ch-grid-column::part(settings-window),
ch-grid::part(settings-window) {
  background-color: var(--color-background);
  width: 100%;
  max-width: 600px;
  padding: var(--spacing-comp-03);
  border-radius: var(--border-width-lg);
  box-shadow: var(--box-shadow-04);
}
ch-grid::part(settings-window) {
  margin: 0 var(--spacing-comp-05);
}
ch-grid-column::part(settings-header),
ch-grid::part(settings-header) {
  display: flex;
  align-items: center;
  gap: var(--spacing-comp-04);
  justify-content: space-between;
  border-bottom: var(--border-width-sm) solid $borderColor;
  padding-bottom: var(--spacing-comp-02);
  margin-bottom: var(--spacing-comp-03);
  font-weight: var(--font-weight-bold);
}
ch-grid-column::part(settings-close),
ch-grid::part(settings-close) {
  padding: 0;
  width: var(--spacing-comp-05);
  height: var(--spacing-comp-05);
  cursor: pointer;
  background-color: var(--color-secondary-enabled);
  font-size: 0;
  border: 0;
  &:hover {
    background-color: var(--color-secondary-hover);
  }
  &:before {
    -webkit-mask-image: var(--settingsCloseIconUrl);
  }
  &:focus-visible {
    outline: var(--focus-style);
  }
}

ch-grid::part(settings-columns) {
  gap: var(--spacing-comp-03);
}
ch-grid::part(settings-columns-label) {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-comp-03);
  cursor: pointer;
  height: var(--spacing-comp-04);
}
/*Checkboxes*/
ch-grid::part(settings-columns-visible),
ch-grid-cell::part(selector),
ch-grid-column::part(selector) {
  position: relative;
  margin: 0;
  height: var(--spacing-comp-04);
  width: var(--spacing-comp-04);

  &:focus-visible {
    outline: var(--focus-style);
  }
}
ch-grid::part(settings-columns-visible):before,
ch-grid-cell::part(selector):before,
ch-grid-column::part(selector):before {
  cursor: pointer;
  content: "";
  display: inline-block;
  position: relative;
  height: var(--spacing-comp-04);
  width: var(--spacing-comp-04);
  border-width: var(--border-width-sm);
  border-style: var(--border-style-regular);
  border-radius: var(--border-radius-md);
  border-color: var(--gray-04);
  box-sizing: border-box;
  flex-shrink: 0;
  background: var(--color-background);
}
ch-grid::part(settings-columns-visible):after,
ch-grid-cell::part(selector):after,
ch-grid-column::part(selector):after {
  opacity: 0;
  display: block;
  position: absolute;
  content: "";
  left: 6px;
  top: 3px;
  width: 3px;
  height: 7px;
  border: solid;
  border-color: var(--color-primary-hover);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition-property: opacity;
  transition-duration: var(--ui-animaton-speed);
  transition-timing-function: ease;
  cursor: pointer;
}
ch-grid-column::part(indeterminate):after {
  opacity: 1;
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 8px;
  height: 1.5px;
  border: 0;
  background-color: var(--color-primary-hover);
  -webkit-transform: rotate(0) translateY(-50%) translateX(-50%);
  -ms-transform: rotate(0) translateY(-50%) translateX(-50%);
  transform: rotate(0) translateY(-50%) translateX(-50%);
}
ch-grid::part(settings-columns-visible-checked):before,
ch-grid-cell::part(checked):before,
ch-grid-column::part(checked):before {
  border-color: var(--color-primary-hover);
}
ch-grid::part(settings-columns-visible-checked):after,
ch-grid-cell::part(checked):after,
ch-grid-column::part(checked):after {
  opacity: 1;
}
/*Drag*/
ch-grid-cell::part(drag-icon):before {
  width: var(--spacing-comp-04);
  height: var(--spacing-comp-04);
  cursor: grab;
}
ch-grid-cell::part(drag-icon):before {
  -webkit-mask-image: var(--dragIconUrl);
}
/*Row actions*/
ch-grid::part(row-actions) {
  padding-top: 2px;
  right: var(--spacing-comp-02);
}
/*Selector*/
ch-grid-column::part(selector) {
  margin-right: 8px;
}
/*legend*/
ch-grid-rowset-legend {
  background-color: var(--gray-01);
  padding-inline-start: var(--spacing-comp-02);
  padding-inline-end: var(--spacing-comp-02);
  padding-block-start: var(--spacing-comp-01);
  padding-block-end: var(--spacing-comp-01);
}
/*columnset*/
ch-grid > ch-grid-rowset:first-of-type ch-grid-rowset-legend {
  border-top: 1px solid var(--color-background);
}
ch-grid-rowset-legend {
  margin-inline-start: calc(var(--indent) * (var(--level) - 1));
  display: flex;
  align-items: center;
  gap: var(--spacing-comp-01);
  cursor: pointer;
}
/*caret*/
ch-grid-rowset-legend::part(caret),
ch-grid-cell::part(caret) {
  width: var(--spacing-comp-04);
  height: var(--spacing-comp-04);
}
ch-grid-cell::part(caret) {
  cursor: pointer;
  margin-right: var(--spacing-comp-01);
}
ch-grid-rowset > ch-grid-rowset-legend::part(caret):before,
ch-grid-row > ch-grid-cell::part(caret):before {
  -webkit-mask-image: var(--caretCollapseIconUrl);
}
ch-grid-rowset[collapsed] > ch-grid-rowset-legend::part(caret):before,
ch-grid-row[collapsed] > ch-grid-cell::part(caret):before {
  -webkit-mask-image: var(--caretExpandIconUrl);
}
ch-grid-rowset[collapsed] ch-grid-rowset-legend {
  border-bottom: 1px solid var(--color-background);
}
/*paginator*/
ch-grid gxg-paginator {
  padding-top: 0;
  padding-bottom: 0;
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
gxg-grid.large {
  ch-grid {
    font-size: var(--font-size-lg);
  }
  ch-grid-cell {
    padding-block-start: calc(var(--spacing-comp-01) * 1.5);
    padding-block-end: calc(var(--spacing-comp-01) * 1.5);
  }
}
