@import "../../globals/mixins";

:host {
  display: block;
  height: auto;
  background: var(--color-background);
  border-radius: var(--border-width-md);
  box-shadow: var(--box-shadow-01);
  position: relative;
  font-family: var(--ds-base-font-family-primary);
}
.main-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: var(--gxg-tabs-border-width);
  border-style: solid;
  border-color: var(--gxg-tabs-border-color);
  border-radius: var(--gxg-tabs-border-radius);
  overflow: hidden;

  &--no-border {
    border: none;
  }
}

.tabs-container {
  height: 100%;
  //height: calc(100% - 32px); //32 pixels is the height of the tab-bar
  overflow-y: auto;
}

//Position rotated
:host([position="left-rotated"]),
:host([position="right-rotated"]) {
  .main-container {
    flex-direction: row;
  }
  .tab-bar-container {
    height: 100%;
    overflow: auto;
    width: 40px;
    position: relative;
    @include gxg-scrollbar;
  }
  ::slotted(gxg-tab-bar) {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    position: absolute;
    z-index: 10;
  }
  ::slotted(gxg-tab) {
    border-left-width: var(--gxg-tabs-border-width);
    border-left-style: solid;
    border-left-color: var(--gxg-tabs-border-color);
  }
  .tabs-container {
    // height: 100%;
    width: calc(100% - 32px);
  }
  .tab-bar-menu {
  }
}
//Tab bar left-rotated
:host([position="left-rotated"]) {
  .main-container {
    flex-direction: row;
  }
}
//Tab bar right-rotated
:host([position="right-rotated"]) {
  .main-container {
    flex-direction: row-reverse;
  }
}

//Position stacked
:host([position="left-stacked"]),
:host([position="right-stacked"]) {
  .main-container {
    flex-direction: row;
  }
}
//Tab bar left-stacked
:host([position="left-stacked"]) {
  .main-container {
    flex-direction: row;
  }
}
//Tab bar right-stacked
:host([position="right-stacked"]) {
  .main-container {
    flex-direction: row-reverse;
  }
}
