@import "../../globals/mixins";

:host {
  display: block;
  height: auto;
  background: var(--color-background);
  border-radius: var(--border-width-md);
  box-shadow: var(--box-shadow-01);
  position: relative;
}
.main-container {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs-container {
  //height: calc(100% - 32px); //32 pixels is the height of the tab-bar
  display: flex;
  @include gxg-scrollbar();
  overflow-y: auto;
}

//Tab bar left positioned
:host([position="left"]) {
  .tab-bar-container {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    position: absolute;
    z-index: 10;
  }
  .tabs-container {
    height: 100%;
    width: calc(100% - 32px);
    margin-left: 32px;
  }
}

//Tab bar right positioned
:host([position="right"]) {
  .tab-bar-container {
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    position: absolute;
    z-index: 10;
    left: calc(100% - 32px);
  }
  .tabs-container {
    height: 100%;
    width: calc(100% - 32px);
  }
  .tab-bar-menu {
  }
}
