:host {
  display: block;
  cursor: pointer;
  min-height: var(--spacing-comp-05);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  background-color: var(--color-background);
  color: var(--color-on-background);
  padding: var(--spacing-comp-00) var(--spacing-comp-01);
  transition: height 0.25s, opacity 0.25s;
  opacity: 1;
  overflow: hidden;

  gxg-icon {
    flex-shrink: 0;
  }
}
:host(.no-icon) {
  padding-left: var(--spacing-comp-02);
}
:host(.hidden) {
  display: none;
}
:host(.display-none) {
  display: none;
}
:host(:hover),
:host(.selected:hover) {
  background-color: var(--color-secondary-hover);
  color: var(--color-always-white);
}
:host(.selected) {
  background-color: var(--color-secondary-active);
  color: var(--color-always-white);
}
:host(.exact-match) {
  background-color: var(--color-success-light);
  color: var(--color-success-dark);
}
:host(:focus) {
  //this styles are on src/globals/components/combo-box.scss
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/

:host(.large) {
  font-size: var(--font-size-lg);
  min-height: auto;
  padding-top: var(--spacing-comp-01);
  padding-bottom: var(--spacing-comp-01);
  gxg-icon {
    margin-right: var(--spacing-comp-01);
  }
}
