@import "../../globals/common-css-classes";

:host {
  --ds-icon-size--small: var(--gxg-combo-box-item_icon-size);
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  //font-family: var(--font-family-primary);
  font-size: inherit;
  color: inherit;
  opacity: 1;
  overflow: hidden;
  border-radius: var(--gxg-combo-box-item_border-radius);

  .container {
    display: flex;
    align-items: center;
    padding: var(--gxg-combo-box-item_padding);
    width: 100%;
    height: var(--ds-list-item-height--spaced);
    box-sizing: border-box; /*items with icon are this tall*/
    gap: var(--gxg-combo-box-item_container-gap);
  }
  gxg-icon {
    flex-shrink: 0;
    --gxg-icon-color: var(--gxg-combo-box-item--active_icon-color);
  }
}
.description {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
:host(.no-icon) {
  .container {
    padding-inline-start: var(--gxg-combo-box-item_container-no-icon-pis);
  }
}
:host([hidden]) {
  display: none;
}
:host(.display-none) {
  display: none;
}
:host(:hover) {
  background-color: var(--ds-item-background-color--hover);

  .container {
    color: var(--gxg-combo-box-item_container-color--hover);
  }
}
:host([selected]) {
  background-color: var(--ds-item-background-color--selected);
  color: var(--gxg-combo-box-item--selected_color);
}
:host([selected]:hover) {
  background-color: var(--ds-item-background-color--selected-hover);
  color: var(--gxg-combo-box-item--selected_color);
}
:host([exact-match]) {
  // background-color: var(--color-success-light);
  // color: var(--color-success-dark);
}
