@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  .more-info {
    cursor: pointer;
    position: relative;
    display: inline-block;
    top: 4px;

    &__text {
      @include gxg-text();
      font-size: var(--font-size-xxs);
      visibility: hidden;
      opacity: 0;
      @include ui-animation(opacity);
      position: absolute;
      z-index: 1;
      width: 250px;
      text-align: center;

      &__content {
        width: fit-content;
        background-color: var(--gray-01);
        padding: 1.5px 5px;
        border-color: var(--gray-04);
        border-style: solid;
        border-width: 0.5px;
        color: var(--color-on-background);
        display: inline-block;
        text-align: left;
      }
    }

    &:hover {
      .more-info__text {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
//position
:host([position="top"]) {
  .more-info {
    &__text {
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
:host([position="right"]) {
  .more-info {
    &__text {
      top: 10px;
      left: 120%;
      text-align: left;
      transform: translateY(-50%);
    }
  }
}
:host([position="bottom"]) {
  .more-info {
    &__text {
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
:host([position="left"]) {
  .more-info {
    &__text {
      text-align: right;
      top: 10px;
      right: 120%;
      transform: translateY(-50%);
    }
  }
}
//auto width
:host([width-auto]) {
  .more-info {
    &__text {
      width: auto;
      white-space: nowrap;
    }
  }
}
//no text decoration
:host([no-border]) {
  .more-info {
    border-bottom: none;
  }
}
