@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: flex;
  font-family: var(--font-family-primary);
}
:host([no-flex]) {
  display: block;
}
:host([width="fluid"]) {
  width: 100%;
  display: block;
}
:host([width="content"]) {
  display: flex;
  width: auto;
  min-width: 0;
  flex-shrink: 0;
}
:host([width="1/2"]),
:host([width="1/3"]),
:host([width="2/3"]),
:host([width="1/4"]),
:host([width="1/5"]),
:host([width="2/5"]),
:host([width="3/4"]),
:host([width="3/5"]),
:host([width="4/5"]) {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
}
:host .inner-container {
  width: 100%;
}

//halfs
:host([width="1"]) {
  flex: 0 0 100%;
}
:host([width="1/2"]) {
  flex: 0 0 50%;
}
//thirds
:host([width="1/3"]) {
  flex: 0 0 33.33333333333333%;
}
:host([width="2/3"]) {
  flex: 0 0 66.66666666666666%;
}
//fourths
:host([width="1/4"]) {
  flex: 0 0 25%;
}
//fifths
:host([width="1/5"]) {
  flex: 0 0 20%;
}
:host([width="2/5"]) {
  flex: 0 0 40%;
}
:host([width="3/4"]) {
  flex: 0 0 75%;
}
:host([width="3/5"]) {
  flex: 0 0 60%;
}
:host([width="4/5"]) {
  flex: 0 0 80%;
}

//Padding
:host([padding="xs"]) {
  .inner-container {
    padding: var(--spacing-comp-01);
  }
}
:host([padding="s"]) {
  .inner-container {
    padding: var(--spacing-comp-02);
  }
}
:host([padding="m"]) {
  .inner-container {
    padding: var(--spacing-comp-03);
  }
}
:host([padding="l"]) {
  .inner-container {
    padding: var(--spacing-comp-04);
  }
}
:host([padding="xl"]) {
  .inner-container {
    padding: var(--spacing-comp-05);
  }
}
:host([padding="xxl"]) {
  .inner-container {
    padding: var(--spacing-comp-06);
  }
}
:host([padding="xxxl"]) {
  .inner-container {
    padding: var(--spacing-comp-07);
  }
}
