@import "../../globals/normalize.scss";
@import "../../globals/mixins";
@import "../../globals/form-validation";
@import "../../globals/common-css-classes";

:host {
  display: block;
  line-height: 0;
}
.gxg-form-checkbox__wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .wrapper {
      border-color: var(--gxg-checkbox-border-color--hover);
    }
  }
}
.wrapper {
  flex-shrink: 0;
  @include checkbox("container");
  &--checked {
    @include checkbox("container--checked");
  }
  &--indeterminate {
    @include checkbox("container--indeterminate");
  }
  &:focus-within {
    @include checkbox("container--focus-within");
  }
  &--has-icon {
    margin-inline-end: var(--gxg-checkbox-spacing);
  }
}
.input {
  @include checkbox("input");
  height: 0;
  width: 0;
}
.label {
  &--has-icon {
    padding-inline-start: var(--gxg-checkbox-spacing);
  }
}
/*Disabled*/
:host([disabled]) {
  .gxg-form-checkbox__wrapper,
  .input {
    cursor: initial;
  }
  .wrapper {
    border-color: var(--ds-border-color-disabled);
    background-color: var(--gxg-checkbox-disabled-background-color);
  }
}

/*********************************************
VALIDATION
**********************************************/
.messages-wrapper {
  @include messages-wrapper();
}
