@import "../../globals/normalize.scss";
@import "../../globals/mixins";
@import "../../globals/form-validation";
@import "../../globals/common-css-classes";

:host {
  display: block;
  line-height: 0;
}
.gxg-form-checkbox__wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.wrapper {
  @include checkbox("container");
  &--checked {
    @include checkbox("container--checked");
  }
  &--indeterminate {
    @include checkbox("container--indeterminate");
  }
  &:focus-within {
    @include checkbox("container--focus-within");
  }
}
.input {
  @include checkbox("input");
}
/*Disabled*/
:host([disabled]) {
  .gxg-form-checkbox__wrapper,
  .input {
    cursor: initial;
  }
  .wrapper {
    border-color: var(--ds-border-color-disabled);
    background-color: var(--gxg-checkbox-disabled-background-color);
  }
}

/*********************************************
VALIDATION
**********************************************/
.messages-wrapper {
  @include messages-wrapper();
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) .label {
  font-size: var(--font-size-lg);
}
