@import "../../globals/normalize.scss";
@import "../../globals/mixins";
@import "../../globals/form-validation";

:host {
  --checkmark-border-color: var(--color-primary-active);
  .gxg-form-checkbox__wrapper {
    display: flex;
    align-items: center;
  }
  .label:last-child {
    margin-bottom: 0;
  }
  input:focus + .checkmark {
    box-shadow: 0px 0px 0px var(--border-width-sm) var(--checkmark-border-color);
    border-color: var(--checkmark-border-color) !important  ;
  }
  input[disabled] {
    cursor: not-allowed;
  }
  input[disabled] + .checkmark {
    border-color: var(--gray-04) !important;
    pointer-events: none;
  }
  input:checked[disabled] + .checkmark:after {
    border-color: var(--gray-04) !important;
  }
}

:host([inline]) .outer-wrapper {
  display: flex;
}
:host([inline]) .label {
  margin-inline-end: var(--spacing-comp-04);
  margin-bottom: 0;
}

:host {
  /* The label */
  .label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
    @include form-element-common-styles-label();
  }
  .label__required {
    @include form-element-common-styles-label-required();
  }
  /* Hide the browser's default checkbox */
  .label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .label input[on-focus] + .checkmark {
    box-shadow: inset 0px 0px 0px 1px var(--color-primary-active);
    border-color: var(--color-primary-active) !important;
  }
  .checkmark:focus {
    box-shadow: none;
  }

  /* Create a custom checkbox */
  .checkmark {
    display: inline-block;
    position: relative;
    margin-inline-end: var(--spacing-comp-02);
    height: var(--spacing-comp-04);
    width: var(--spacing-comp-04);
    //background-color: transparent;
    border-width: var(--border-width-sm);
    border-style: var(--border-style-regular);
    border-radius: var(--border-radius-md);
    border-color: var(--gray-04);
    box-sizing: border-box;
    flex-shrink: 0;
    background: var(--color-background);
    &.no-label {
      margin-inline-end: 0;
    }
    &.has-icon {
      margin-inline-end: var(--spacing-comp-01);
    }
  }

  /* When the checkbox is checked, add a blue background */

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .label input ~ .checkmark:after {
    display: block;
    border-color: transparent;
  }
  /* Show the checkmark when checked */
  .label input:checked ~ .checkmark:after {
    display: block;
    border-color: var(--checkmark-border-color);
    @include ui-animation(border-color);
  }

  /* Style the checkmark/indicator */
  .label .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid;
    border-color: var(--checkmark-border-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
/*indeterminate*/
:host([indeterminate]) .label input:checked ~ .checkmark:after {
  display: block;
  width: 10px;
  height: 2px;
  transform: rotate(0deg);
  border: 0;
  background-color: var(--checkmark-border-color);
  left: 2px;
  top: 6px;
}
:host([disabled="true"]) label {
  cursor: not-allowed;
}

/*********************************************
VALIDATION
**********************************************/
:host(.gxg-display-validation-styles.hydrated.gxg-validation--error) {
  --checkmark-border-color: var(--color-error-dark);
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) .label {
  font-size: var(--font-size-lg);
}
