@import "../../globals/mixins-mercury";

/*--- Gemini ---*/
:root {
  --gxg-buttons-group__gap: var(--spacing-comp-01);
  --gxg-buttons-group__padding: var(--spacing-comp-01) var(--spacing-comp-01);
  --gxg-buttons-group__border-radius: var(--border-radius-sm);
}
/*--- Mercury ---*/
:root.mercury {
  --gxg-buttons-group__gap: var(--mer-spacing--xxs);
  --gxg-buttons-group__padding: var(--mer-spacing--xxs) var(--mer-spacing--xxs);
  --gxg-buttons-group__border-radius: var(--mer-border__radius--sm);
}
