$borderGray: var(--gray-01);

ch-grid {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--gray-06);
}
ch-grid-column {
  background-color: var(--gray-01);
  font-weight: var(--font-weight-bold);
  padding: var(--spacing-comp-02) !important;
}
ch-grid-cell {
  padding-inline-start: var(--spacing-comp-02) !important;
  padding-inline-end: var(--spacing-comp-02) !important;
  padding-top: var(--spacing-comp-01);
  padding-bottom: var(--spacing-comp-01);
}
ch-grid-row {
  border-bottom: 1px solid var(--gray-01);
}
ch-grid-row[highlighted] {
  border-bottom: 1px solid var(--color-primary-active);
}
ch-grid-cell:first-child {
  border-left: 1px solid var(--gray-01) !important;
}
ch-grid-cell:last-child {
  border-right: 1px solid var(--gray-01) !important;
}
