@import "../mixins.scss";

/*ch-suggest*/
ch-suggest {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--color-on-background);
  @include gxg-scrollbar();
  // Scroll bar
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--gray-02);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-05);
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray-04);
    cursor: pointer;
  }

  &::part(label) {
    font-weight: 700;
    margin-bottom: 4px;
  }
  &::part(input) {
    height: var(--spacing-comp-05);
    border: var(--border-width-sm) solid var(--gxg-border-color--regular);
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
    box-sizing: border-box;
  }
  &::part(input):focus {
    @include form-element-common-styles-focus-type-1();
  }
  /*window*/
  &::part(ch-window-window) {
    /*mixin shadow*/
    background-color: var(--color-background);
    margin-top: var(--spacing-comp-01);
    padding: var(--spacing-comp-02);
    box-shadow: var(--box-shadow-02);
    @include gxg-scrollbar();
    // Scroll bar
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background-color: var(--gray-02);
      border-radius: 10px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--gray-05);
      border-radius: 10px;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--gray-04);
      cursor: pointer;
    }
  }
}
/*ch-suggest-list*/
ch-suggest-list {
  margin: var(--spacing-comp-01) 0;
  font-family: inherit;
  border: var(--border-width-sm) solid var(--gxg-border-color--regular);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &::part(title) {
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    margin: var(--spacing-comp-01) 0 0 0;
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
  }
}
/*ch-suggest-list-item*/
ch-suggest-list-item {
  padding: var(--spacing-comp-01) var(--spacing-comp-02);
  cursor: pointer;
  display: flex;
  align-items: center;

  gxg-icon::part(ch-icon) {
    --icon-size: 16px;
    --icon-color: var(--color-on-background);
    margin-right: 2px;
  }

  &:hover {
    background-color: var(--gxg-form-item-bgcolor-hover);
    color: var(--color-on-primary);

    gxg-icon::part(ch-icon) {
      --icon-color: var(--color-on-primary);
    }
  }
  &:focus,
  &[selected]:focus {
    @include form-element-common-styles-focus-type-1();
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
html.gxg-large {
  ch-suggest {
    font-size: var(--font-size-lg);
  }
}
