:root {
  --gxg-checkbox-size: var(--spacing-comp-04);
  --gxg-checkbox-border-color: var(--gray-04);
  --gxg-checkbox-border-width: var(--border-width-sm);
  --gxg-checkbox-border-radius: var(--border-radius-md);
  --gxg-checkbox-background-color: var(--color-background);
  --gxg-checkbox-indicator-color: var(--color-primary-enabled);
  /*error*/
  --gxg-checkbox-border-color-error: var(--color-error-dark);
  --gxg-checkbox-background-color-error: var(--color-error-light);
  --gxg-checkbox-indicator-color-error: var(--color-error-dark);
  /*disabled*/
  --gxg-checkbox-disabled-background-color: var(--ds-background-color-disabled);

  &.mercury {
    --gxg-checkbox-size: var(--mer-spacing__comp--md);
    --gxg-checkbox-border-color: var(--mer-border-color__neutral);
    --gxg-checkbox-border-width: var(--mer-border__width--sm);
    --gxg-checkbox-border-radius: var(--mer-border__radius--xs);
    --gxg-checkbox-background-color: transparent;
    --gxg-checkbox-indicator-color: var(--mer-border-color__neutral--active);
    /*error*/
    --gxg-checkbox-border-color-error: var(--mer-border-color__error);
    --gxg-checkbox-background-color-error: transparent; /*to do*/
    --gxg-checkbox-indicator-color-error: var(--mer-border-color__error);
    /*disabled*/
    --gxg-checkbox-disabled-background-color: transparent;
  }
}
