:root {
  --gxg-form-text-minimal-icon-not-start__cursor-inside-pis: var(
    --spacing-comp-01
  );
  --gxg-form-text-minimal-icon-not-start__focus-pis: var(--spacing-comp-01);
  --gxg-form-text-minimal-over-dark-background: var(--color-on-primary);
  --gxg-form-text-height: var(--ds-form-control-height);
  --gxg-form-text-icon-size: var(--ds-icon-size-box--small);
}

:root.mercury {
  --gxg-form-text-minimal-icon-not-start__cursor-inside-pis: var(
    --mer-spacing__comp--xxs
  );
  --gxg-form-text-minimal-icon-not-start__focus-pis: var(
    --mer-spacing__comp--xxs
  );
  --gxg-form-text-minimal-over-dark-background: var(--mer-text__on-primary);
  --gxg-form-text-height: var(--ds-form-control-height);
  --gxg-form-text-icon-size: var(--ds-icon-size-box--small);
}
