:root {
  /*single pill (gxg-pill)*/
  // general
  --gxg-pill__font-size: var(--ds-base-font-size);
  --gxg-pill__font-weight: var(--ds-base-font-weight);
  --gxg-pill__border-radius: 11px;
  --gxg-pill__height: var(--spacing-comp-04);
  --gxg-pill__padding-inline-start: var(--spacing-comp-02);
  --gxg-pill__padding-inline-end: var(--spacing-comp-03);
  --gxg-pill__color--disabled: var(--gray-03);
  //static
  --gxg-pill-static__font-style: italic;
  --gxg-pill-static__color: var(--ds-base-font-color);
  --gxg-pill-static__background-color: var(--gray-01);
  --gxg-pill-static__border: 1px solid var(--gray-01);
  //with action
  --gxg-pill-with-action__font-style: normal;
  --gxg-pill-with-action__color: var(--ds-base-font-color);
  --gxg-pill-with-action__background-color: var(--ds-base-background-color);
  --gxg-pill-with-action__border: 1px solid var(--gray-02);
  --gxg-pill-with-action__border--hover: 1px solid var(--gray-07);
  --gxg-pill-with-action__border--disabled: 1px solid var(--gray-03);

  /*pills group (gxg-pills)*/
  --gxg-pills__gap: var(--spacing-comp-02);

  &.mercury {
    /*single pill (gxg-pill)*/
    // general
    --gxg-pill__font-size: var(--mer-font__size--2xs);
    --gxg-pill__font-weight: var(--mer-font__weight--regular);
    --gxg-pill__border-radius: 30px;
    --gxg-pill__height: 30px;
    --gxg-pill__padding-inline-start: var(--mer-spacing--sm);
    --gxg-pill__padding-inline-end: var(--mer-spacing--sm);
    --gxg-pill__color--disabled: var(--mer-text__on-disabled);
    //static
    --gxg-pill-static__font-style: italic;
    --gxg-pill-static__color: var(--mer-color__neutral-gray--300);
    --gxg-pill-static__background-color: var(--mer-color__elevation--01);
    --gxg-pill-static__border: 1px solid var(--mer-color__elevation--01);
    //with action
    --gxg-pill-with-action__font-style: italic;
    --gxg-pill-with-action__color: var(--mer-color__neutral-gray--300);
    --gxg-pill-with-action__background-color: var(--mer-color__elevation--01);
    --gxg-pill-with-action__border: 1px solid var(--mer-color__elevation--01);
    --gxg-pill-with-action__border--hover: 1px solid
      var(--mer-color__elevation--02);
    --gxg-pill-with-action__border--disabled: 1px solid var(--gray-03);

    /*pills group (gxg-pills)*/
    --gxg-pills__gap: var(--mer-spacing--xs);
  }
}
