/*Gemini*/
:root {
  /*SUGGEST*/
  /*--- general ---*/
  --gxg-suggest-general__font-size: var(--ds-base-font-family-primary);
  --gxg-suggest-general__border: none;
  /*--- input ---*/
  --gxg-suggest-input__font-size: var(--ds-form-control-font-size);
  --gxg-suggest-input__height: calc(var(--spacing-comp-05) * 1.15);
  --gxg-suggest-input__border: var(--ds-border-common-styles);
  --gxg-suggest-input__padding: var(--spacing-comp-01) var(--spacing-comp-02);
  --gxg-suggest-input__background-color: var(--color-background);
  /*--- header ---*/
  --gxg-suggest-header__padding-block-end: var(--spacing-comp-02);
  /*--- close-button ---*/
  --gxg-suggest-close-button__line-height--after: var(--spacing-comp-05);
  /*--- drop-down ---*/
  --gxg-suggest-drop-down__background-color: var(--color-background);
  --gxg-suggest-drop-down__margin-top: var(--spacing-comp-01);
  --gxg-suggest-drop-down__padding: var(--spacing-comp-02);
  --gxg-suggest-drop-down__box-shadow: var(--box-shadow-02);
  /*SUGGEST LIST*/
  --gxg-suggest-list__padding: var(--spacing-comp-01);
  --gxg-suggest-list-part-list__padding: 0;
  --gxg-suggest-list__border: var(--ds-border-common-styles);
  --gxg-suggest-list__border-radius: 0;
  --gxg-suggest-list-title__font-weight: var(--font-weight-semi-bold);
  --gxg-suggest-list-title__margin: var(--spacing-comp-01) 0;
  --gxg-suggest-list-title__padding: var(--spacing-comp-01)
    var(--spacing-comp-02);
  --gxg-suggest-list-item-next-sibling__margin-block-start: var(
    --spacing-comp-02
  );
  --gxg-suggest-list-after-list-item__margin-block-start: var(
    --spacing-comp-02
  );
  --gxg-suggest-list-title__background-color: transparent;
  --gxg-suggest-list-title__color: var(--ds-base-font-color);
  /*SUGGEST LIST ITEM*/
  --gxg-suggest-list-item-button__padding: var(--spacing-comp-01)
    var(--spacing-comp-02);
  --gxg-suggest-list-item-button__padding--with-icon: var(--spacing-comp-01)
    var(--spacing-comp-02);
  --gxg-suggest-list-item-button__gap: var(--spacing-comp-01);
  --gxg-suggest-list-item-button__color--hover: inherit;
  --gxg-suggest-list-item-button__background-color: var(
    --ds-item-background-color--hover
  );
  --gxg-suggest-list-item-icon__size: var(--spacing-comp-04);
  --gxg-suggest-list-item-icon__margin-right: var(--spacing-comp-00);
  --gxg-suggest-list-item-icon__background-color--hover: var(
    --ds-item-background-color--hover
  );
  --gxg-suggest-list-item__line-height: var(
    --ds-base-font-line-height--comfortable
  );
  --gxg-suggest-list-item__height: var(--gxg-suggest-input__height);
  --gxg-suggest-list-item__border-radius: 0;
}

/*Mercury*/
:root.mercury {
  /*SUGGEST*/
  /*--- general ---*/
  --gxg-suggest-general__font-size: var(--mer-font__size--2xs);
  --gxg-suggest-general__border: var(--gxg-suggest-list__border);
  --gxg-suggest-general__border: 1px solid
    var(--mer-border-color__on-elevation--01);
  /*--- input ---*/
  --gxg-suggest-input__font-size: var(--ds-form-control-font-size);
  --gxg-suggest-input__height: var(--ds-form-control-height);
  --gxg-suggest-input__padding: var(--mer-spacing--2xs) var(--mer-spacing--xs);
  --gxg-suggest-input__background-color: var(--ds-base-background-color);
  /*--- header ---*/
  --gxg-suggest-header__padding-block-end: var(
    --gxg-suggest-header__padding-block-end
  );
  /*--- close-button ---*/
  --gxg-suggest-close-button__line-height--after: var(--mer-spacing--lg);
  /*--- drop-down ---*/
  --gxg-suggest-drop-down__background-color: var(--mer-color__surface);
  --gxg-suggest-drop-down__margin-top: var(--mer-spacing--2xs);
  --gxg-suggest-drop-down__padding: var(--mer-spacing--xs);
  --gxg-suggest-drop-down__box-shadow: var(--box-shadow-02);
  --gxg-suggest-drop-down__border: var(--box-shadow-02);
  /*SUGGEST LIST*/
  --gxg-suggest-list__padding: 0;
  --gxg-suggest-list-part-list__padding: var(--mer-border__radius--md);
  --gxg-suggest-list__border: 1px solid
    var(--mer-border-color__on-elevation--01);
  --gxg-suggest-list__border-radius: 0;
  --gxg-suggest-list-title__font-weight: var(--mer-font__weight--semi-bold);
  --gxg-suggest-list-title__margin: 0;
  --gxg-suggest-list-title__padding: var(--mer-spacing--xs)
    calc(var(--mer-spacing--xs) + var(--mer-spacing--sm));
  --gxg-suggest-list-title__background-color: var(--mer-color__elevation--01);
  --gxg-suggest-list-title__color: var(--mer-text__highlighted);
  --gxg-suggest-list-item-next-sibling__margin-block-start: var(
    --mer-spacing--xs
  );
  --gxg-suggest-list-after-list-item__margin-block-start: var(
    --mer-spacing--xs
  );
  /*SUGGEST LIST ITEM*/
  --gxg-suggest-list-item-button__padding: var(--mer-spacing--2xs)
    var(--mer-spacing--sm);
  --gxg-suggest-list-item-button__padding--with-icon: var(--spacing-comp-01)
    var(--spacing-comp-01);
  --gxg-suggest-list-item-button__gap: var(--mer-spacing--2xs);
  --gxg-suggest-list-item-button__color--hover: var(
    --mer-color__neutral-gray--100
  );
  --gxg-suggest-list-item-button__background-color: var(
    --mer-color__tinted-blue--8
  );
  --gxg-suggest-list-item-icon__size: var(--mer-spacing--md);
  --gxg-suggest-list-item-icon__margin-right: var(--mer-spacing--3xs);
  --gxg-suggest-list-item-icon__background-color--hover: var(
    --ds-item-background-color--hover
  );
  --gxg-suggest-list-item__line-height: var(
    --ds-base-font-line-height--comfortable
  );
  --gxg-suggest-list-item__border-radius: 0;
}
