/*Gemini*/
:root {
  /*--- General ---*/
  --gxg-tree-view-container__padding: var(--spacing-comp-02);
  --gxg-tree-view-item-dashed-line__border-color: var(--gray-02);
  /*--- Item ---*/
  --gxg-tree-view-item__gap: var(--spacing-comp-02);
  --gxg-tree-view-item__custom-padding-inline-start: var(--spacing-comp-01);
  --gxg-tree-view-item__custom-padding-inline-end: var(--spacing-comp-01);
  --gxg-tree-view-item__color--hover: inherit;
  --gxg-tree-view-item__font-size: var(--font-size-lg);
  /*--- Icon ---*/
  --gxg-tree-view-icon__size: var(--spacing-comp-04);
  /*--- Header ---*/
  --gxg-tree-view-item-header__min-height: var(--spacing-comp-05);
  --gxg-tree-view-item-header__padding-top: var(--spacing-comp-00);
  --gxg-tree-view-item-header__padding-bottom: var(--spacing-comp-00);
  --gxg-tree-view-item-header__padding-inline-end: var(--spacing-comp-02);
  --gxg-tree-view-item-header__outline-offset--focus: -2px;
  --gxg-tree-view-item-header__border-radius: var(--border-radius-sm);
  /*--- Expandable Button ---*/
  --gxg-tree-view-item-expandable-button__background-color: var(--gray-00);
  --gxg-tree-view-item-expandable-button__background-color--before: var(
    --gray-04
  );
  --gxg-tree-view-item-expandable-button__background-color--hover: var(
    --color-background
  );
  /*--- Left Image ---*/
  --gxg-tree-view-item-left-img__size: var(--spacing-comp-04);
  /*--- Downloading ---*/
  --gxg-tree-view-item-downloading__size: var(--spacing-comp-03);
  --gxg-tree-view-item-downloading__border: var(--border-width-md) solid
    var(--color-primary-enabled);
}
/*Mercury*/
:root.mercury {
  /*--- General ---*/
  --gxg-tree-view-container__padding: var(--mer-spacing--xs);
  --gxg-tree-view-item-dashed-line__border-color: var(
    --ds-border-color--regular
  );
  /*--- Item ---*/
  --gxg-tree-view-item__gap: var(--mer-spacing--xs);
  --gxg-tree-view-item__custom-padding-inline-start: var(--mer-spacing--2xs);
  --gxg-tree-view-item__custom-padding-inline-end: var(--mer-spacing--2xs);
  --gxg-tree-view-item__color--hover: var(--mer-color__neutral-gray--100);
  --gxg-tree-view-item__font-size: var(--mer-font__size--2xs);
  /*--- Icon ---*/
  --gxg-tree-view-icon__size: var(--mer-spacing--md);
  /*--- Header ---*/
  --gxg-tree-view-item-header__min-height: var(--mer-spacing--xl);
  --gxg-tree-view-item-header__padding-top: var(--mer-spacing--3xs);
  --gxg-tree-view-item-header__padding-bottom: var(--mer-spacing--3xs);
  --gxg-tree-view-item-header__padding-inline-end: var(--mer-spacing--xs);
  --gxg-tree-view-item-header__outline-offset--focus: -1px;
  --gxg-tree-view-item-header__border-radius: var(--mer-border__radius--sm);
  /*--- Expandable Button ---*/
  --gxg-tree-view-item-expandable-button__background-color: var(
    --mer-color__neutral-gray--1100
  );
  --gxg-tree-view-item-expandable-button__background-color--before: var(
    --mer-color__neutral-gray--200
  );
  --gxg-tree-view-item-expandable-button__background-color--hover: var(
    --mer-color__neutral-gray--900
  );
  /*--- Left Image ---*/
  --gxg-tree-view-item-left-img__size: var(--mer-spacing--md);
  /*--- Downloading ---*/
  --gxg-tree-view-item-downloading__size: var(--mer-spacing--sm);
  --gxg-tree-view-item-downloading__border: var(--mer-border__width--md) solid
    var(--mer-accent__primary--active);
}
