:host {
  display: block;

  .table {
    display: table;
    background-color: var(--color-background);
    font-family: var(--font-family-primary);
    font-size: 8.5px;
  }
  .tr {
    display: table-row;
    cursor: pointer;
    &:hover {
      background-color: var(--color-secondary-enabled);
    }
    &.selected {
      background-color: var(--color-secondary-active);
    }
  }
  .tbody {
    display: table-row-group;
  }
  .td,
  .th {
    display: table-cell;
  }
  .td {
    padding: 5px 8px;
    border-bottom: 1px solid var(--color-on-disabled);
    border-left: 1px solid var(--color-on-disabled);
    border-right: 1px solid var(--color-on-disabled);
    color: var(--color-on-background);
  }
  .th {
    padding: 10px var(--spacing-comp-02);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--gray-02);
    color: var(--color-on-background);
    letter-spacing: var(--letter-spacing-sm);
  }

  .icon-text-container {
    position: relative;
    padding-left: 12px;
    gxg-icon {
      position: absolute;
      left: -6px;
      top: -4px;
      cursor: pointer;
    }
  }
}
