@import "../../globals/normalize.scss";
@import "../../globals/mixins";
@import "../../globals/mixins-mercury";
@import "../../globals/form-validation";
@import "../../globals/common-css-classes";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*****************************************************
FORM ELEMENT WRAPPER
*****************************************************/

:host {
  .form-element-wrapper {
    @include form-element-common-styles-wrapper();
  }
}

/*****************************************************
LABEL
*****************************************************/
:host {
  label {
    @include form-element-common-styles-label();
    .required {
      padding-left: 2px;
    }
  }
  textarea {
    transition: height 200ms;
    width: 100%;
    @include gxg-text();
  }
}

/*****************************************************
TEXTAREA
*****************************************************/
:host {
  textarea {
    resize: none;
    @include form-element-common-styles();
    color: var(--ds-base-font-color);
    padding: var(--gxg-textarea-padding);

    &:focus {
      @include form-element-common-styles-focus-type-1();
    }
    &--resize {
      resize: both;
    }
  }

  textarea[disabled] {
    @include form-element-common-styles-disabled();
  }
  textarea.textarea--error {
    @include form-element-common-styles-error();
    &:focus {
      @include form-element-common-styles-error-focus();
    }
  }
  textarea.textarea--warning {
    @include form-element-common-styles-warning();
    &:focus {
      @include form-element-common-styles-warning-focus();
    }
  }
}
/*single line*/
:host(.shrink[single-line]) {
  .textarea {
    box-sizing: border-box;
    height: var(--ds-form-control-height) !important;
    overflow: hidden;
  }
}

/*scrollbar*/
.textarea {
  overflow: auto;
  height: 100%;
  @include gxg-scrollbar();
}
.textarea-wrapper {
  box-sizing: border-box;
  display: flex;
  gap: var(--spacing-comp-01);
  flex: 1;
}
/*********************************************
VALIDATION
**********************************************/
.messages-wrapper {
  @include messages-wrapper();
}

/*Ai*/
:host([ai]) {
  textarea {
    box-sizing: border-box;
    resize: none;
    height: auto;
    min-height: 24px;
  }
}
