:host(.mercury) {
  .textarea-wrapper {
    @include mc-base-styles();
    border: var(--border-width-sm) solid var(--gray-05);
    border-radius: var(--border-radius-sm);
    font-size: var(--mc-font-size-xs);
    padding: var(--spacing-comp-02) var(--spacing-comp-03);

    &:focus-within {
      @include form-element-common-styles-focus-type-1();
    }
  }
  textarea {
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    padding-inline-end: var(--spacing-comp-02);
    &:focus {
      outline: none;
    }
  }
}

/*********************************************
[grow] Only for Mercury
**********************************************/
:host([grow].mercury) {
  textarea {
    box-sizing: border-box;
    resize: none;
  }
}
