:host(.mercury) {
  font-size: var(--mc-font-size-xs);
  .textarea-wrapper {
    @include mc-base-styles();
    font-size: inherit;
    border: var(--border-width-sm) solid var(--gray-05);
    border-radius: var(--border-radius-sm);

    &:focus-within {
      @include form-element-common-styles-focus-type-1();
    }
  }
  .textarea {
    border: none;
    padding: 0;
    padding: var(--spacing-comp-02) var(--spacing-comp-03);
    font-size: inherit;
    font-family: inherit;
    line-height: 23px;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

/*********************************************
[ai] Only for Mercury
**********************************************/
:host([ai].mercury) {
  textarea {
    box-sizing: border-box;
    resize: none;
    height: auto;
  }
}
