@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  .toolbar {
    display: inline-flex;
    background-color: var(--color-primary-active);
    color: var(--color-on-primary);
    justify-content: space-between;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    height: var(--spacing-comp-l);
    position: relative;

    &:before {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 0px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid var(--color-primary-active);
      position: absolute;
    }
    &--start {
      &:before {
        left: 0;
        transform: rotate(0deg) translateX(-100%) scaleX(-1);
      }
    }
    &--top {
      &:before {
        top: 0;
        transform: rotate(180deg) translateY(100%) scaleX(-1);
      }
    }
    &--bottom {
      &:before {
        bottom: 0;
        transform: translateY(100%);
      }
    }
  }
  .left-container {
    display: flex;
    align-items: center;
    margin-inline-end: 60px;

    &__subtitle {
      padding-left: 5px;
    }
  }
  .right-container {
    display: flex;
  }
}
//Reading direction
:host(.rtl) {
  .toolbar--start {
    &:before {
      right: 0;
      top: 0;
      transform: rotate(0deg) translateX(100%);
    }
  }
  .toolbar--top {
    &:before {
      transform: rotate(180deg) translateY(100%);
    }
  }
  .toolbar--bottom {
    &:before {
      bottom: 0;
      transform: translateY(100%) scaleX(-1);
    }
  }
}
