@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }
}

/*Aligment*/
:host([alignment="start"]) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: start;
  }
}
:host([alignment="center"]) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }
}
:host([alignment="end"]) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: end;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  .gxg-title-01 {
    font-size: var(--font-size-xl);
  }
  .gxg-title-02 {
    font-size: var(--font-size-lg);
  }
  .gxg-title-03 {
    font-size: var(--font-size-lg);
  }
  .gxg-title-04 {
    font-size: var(--font-size-xl);
  }
  .gxg-title-05 {
    font-size: var(--font-size-lg);
  }
}
