@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  .contextual-menu-item {
    position: relative;
    list-style-type: none;
    font-size: var(--font-size-sm);
    font-family: var(--font-family-primary);
    padding: 1px var(--spacing-comp-05) 1px var(--spacing-comp-01);
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    white-space: nowrap;
    ::slotted(gxg-contextual-menu-submenu) {
      display: none;
    }
    &:hover {
      background-color: var(--gray-01);
      ::slotted(gxg-contextual-menu-submenu) {
        display: block;
      }
    }
    .show-more {
      position: absolute;
      right: 0;
    }

    &--no-icon {
      padding-left: var(--spacing-comp-02);
    }
  }
}
