@import "../../globals/mixins";
:host {
  display: flex;
  align-items: baseline;
  label {
    @include gxg-label();
  }
}
:host(.position-above) {
  margin-block-end: var(--gxg-label-separation-vertical);
}
:host(.position-end) {
  margin-inline-start: var(--gxg-label-separation-horizontal);
}
:host(.position-below) {
  margin-block-start: var(--gxg-label-separation-vertical);
}
:host(.position-start) {
  margin-inline-end: var(--gxg-label-separation-horizontal);
}
:host(.gxg-label--no-margin) {
  margin: 0 !important;
}
/*alignment*/
:host(.position-above.gxg-label--center),
:host(.position-below.gxg-label--center) {
  justify-content: center;
}
:host(.position-start.gxg-label--center),
:host(.position-end.gxg-label--center) {
  align-items: center;
}
/*DISABLED*/
:host([disabled]) {
  label {
    color: var(--gxg-label-color-disabled);
  }
}
/*Size*/
:host(.gxg-label--regular) {
  --gxg-label-font-size: var(--gxg-label-font-size--regular);
}
:host(.gxg-label--large) {
  --gxg-label-font-size: var(--gxg-label-font-size--large);
}
/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  label {
    @include form-element-common-styles-label-large();
  }
}
