@import "../../globals/mixins.scss";

/*---------------------------
gxg-tree-view
---------------------------*/
gxg-tree-view {
  display: contents;
}

/*---------------------------
.tree-view
---------------------------*/
.tree-view {
  --ch-tree-view-item-gap: var(--gxg-tree-view-item__gap);

  --ch-tree-view-item__checkbox-size: var(--ds-checkbox-size);
  --ch-tree-view-item__expandable-button-size: var(--mer-font__size--sm);
  --ch-tree-view-item__image-size: var(--mer-font__size--sm);

  --ch-tree-view-item-custom-padding-inline-start: var(
    --gxg-tree-view-item__custom-padding-inline-start
  );
  --ch-tree-view-item-custom-padding-inline-end: var(
    --gxg-tree-view-item__custom-padding-inline-end
  );

  @include gxg-scrollbar;
  font-family: var(--ds-base-font-family-primary);
  font-size: var(--gxg-tree-view-item__font-size);
  font-weight: var(--ds-base-font-weight);
  color: var(--ds-base-font-color);

  .ch-tree-view-container {
    min-inline-size: max-content;
    padding: var(--gxg-tree-view-container__padding);
  }
}

/*---------------------------
.tree-view-item
---------------------------*/
.tree-view-item {
  /*-- Parts ---*/
  &::part(dashed-line) {
    // border-color: var(--gxg-tree-view-item-dashed-line__border-color);
    border-color: var(--ds-base-font-color); // This is a WA to improve contrast
  }

  // Header
  &::part(header) {
    border-radius: var(--gxg-tree-view-item-header__border-radius);
    padding-inline-end: var(--gxg-tree-view-item-header__padding-inline-end);

    &:focus {
      @include form-element-common-styles-focus-type-1();
      outline-offset: var(--gxg-tree-view-item-header__outline-offset--focus);
    }
  }

  // Hover only works if the there is not drag active and the item is not selected
  .ch-tree-view-not-dragging-item &:not([selected])::part(header):hover {
    color: var(--gxg-tree-view-item__color--hover);
    background-color: var(--ds-item-background-color--hover);
  }

  &[selected]::part(header) {
    color: var(--gxg-grid-row-cell__color--selected);
    background-color: var(--ds-item-background-color--selected);

    &:hover {
      background-color: var(--ds-item-background-color--selected-hover);
    }
  }

  // Action
  &::part(action) {
    padding-block: var(--gxg-tree-view-item-header__padding-top)
      var(--gxg-tree-view-item-header__padding-bottom);
  }

  //downloading
  &::part(downloading) {
    inline-size: var(--gxg-tree-view-item-downloading__size);
    block-size: var(--gxg-tree-view-item-downloading__size);
    border: var(--gxg-tree-view-item-downloading__border);
    border-inline-start-color: transparent;
  }

  /*-- Parts for checkbox ---*/
  //container
  &::part(checkbox__container) {
    @include checkbox("container");
  }
  //focus
  &::part(checkbox__container):focus-within {
    box-shadow: none;
    @include form-element-common-styles-focus-type-1();
  }

  // Checkbox
  &::part(checkbox__option) {
    @include checkbox("option");
  }

  // Checkbox checked
  &::part(checkbox__container checkbox__checked) {
    @include checkbox("container--checked");
  }

  // Indeterminate
  &::part(checkbox__container checkbox__indeterminate) {
    @include checkbox("container--indeterminate");
  }

  &::part(checkbox__input) {
    @include checkbox("input");
  }

  /*-- Dynamic Icons ---*/
  &--folder::part(action)::before,
  &--module::part(action)::before {
    content: "";
    inline-size: var(--gxg-tree-view-icon__size);
    block-size: var(--gxg-tree-view-icon__size);
    background-repeat: no-repeat;
  }

  // Folder
  &--folder::part(action)::before {
    background-image: url("/build/icon-assets/objects/folder.svg");
  }

  &--folder::part(action expanded)::before {
    background-image: url("/build/icon-assets/objects/folder-open.svg");
  }

  // Module
  &--module::part(action)::before {
    background-image: url("/build/icon-assets/objects/module.svg");
  }

  &--module::part(action expanded)::before {
    background-image: url("/build/icon-assets/objects/module-open.svg");
  }

  /*-- Other ---*/
  // Pending commit
  &--pending-commit::part(action)::before {
    content: "";
    position: relative;
    z-index: 1;
    width: 5px;
    height: 5px;
    align-self: end;
    margin-block-end: 3px;
    margin-inline-start: 1px;
    background-color: var(--color-primary-enabled);
    border-radius: 50%;
  }
}

/*-- Other Selectors (these depend on the tag class name)---*/
.ch-tree-view-item {
  // TODO
  // &--editing::part(header) {

  // }

  &--drag-enter {
    background-color: var(--ds-item-background-color--hover);

    @include form-element-common-styles-focus-type-1();
    outline-offset: var(--gxg-tree-view-item-header__outline-offset--focus);
  }

  // TODO?
  // &:not(.ch-tree-view-item--editing)::part(header):focus-visible {

  //   // border-color: black;
  //   // z-index: 1; // Place the outline above the content
  // }
}

// TODO
.tree-view .ch-tree-view-drag-info {
  padding-inline: 6px;
  padding-block: 2px;
  background-color: var(--mer-color__elevation--04);
  border: 1px solid var(--ds-border-color--regular);
  border-radius: 10px;
  box-shadow: var(--gxg-grid-row__box-shadow--dragging);
  font-size: 8px;
}

// WA to improve the style of the drops before and after
ch-tree-view-drop::after {
  background-color: var(--ds-border-color-control--focused);
}
