<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      body {
        font-family: sans-serif;
        font-size: 14px;
        background: var(--color-background);
      }
      gxg-button-group {
        max-width: 300px;
      }
    </style>
  </head>
  <body>
    <p>primary</p>
    <gxg-button-group
      title-alignment="left"
      button-group-title="Buttons title"
      default-selected-btn-id="button1"
      full-width
    >
      <button id="button1">Button 1</button>
      <button id="button2">Button 2</button>
      <button id="button3">Button 3</button>
    </gxg-button-group>

    <br />

    <p>primary disabled</p>
    <gxg-button-group
      title-alignment="left"
      button-group-title="Buttons title"
      default-selected-btn-id="button1"
      full-width
    >
      <button id="button1">Button 1</button>
      <button id="button2" disabled>Button 2</button>
    </gxg-button-group>

    <br />

    <p>secondary</p>
    <gxg-button-group
      title-alignment="left"
      button-group-title="Buttons title"
      default-selected-btn-id="button1"
      full-width
      outlined
    >
      <button id="button1">Button 1</button>
      <button id="button2">Button 2</button>
      <button id="button3">Button 3</button>
    </gxg-button-group>

    <br />

    <p>secondary disabled</p>
    <gxg-button-group
      title-alignment="left"
      button-group-title="Buttons title"
      default-selected-btn-id="button1"
      full-width
      outlined
    >
      <button id="button1" disabled>Button 1</button>
      <button id="button2" disabled>Button 2</button>
      <button id="button3" disabled>Button 3</button>
    </gxg-button-group>

    <br />

    <p>gxg-buttons</p>
    <gxg-button type="primary-text-only">A Primary Type Button</gxg-button>
    <gxg-button type="outlined">A Secondary Type Button</gxg-button>

    <br />

    <p>gxg-buttons disabled</p>
    <gxg-button type="primary-text-only" disabled
      >A Primary Type Button</gxg-button
    >

    <gxg-button type="outlined" disabled>A Secondary Type Button</gxg-button>
  </body>
</html>
