<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      html.dark {
        background-color: #1d1e22;
      }
      body {
        font-family: var(--font-family-primary);
      }
      span {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 8px;
        display: inline-block;
        color: rgb(59, 41, 181);
      }
      .buttons-group {
        display: flex;
        gap: 8px;
        margin: 16px 0;
      }
      gxg-form-checkbox-group {
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <!-- no label enabled -->
    <span>no label enabled (and no information message)</span>
    <gxg-form-checkbox
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      display-validation-styles
    ></gxg-form-checkbox>

    <hr />

    <!-- no label enabled -->
    <span>no label enabled</span>
    <gxg-form-checkbox
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
    ></gxg-form-checkbox>

    <hr />

    <!-- no label disabled -->
    <span>no label disabled</span>
    <gxg-form-checkbox
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
      disabled
    ></gxg-form-checkbox>

    <hr />

    <!-- disabled -->
    <span>disabled</span>
    <gxg-form-checkbox
      label="Show Inherited Classes"
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
      disabled
    ></gxg-form-checkbox>

    <hr />

    <!-- disabled checked-->
    <span>disabled checked</span>
    <gxg-form-checkbox
      label="Show Inherited Classes"
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
      disabled
      checked
    ></gxg-form-checkbox>

    <hr />

    <!-- enabled -->
    <span>enabled</span>
    <gxg-form-checkbox
      label="Show Inherited Classes"
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
    ></gxg-form-checkbox>

    <hr />

    <!-- enabled checked -->
    <span>enabled checked</span>
    <gxg-form-checkbox
      label="Show Inherited Classes"
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
      checked
    ></gxg-form-checkbox>

    <hr />

    <!-- indeterminate -->
    <span>indeterminate</span>
    <gxg-form-checkbox
      label="Show Inherited Classes"
      id="show-inherited-classes"
      required
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
      indeterminate
    ></gxg-form-checkbox>

    <hr />

    <div class="buttons-group">
      <gxg-button id="validate-btn">Validate</gxg-button>
      <gxg-button type="primary-text-only" id="button"> focus </gxg-button>
    </div>

    <hr />

    <!-- as group (column) -->
    <span>checkboxs group (column)</span>
    <gxg-form-checkbox-group
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
    >
      <gxg-form-checkbox id="red" value="Red" label="Red"></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="blue"
        value="Blue"
        label="Blue"
      ></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="green"
        value="Green"
        label="Green"
      ></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="yellow"
        value="Yellow"
        label="Yellow"
      ></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="purple"
        value="Purple"
        label="Purple"
      ></gxg-form-checkbox>
    </gxg-form-checkbox-group>

    <div class="buttons-group">
      <gxg-button id="btn-show-error"> Show Error </gxg-button>
      <gxg-button id="btn-disable-group"> Disable Group </gxg-button>
      <gxg-button id="btn-enable-group"> Enable Group </gxg-button>
      <gxg-button id="btn-get-values"> Get Values </gxg-button>
    </div>

    <script>
      const radioGroup = document.querySelector("gxg-form-checkbox-group");
      const showErrorBtn = document.getElementById("btn-show-error");
      const disableGroupBtn = document.getElementById("btn-disable-group");
      const enableGroupBtn = document.getElementById("btn-enable-group");
      const getValues = document.getElementById("btn-get-values");

      showErrorBtn.addEventListener("click", (e) => {
        radioGroup.validationStatus = "error";
        radioGroup.validationMessage = "This is an error validation message";
      });
      disableGroupBtn.addEventListener("click", (e) => {
        radioGroup.disabled = true;
      });
      enableGroupBtn.addEventListener("click", (e) => {
        radioGroup.disabled = false;
      });
      getValues.addEventListener("click", async (e) => {
        const result = await radioGroup.getValues();
        console.log(result);
      });
    </script>

    <script>
      radioGroup.addEventListener("groupValuesChanged", (e) => {
        console.log(e.detail);
      });
    </script>

    <!-- as group (row) -->
    <span>checkboxs group (row)</span>
    <gxg-form-checkbox-group
      row
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
    >
      <gxg-form-checkbox id="red" value="Red" label="Red"></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="blue"
        value="Blue"
        label="Blue"
      ></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="green"
        value="Green"
        label="Green"
      ></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="yellow"
        value="Yellow"
        label="Yellow"
      ></gxg-form-checkbox>
      <gxg-form-checkbox
        checkbox-id="purple"
        value="Purple"
        label="Purple"
      ></gxg-form-checkbox>
    </gxg-form-checkbox-group>

    <!-- script -->
    <script>
      const button = document.getElementById("button");
      const checkbox = document.getElementById("show-inherited-classes");
      button.addEventListener("click", function () {
        checkbox.focus();
      });

      //validate
      const validateBtn = document.getElementById("validate-btn");
      validateBtn.addEventListener("click", async function () {
        const isValid = await checkbox.validate();
        console.log("is valid", isValid);
      });
    </script>
  </body>
</html>
