<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Columns | Gemini</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      body {
        font-family: var(--font-family-primary);
      }
      .dummy-container {
        background-color: var(--gray-01);
        padding: var(--spacing-comp-01);
        border: 1px solid var(--gray-03);
      }
      gxg-stack {
        margin-bottom: 36px;
      }
    </style>
  </head>
  <body>
    <!-- space on each gxg-columns-->
    <gxg-stack>
      <gxg-columns>
        <gxg-column width="2/3"
          ><div class="dummy-container">2/3</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="1/4"
          ><div class="dummy-container">1/4</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="3/4"
          ><div class="dummy-container">3/4</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="1/5"
          ><div class="dummy-container">1/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="2/5"
          ><div class="dummy-container">2/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="3/5"
          ><div class="dummy-container">3/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="4/5"
          ><div class="dummy-container">4/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
    </gxg-stack>

    <p>
      <code>space="s" column-space="s"</code>
    </p>
    <!-- space on each gxg-columns-->
    <gxg-stack space="s" columns-space="s">
      <gxg-columns>
        <gxg-column width="2/3"
          ><div class="dummy-container">2/3</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="1/4"
          ><div class="dummy-container">1/4</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="3/4"
          ><div class="dummy-container">3/4</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="1/5"
          ><div class="dummy-container">1/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="2/5"
          ><div class="dummy-container">2/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="3/5"
          ><div class="dummy-container">3/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="4/5"
          ><div class="dummy-container">4/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
    </gxg-stack>

    <p>
      <code>space="m" column-space="m"</code>
    </p>
    <!-- space on each gxg-columns-->
    <gxg-stack space="m" columns-space="m">
      <gxg-columns>
        <gxg-column width="2/3"
          ><div class="dummy-container">2/3</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="1/4"
          ><div class="dummy-container">1/4</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="3/4"
          ><div class="dummy-container">3/4</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="1/5"
          ><div class="dummy-container">1/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="2/5"
          ><div class="dummy-container">2/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="3/5"
          ><div class="dummy-container">3/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
      <gxg-columns>
        <gxg-column width="4/5"
          ><div class="dummy-container">4/5</div></gxg-column
        ><gxg-column width="fluid"
          ><div class="dummy-container">Fluid</div></gxg-column
        >
      </gxg-columns>
    </gxg-stack>
  </body>
</html>
