<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style></style>
  </head>
  <body>
    <gxg-date-picker
      label="Set your birthday:"
      max-width="240px"
      min-date="2019, 12, 20"
      max-date="2028, 12, 20"
      no-weekends
    ></gxg-date-picker>
    <script>
      const date = new Date("2024-03-25");
      const datePicker = document.querySelector("gxg-date-picker");
      //datePicker.value = date;
      datePicker.addEventListener("valueChanged", (e) => {
        console.log(e.detail);
      });
    </script>
  </body>
</html>
