<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      .input-wrapper {
        position: relative;
        display: inline-block;
      }
      .options-icon {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    </style>
  </head>
  <body>
    <gxg-form-text
      id="first-form-text-1"
      id="first-form-text"
      label="Full name"
      placeholder="John Smith"
      value="hola"
      min-length="2"
      pattern="^[a-z]{3}$"
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
      readonly
      label-position="start"
      label-width="300px"
      center-label
      disabled
    ></gxg-form-text>
    <gxg-button id="validate-btn-1">Validate</gxg-button>
    <br />
    <br />
    <gxg-form-text
      id="first-form-text-2"
      label="Full name"
      placeholder="John Smith"
      value="hola"
      min-length="2"
      pattern="^[a-z]{3}$"
      validation-message="This is an error message"
      information-message="Insert your full name with the following pattern: '^[a-z]{3}$'"
      display-validation-styles
      display-validation-message
    ></gxg-form-text>
    <gxg-button id="validate-btn-2">Validate</gxg-button>

    <hr />
    <br />

    <div class="input-wrapper">
      <gxg-form-text
        label="Full name"
        placeholder="John Smith"
        id="gxg-form-text"
      ></gxg-form-text>
      <gxg-button
        class="options-icon"
        icon="gemini-tools/show-more-horizontal"
        type="tertiary"
      ></gxg-button>
    </div>
    <br />
    <gxg-button id="btn-set-focus">set focus</gxg-button>
    <gxg-button id="btn-show-errors">Show errors</gxg-button>
    <br />
    <br />
    <gxg-form-text
      icon="gemini-tools/edit"
      icon-position="start"
      label="Full name"
      placeholder="John Smith"
      id="gxg-form-text"
      error
    ></gxg-form-text>
    <br />
    <gxg-form-text
      icon="gemini-tools/edit"
      icon-position="start"
      label="Full name"
      placeholder="John Smith"
      id="gxg-form-text"
      disabled
    ></gxg-form-text>
    <br />
    <gxg-form-text
      icon="gemini-tools/edit"
      icon-position="end"
      label="Full name"
      placeholder="John Smith"
      id="gxg-form-text"
    ></gxg-form-text>
    <br />
    <gxg-form-text
      clear-button
      icon="gemini-tools/edit"
      icon-position="start"
      label="Full name"
      placeholder="John Smith"
      id="gxg-form-text"
    ></gxg-form-text>
    <br />
    <gxg-form-text
      clear-button
      icon="gemini-tools/edit"
      icon-position="end"
      label="Full name"
      placeholder="John Smith"
      id="gxg-form-text"
    ></gxg-form-text>

    <script>
      //Set focus programatically
      let btnSetFocus = document.getElementById("btn-set-focus");
      let formText = document.getElementById("gxg-form-text");
      btnSetFocus.addEventListener("click", function () {
        formText.focus();
      });

      //Display error message
      const btnShowErrors = document.getElementById("btn-show-errors");
      btnShowErrors.addEventListener("click", function () {
        const gxgFormText = document.getElementById("gxg-form-text");
        const gxgFormMessage = document.createElement("gxg-form-message");
        gxgFormMessage.innerHTML = "Please, provide your full name";
        gxgFormMessage.setAttribute("type", "error");
        gxgFormMessage.setAttribute("slot", "message");
        gxgFormText.setAttribute("error", true);
        gxgFormText.appendChild(gxgFormMessage);
      });

      //validate
      const firstFormText1 = document.getElementById("first-form-text-1");
      const firstFormText2 = document.getElementById("first-form-text-2");
      const validateBtn1 = document.getElementById("validate-btn-1");
      const validateBtn2 = document.getElementById("validate-btn-2");
      validateBtn1.addEventListener("click", function () {
        firstFormText1.validate();
      });
      validateBtn2.addEventListener("click", function () {
        firstFormText2.validate();
      });
    </script>
  </body>
</html>
