<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Template | Gemini</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      .box {
        width: 150px;
        height: 40px;
        background-color: beige;
      }
      span {
        font-family: sans-serif;
        margin-bottom: 8px;
        display: block;
        font-style: italic;
      }
      .container {
        display: flex;
        max-width: 250px;
        padding-bottom: 16px;
        margin-bottom: 36px;
      }
      .column {
        flex-direction: column;
      }
      .column .box {
        width: 100%;
      }
      hr {
        opacity: 0.15;
      }
      body {
        font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <h2>label-position</h2>

    <span>label-position="start"</span>
    <div class="container">
      <gxg-label label-position="start">This is the label</gxg-label>
      <div class="box"></div>
    </div>
    <hr />

    <span>label-position="end"</span>
    <div class="container">
      <div class="box"></div>
      <gxg-label label-position="end">This is the label</gxg-label>
    </div>
    <hr />

    <span>label-position="above"</span>
    <div class="container column">
      <gxg-label label-position="above">This is the label</gxg-label>
      <div class="box"></div>
    </div>
    <hr />

    <span>label-position="below"</span>
    <div class="container column">
      <div class="box"></div>
      <gxg-label label-position="below">This is the label</gxg-label>
    </div>
    <hr />

    <!-- CENTER -->
    <h2>center</h2>

    <span>label-position="start" + center="false"</span>
    <div class="container">
      <gxg-label label-position="start" center="false"
        >This is the label</gxg-label
      >
      <div class="box"></div>
    </div>
    <hr />

    <span>label-position="end" + center="false"</span>
    <div class="container">
      <div class="box"></div>
      <gxg-label label-position="end" center="false"
        >This is the label</gxg-label
      >
    </div>
    <hr />

    <span>label-position="above" + center</span>
    <div class="container column">
      <gxg-label label-position="above" center>This is the label</gxg-label>
      <div class="box"></div>
    </div>
    <hr />

    <span>label-position="below" + center</span>
    <div class="container column">
      <div class="box"></div>
      <gxg-label label-position="below" center>This is the label</gxg-label>
    </div>

    <!-- NO MARGIN -->

    <h2>no-margin</h2>

    <span>label-position="start" + no-margin</span>
    <div class="container">
      <gxg-label label-position="start" no-margin>This is the label</gxg-label>
      <div class="box"></div>
    </div>
    <hr />

    <span>label-position="end" + no-margin</span>
    <div class="container">
      <div class="box"></div>
      <gxg-label label-position="end" no-margin>This is the label</gxg-label>
    </div>
    <hr />

    <span>label-position="above" + no-margin</span>
    <div class="container column">
      <gxg-label label-position="above" no-margin>This is the label</gxg-label>
      <div class="box"></div>
    </div>
    <hr />

    <span>label-position="below" + no-margin</span>
    <div class="container column">
      <div class="box"></div>
      <gxg-label label-position="below" no-margin>This is the label</gxg-label>
    </div>
    <hr />

    <!-- TOOLTIP -->

    <h2>tooltip</h2>

    <span>label="Apple" + tooltip="A red delicious fruit"</span>
    <div class="container">
      <gxg-label tooltip="A red delicious fruit">Apple</gxg-label>
      <div class="box"></div>
    </div>
    <hr />

    <!-- WIDTH -->

    <h2>width</h2>
    <span>width="100px"</span>
    <div class="container">
      <gxg-label tooltip="A red delicious fruit" width="100px">Apple</gxg-label>
      <div class="box"></div>
    </div>
  </body>
</html>
