<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Template | Gemini</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
  </head>
  <body>
    <gxg-label label-position="above">This is the label</gxg-label>
    <gxg-label label-position="end">This is the label</gxg-label>
    <gxg-label label-position="below">This is the label</gxg-label>
    <gxg-label label-position="start">This is the label</gxg-label>
    <gxg-form-text
      icon="gemini-tools/edit"
      icon-position="start"
      label="Full name"
      label-position="top"
      placeholder="John Smith"
      id="gxg-form-text"
      max-width="240px"
      error
    ></gxg-form-text>
  </body>
</html>
