<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      html.dark {
        background-color: #1d1e22;
      }
      h2 {
        font-family: var(--font-family-primary);
        font-weight: var(--font-weight-semibold);
        font-size: 18px;
      }
      .container {
        max-width: 300px;
      }
      .section {
        margin-bottom: 64px;
      }
      button {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <button>button before focus</button>
      <br /><br />

      <!-- TESTS -->
      <h2>tests</h2>

      <!-- max height -->
      <div
        class="list-box-container section"
        style="
          background-color: rgb(215, 228, 250);
          padding: 16px;
          height: 200px;
        "
      >
        <gxg-list-box
          data-title="max height"
          height="100%"
          min-height="50%"
          no-border
          emit-empty-selection
        >
          <gxg-list-box-item
            >0.Common this is a large, very large list
            description</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/business-process-diagram" disabled
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item checked icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider" disabled
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color" disabled
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/dashboard"
            >6.Dashboard</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/deployment-unit"
            >7.Deployment Unit</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/dso">8.DSO</gxg-list-box-item>
          <gxg-list-box-item icon="objects/structured-data-type"
            >9.Structured Data Type</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- show errors -->
      <div class="section">
        <gxg-list-box
          data-title="show errors"
          validation-message="This is the validation message"
          id="show-errors-list-box"
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
        </gxg-list-box>
        <button id="show-errors">show errors</button>
        <script>
          const showErrorsListBox = document.getElementById(
            "show-errors-list-box"
          );
          const showErrorsBtn = document.getElementById("show-errors");
          showErrorsBtn.addEventListener("click", () => {
            showErrorsListBox.setAttribute("validation-status", "error");
          });
        </script>
      </div>

      <!-- SINGLE SELECTION -->
      <h2>single selection</h2>

      <!-- single selection -->
      <div class="section">
        <gxg-list-box data-title="single selection" single-selection>
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- single selection + allows empty-->
      <div class="section">
        <gxg-list-box
          data-title="single selection + allows empty"
          single-selection
          allows-empty
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- single selection + checkboxes -->
      <div class="section">
        <gxg-list-box
          data-title="single selection + checkboxes"
          single-selection
          checkboxes
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- MULTI SELECTION -->
      <h2>multi selection</h2>

      <!-- multi selection -->
      <div class="section">
        <gxg-list-box data-title="multi-selection">
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- multi selection + allows empty-->
      <div class="section">
        <gxg-list-box data-title="multi-selection + allows empty" allows-empty>
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- multi selection + checkboxes -->
      <div class="section">
        <gxg-list-box data-title="multi-selection + checkboxes" checkboxes>
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- BORDERS -->
      <h2>borders</h2>

      <!-- no border -->
      <div class="section">
        <gxg-list-box data-title="no border" checkboxes no-border>
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- no border + border-top-->
      <div class="section">
        <gxg-list-box
          data-title="no border + border-top"
          checkboxes
          no-border
          border-top
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- no border + border-end-->
      <div class="section">
        <gxg-list-box
          data-title="no border + border-end"
          checkboxes
          no-border
          border-end
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- no border + border-bottom-->
      <div class="section">
        <gxg-list-box
          data-title="no border + border-bottom"
          checkboxes
          no-border
          border-bottom
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>

      <!-- no border + border-start-->
      <div class="section">
        <gxg-list-box
          data-title="no border + border-start"
          checkboxes
          no-border
          border-start
        >
          <gxg-list-box-item>0.Common</gxg-list-box-item>
          <gxg-list-box-item icon="objects/business-process-diagram"
            >1.BPM</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/conversational-flows"
            >2.Chatbots</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/data-provider"
            >3.Data Management</gxg-list-box-item
          >
          <gxg-list-box-item icon="objects/bg-color"
            >4.Resources</gxg-list-box-item
          >
          <gxg-list-box-item value="user-interface" icon="objects/webpanel"
            >5.User interface</gxg-list-box-item
          >
        </gxg-list-box>
      </div>
    </div>

    <script>
      const sections = document.querySelectorAll(".section");
      sections.forEach((section, i) => {
        const listBox = section.querySelector("gxg-list-box");
        const hasCheckboxes = listBox.getAttribute("checkboxes");
        //title
        const listBoxTitle = listBox.getAttribute("data-title");
        listBox.setAttribute("the-title", `${i} - ${listBoxTitle}`);
        //selectionChanged listener
        listBox.addEventListener("selectionChanged", (e) => {
          console.log(`selectionChanged ${i}: `, e.detail);
        });
        //checkedChanged listener
        listBox.addEventListener("checkedChanged", (e) => {
          console.log(`checkedChanged ${i}: `, e.detail);
        });
        //get selected items
        if (i !== 0 && i !== 1) {
          const getSelectedBtn = document.createElement("button");
          getSelectedBtn.addEventListener("click", () => {
            listBox.getSelectedItems().then((selectedItems) => {
              console.log(`checkedChanged ${i}: `, selectedItems);
            });
          });
          getSelectedBtn.innerText = "get selected";
          section.appendChild(getSelectedBtn);
        }
      });
    </script>
  </body>
</html>
