<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>menu | Gemini</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      gxg-menu {
        max-width: 100px;
      }
      h3 {
        font-family: "Open Sans";
      }
    </style>
  </head>
  <body>
    <gxg-menu menu-title="foods">
      <gxg-menu-item
        label="fruits fiods opfisd opfiasd opfi dsopfi asdofi sdopfis d"
        onclick="menuItemClicked(this)"
      ></gxg-menu-item>

      <gxg-menu-item label="vegetables" onclick="menuItemClicked(this)">
        ></gxg-menu-item
      >

      <gxg-menu-item
        label="meats"
        onclick="menuItemClicked(this)"
      ></gxg-menu-item>
    </gxg-menu>
    <script>
      const menu = document.querySelector("gxg-menu");
      menu.addEventListener("menuItemActive", e => {
        console.log(e);
      });
      function menuItemClicked(e) {
        console.log("clicked");
      }

      function updateMenuActiveItem(selectedItem) {
        const menu = selectedItem.parentElement;
        menuItems = Array.from(menu.querySelectorAll("gxg-menu-item"));
        menuItems.forEach(menuItem => {
          if (menuItem === selectedItem) {
            menuItem.setAttribute("active", true);
          } else {
            menuItem.removeAttribute("active");
          }
        });
      }
    </script>
  </body>
</html>
