<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Radio | Gemini</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      body {
        font-family: var(--font-family-primary);
      }
      span {
        font-size: 12px;
      }
      gxg-form-radio-group {
        margin-bottom: 32px;
      }
    </style>
  </head>
  <body>
    <!-- as column -->
    <span><strong>as column</strong></span
    ><br />
    <div id="radio-group-wrapper">
      <gxg-form-radio-group label="my favorite color" id="first-radio-group">
        <gxg-form-radio label="red" value="red" disabled></gxg-form-radio>
        <gxg-form-radio
          label="blue"
          value="blue"
          id="radio-blue"
        ></gxg-form-radio>
        <gxg-form-radio label="green" value="green"></gxg-form-radio>
        <gxg-form-radio label="yellow" value="yellow"></gxg-form-radio>
      </gxg-form-radio-group>
    </div>

    <!-- as row -->
    <span><strong>as row</strong></span
    ><br />

    <gxg-form-radio-group row label="my favorite color">
      <gxg-form-radio
        label="red"
        name="colors"
        value="red"
        radio-id="red"
      ></gxg-form-radio>
      <gxg-form-radio
        label="blue"
        name="colors"
        value="blue"
        radio-id="blue"
        disabled
      ></gxg-form-radio>
      <gxg-form-radio
        label="green"
        name="colors"
        value="green"
        radio-id="green"
        checked
      ></gxg-form-radio>
      <gxg-form-radio
        label="yellow"
        name="colors"
        value="yellow"
        radio-id="yellow"
      ></gxg-form-radio>
    </gxg-form-radio-group>

    <gxg-button id="error-btn">Show Error</gxg-button>
    <gxg-button id="warning-btn">Show Warning</gxg-button>

    <script>
      const firstRadioGroup = document.getElementById("first-radio-group");
      firstRadioGroup.setAttribute("display-validation-message", true);

      /*error*/
      const errorBtn = document.getElementById("error-btn");
      errorBtn.addEventListener("click", () => {
        firstRadioGroup.setAttribute(
          "validation-message",
          "This is an error message"
        );
        firstRadioGroup.setAttribute("validation-status", "error");
      });

      /*warning*/
      const warningBtn = document.getElementById("warning-btn");
      warningBtn.addEventListener("click", () => {
        firstRadioGroup.setAttribute(
          "validation-message",
          "This is a warning message"
        );
        firstRadioGroup.setAttribute("validation-status", "warning");
      });

      /*Listen to change event*/
      firstRadioGroup.addEventListener("change", (e) => {
        console.log("console external", e.detail);
      });
    </script>
  </body>
</html>
