<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Scroll | Gemini</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      body {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-lg);
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <gxg-scroll style="height: 100px">
        <p>
          I'm baby mumblecore cray ugh etsy. Pickled drinking vinegar leggings
          listicle vibecession wolf truffaut cloud bread. Pug cupping fam,
          meggings post-ironic narwhal gentrify hella af heirloom mixtape
          forage. Yuccie fixie flannel, food truck 90's fit humblebrag iPhone.
          Helvetica woke godard you probably haven't heard of them same
          slow-carb green juice jianbing vegan single-origin coffee truffaut
          trust fund drinking vinegar fanny pack keffiyeh.
        </p>
        <p>
          +1 williamsburg man braid microdosing keffiyeh fixie health goth
          farm-to-table lyft cliche VHS bodega boys lo-fi blackbird spyplane af.
          Affogato cold-pressed cornhole JOMO praxis celiac. Viral pour-over
          woke, flexitarian tumblr small batch yuccie offal banh mi sartorial
          jianbing next level glossier. Glossier live-edge lyft, sus air plant
          craft beer tote bag tousled.
        </p>
        <p>
          Mukbang tilde air plant blackbird spyplane fam ennui. Single-origin
          coffee pork belly four dollar toast neutral milk hotel migas forage
          activated charcoal chia retro sus. Brooklyn adaptogen synth green
          juice authentic bodega boys affogato everyday carry, glossier fit
          bespoke viral migas. Banjo schlitz tote bag man bun paleo cupping cred
          ascot messenger bag blackbird spyplane XOXO bodega boys grailed swag.
          Offal jawn knausgaard cronut chia bushwick austin jean shorts iceland,
          vexillologist post-ironic tbh unicorn franzen retro.
        </p>
      </gxg-scroll>
    </div>
  </body>
</html>
