<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Suggest | Gemini</title>

    <script src=""></script>
    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      body {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-lg);
        background-color: var(--color-background);
      }
      :focus {
        outline-style: none !important;
        background-color: none !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <button id="set-focus">Set focus on suggest</button> <br /><br />

      <!-- frutas -->
      <span><strong>frutas</strong></span>
      <ul data-category="frutas" class="data-list">
        <li
          data-value="manzana-123"
          data-icon="general/db2"
          data-id="my-manzana-id"
        >
          Manzanas Label
        </li>
        <li>bananas</li>
        <li>naranjas</li>
        <li>uvas</li>
        <li>frutillas</li>
      </ul>
      <!-- granos -->
      <span><strong>(sin categoría)</strong></span>
      <ul class="data-list">
        <li>porotos</li>
        <li>garbanzos</li>
        <li>lentejas</li>
        <li>chia</li>
      </ul>
      <!-- verduras -->
      <span><strong>verduras</strong></span>
      <ul data-category="verduras" class="data-list">
        <li>lecuhgas</li>
        <li>tomates</li>
        <li>cebollas</li>
        <li>apio</li>
        <li>papas</li>
      </ul>

      <!-- ch-suggest -->
      <section class="section-dev" data-title="ch-suggest">
        <gxg-suggest
          elipsis
          validation-status="success"
          validation-message="Some success message"
        >
          <ch-suggest
            label="This is the label"
            suggest-title="Select your food"
            label-position="start"
            suggest-value="una-descripción-inicial"
            input-value="Una descripción inicial"
          >
          </ch-suggest>
        </gxg-suggest>
      </section>
      <button id="select-text-button">Select text</button>
      <button id="focus-button">Focus</button>

      <script>
        const chSuggest = document.querySelector("ch-suggest");
        chSuggest.cursorEnd = true;
        /*Select text button*/
        const selectTextButton = document.getElementById("select-text-button");
        selectTextButton.addEventListener("click", async e => {
          await chSuggest.selectInputText();
        });
        /*Focus button*/
        const focusButton = document.getElementById("focus-button");
        focusButton.addEventListener("click", e => {
          chSuggest.focus();
        });
      </script>

      <!-- ch-suggest-list -->
      <section class="section-dev" data-title="ch-suggest-list">
        <ch-suggest-list label="fruits">
          <ch-suggest-list-item>
            <gxg-icon color="auto" type="general/db2" slot="icon"></gxg-icon>
            apple
          </ch-suggest-list-item>
          <ch-suggest-list-item>
            <gxg-icon color="auto" type="general/db2" slot="icon"></gxg-icon>
            bananas
          </ch-suggest-list-item>
          <ch-suggest-list-item>
            <gxg-icon color="auto" type="general/db2" slot="icon"></gxg-icon>
            orange
          </ch-suggest-list-item>
        </ch-suggest-list>
      </section>

      <!-- ch-suggest-list-item -->
      <section class="section-dev" data-title="ch-suggest-list-item">
        <ch-suggest-list-item>
          <gxg-icon
            auto-color
            src="./assets/icons/apple.svg"
            slot="icon"
          ></gxg-icon>
          apple
        </ch-suggest-list-item>
      </section>
    </div>

    <script>
      let fragment;
      const lists = document.querySelectorAll(".data-list");
      chSuggest.addEventListener("valueChanged", e => {
        const inputValue = e.detail.trim();
        if (inputValue) {
          let filteredItems = [];
          fragment = document.createDocumentFragment();
          lists.forEach(list => {
            const category = list.getAttribute("data-category");
            const items = list.querySelectorAll("li");
            filteredItems = Array.from(items).filter(item => {
              return item.innerText.toLowerCase().includes(e.detail);
            });
            if (filteredItems.length > 0) {
              const chSuggestList = document.createElement("ch-suggest-list");
              if (category) {
                chSuggestList.setAttribute("label", category);
              }
              filteredItems.forEach(item => {
                const chSuggestListItem = document.createElement(
                  "ch-suggest-list-item"
                );
                chSuggestListItem.innerText = item.innerText;
                chSuggestListItem.value = item.getAttribute("data-value");
                chSuggestListItem.itemId = item.getAttribute("data-id");
                if (category) {
                  chSuggestList.appendChild(chSuggestListItem);
                } else {
                  //chSuggest.appendChild(chSuggestListItem);
                  fragment.appendChild(chSuggestListItem);
                }
                const iconSrc = item.getAttribute("data-icon");
                if (iconSrc) {
                  const icon = document.createElement("gxg-icon");
                  icon.setAttribute("type", iconSrc);
                  icon.setAttribute("slot", "icon");
                  chSuggestListItem.appendChild(icon);
                }
              });
              if (category) {
                //chSuggest.appendChild(chSuggestList);
                fragment.appendChild(chSuggestList);
              }
            }
          });
          setTimeout(() => {
            chSuggest.innerHTML = "";
            chSuggest.appendChild(fragment);
            fragment = null;
          }, 200);
        } else {
          chSuggest.innerHTML = "";
        }
      });
    </script>

    <br />
    <gxg-suggest
      validation-status="warning"
      validation-message="Some warning message"
    >
      <ch-suggest
        label="Label Warning"
        show-label
        label-position="above"
      ></ch-suggest>
    </gxg-suggest>
    <br />
    <gxg-suggest
      validation-status="error"
      validation-message="Some error message"
    >
      <ch-suggest
        label="Label Error"
        show-label
        label-position="above"
        disabled
      ></ch-suggest>
    </gxg-suggest>
    <br />
    <gxg-suggest disabled>
      <ch-suggest
        label="Label (disabled)"
        show-label
        label-position="above"
        value="hola"
      ></ch-suggest>
    </gxg-suggest>
    <br />

    <script>
      const setFocusBtn = document.getElementById("set-focus");
      setFocusBtn.addEventListener("click", function () {
        chSuggest.focus();
      });
      chSuggest.addEventListener("valueChanged", e => {
        console.log("valueChanged event:", e.detail);
      });

      chSuggest.addEventListener("itemSelected", e => {
        console.log("itemSelected event:", e.detail);
      });
    </script>
  </body>
</html>
