<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Suggest | Gemini</title>

    <script src=""></script>
    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      body {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-lg);
        background-color: var(--color-background);
      }
      :focus {
        outline-style: none !important;
        background-color: none !important;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <button id="set-focus">Set focus on suggest</button> <br /><br />

      <!-- frutas -->
      <span><strong>frutas</strong></span>
      <ul data-category="frutas" class="data-list">
        <li
          data-icon="objects/conversational-flows"
          data-value="manzanas-123"
          data-description="esta es la description de la manzana esta es la description de la manzana"
        >
          manzanas
        </li>
        <li data-icon="editing-structures/attribute-formula">bananas</li>
        <li>naranjas</li>
        <li>uvas</li>
        <li>frutillas</li>
      </ul>
      <!-- granos -->
      <span><strong>(sin categoría)</strong></span>
      <ul class="data-list">
        <li>porotos</li>
        <li>garbanzos</li>
        <li>lentejas</li>
        <li>chia</li>
      </ul>
      <!-- verduras -->
      <span><strong>verduras</strong></span>
      <ul data-category="verduras" class="data-list">
        <li>lecuhgas</li>
        <li>tomates</li>
        <li>cebollas</li>
        <li>apio</li>
        <li>papas</li>
      </ul>

      <!-- ch-suggest -->
      <section class="section-dev" data-title="ch-suggest">
        <gxg-suggest
          elipsis
          validation-status="success"
          validation-message="Some success message"
        >
          <ch-suggest
            label="Label Success"
            show-label
            label-position="above"
            id="ch-suggest"
          ></ch-suggest>
        </gxg-suggest>
        <button id="select-text-btn" style="margin: 8px 0">Select text</button>
        <script>
          const chSuggest = document.querySelector("ch-suggest");
          chSuggest.cursorEnd = false;
          const selectTextBtn = document.getElementById("select-text-btn");
          selectTextBtn.addEventListener("click", async function () {
            await chSuggest.selectInputText();
          });
        </script>
        <br />
        <gxg-suggest
          validation-status="warning"
          validation-message="Some warning message"
        >
          <ch-suggest
            label="Label Warning"
            show-label
            label-position="above"
          ></ch-suggest>
        </gxg-suggest>
        <br />
        <gxg-suggest
          validation-status="error"
          validation-message="Some error message"
        >
          <ch-suggest
            label="Label Error"
            show-label
            label-position="above"
            disabled
          ></ch-suggest>
        </gxg-suggest>
        <br />
        <gxg-suggest disabled>
          <ch-suggest
            label="Label (disabled)"
            show-label
            label-position="above"
            value="hola"
          ></ch-suggest>
        </gxg-suggest>
      </section>
      <br />

      <gxg-combo-box
        id="combo-standard-abc123"
        placeholder="Select item"
        label="Standard combo (abc123):"
        validation-status="warning"
        validation-message="Some message"
      >
        <gxg-combo-box-item value="a1 value">a1</gxg-combo-box-item>
        <gxg-combo-box-item value="a12 value">a12</gxg-combo-box-item>
        <gxg-combo-box-item value="a2 value">a2</gxg-combo-box-item>
        <gxg-combo-box-item value="a3 value">a3</gxg-combo-box-item>
        <gxg-combo-box-item value="b1 value">b1</gxg-combo-box-item>
        <gxg-combo-box-item value="b2 value">b2</gxg-combo-box-item>
        <gxg-combo-box-item value="b3 value">b3</gxg-combo-box-item>
        <gxg-combo-box-item value="c1 value">c1</gxg-combo-box-item>
        <gxg-combo-box-item value="c2 value">c2</gxg-combo-box-item>
        <gxg-combo-box-item value="c3 value">c3</gxg-combo-box-item>
      </gxg-combo-box>
    </div>

    <script>
      const lists = document.querySelectorAll(".data-list");
      chSuggest.addEventListener("valueChanged", (e) => {
        let counter = 0;
        chSuggest.innerHTML = "";
        lists.forEach((list) => {
          const category = list.getAttribute("data-category");
          const items = list.querySelectorAll("li");
          const filteredItems = Array.from(items).filter((item) => {
            return item.innerText.toLowerCase().includes(e.detail);
          });
          if (filteredItems.length) {
            const chSuggestList = document.createElement("ch-suggest-list");
            if (category) {
              chSuggestList.setAttribute("label", category);
            }
            filteredItems.forEach((item) => {
              const chSuggestListItem = document.createElement(
                "ch-suggest-list-item"
              );
              chSuggestListItem.innerText = item.innerText;
              chSuggestListItem.value = item.getAttribute("data-value");
              chSuggestListItem.description = item.getAttribute(
                "data-description"
              );
              if (category) {
                chSuggestList.appendChild(chSuggestListItem);
                counter++;
              } else {
                chSuggest.appendChild(chSuggestListItem);
                counter++;
              }
              const dataIcon = item.getAttribute("data-icon");
              if (dataIcon) {
                const gxgIcon = document.createElement("gxg-icon");
                gxgIcon.setAttribute("type", dataIcon);
                gxgIcon.setAttribute("size", "small");
                gxgIcon.setAttribute("slot", "icon");
                gxgIcon.setAttribute("color", "auto");
                chSuggestListItem.appendChild(gxgIcon);
              }
            });
            if (category) {
              chSuggest.appendChild(chSuggestList);
            }
          }
        });
        if (e.detail !== "" && counter === 0) {
          /*no hay coincidencias*/
          // chSuggest.innerHTML = "<p style='margin:0'>No hay coincidencias</p>";
        }
      });
      chSuggest.addEventListener("valueChanged", (e) => {
        console.log("valueChanged", e);
      });
      chSuggest.addEventListener("enterPressed", (e) => {
        console.log("enterPressed", e);
      });
    </script>

    <script>
      const setFocusBtn = document.getElementById("set-focus");
      setFocusBtn.addEventListener("click", function () {
        chSuggest.focus();
      });
    </script>
  </body>
</html>
