<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      gxg-text {
        border: 1px solid gray;
        margin-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <gxg-text type="text-regular" max-width="200px" text-align="center"
      >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque
      distinctio illum nostrum, id eum, eveniet odit voluptas sunt fuga
      perferendis ex porro et dolor, ipsam ducimus! Nulla ut similique
      maiores.</gxg-text
    >
    <gxg-text type="text-gray"
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. A impedit
      eligendi ipsa nihil animi quibusdam quis expedita, odit praesentium
      consequatur laudantium reiciendis magnam, explicabo doloremque
      perspiciatis, repellendus alias officia quasi.</gxg-text
    >
    <gxg-text type="text-quote"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      nulla aut, id eum saepe recusandae sed natus. Commodi eius laborum
      voluptates rem voluptas ea hic labore, recusandae consectetur similique
      minus!</gxg-text
    >
    <gxg-text
      type="text-link"
      text-align="center"
      max-width="200px"
      text-align="center"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      nulla aut, id eum saepe recusandae sed natus. Commodi eius laborum
      voluptates rem voluptas ea hic labore, recusandae consectetur similique
      minus!</gxg-text
    >
    <gxg-text type="text-link-gray" text-align="end">A gray link</gxg-text>
    <gxg-text type="text-alert-error">An error message</gxg-text>
    <gxg-text type="text-alert-warning" padding="s">A warning message</gxg-text>
    <gxg-text type="text-alert-success" padding="m">A sucess message</gxg-text>
    <gxg-text text-align="center" padding="m" type="text-gray">
      {this.referencedBy?.length === 0 ? "No hay trees para mostrar" : "Hubo un
      error"}
    </gxg-text>

    <gxg-text type="text-link-gray-no-line" text-align="end"
      >A gray link (no-line)</gxg-text
    >
    <gxg-text type="text-link-no-line" text-align="end"
      >A link (no-line)</gxg-text
    >

    (gray borders are not part of the gxg-text)
  </body>
</html>
