<!DOCTYPE html>
<html dir="ltr" lang="en" class="gxg-large dark">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      body {
        color: var(--color-on-background);
        background-color: var(--color-background);
      }
    </style>
  </head>
  <body>
    <p>align <em>start</em></p>
    <gxg-title type="title-01">This is a title type 01</gxg-title><br />
    <gxg-title type="title-02">This is a title type 02</gxg-title><br />
    <gxg-title type="title-03">This is a title type 03</gxg-title><br />
    <gxg-title type="title-04">This is a title type 04</gxg-title><br />
    <gxg-title type="title-05">This is a title type 05</gxg-title>
    <hr />
    <p>align <em>center</em></p>
    <gxg-title alignment="center" type="title-01"
      >This is a title type 01</gxg-title
    ><br />
    <gxg-title alignment="center" type="title-02"
      >This is a title type 02</gxg-title
    ><br />
    <gxg-title alignment="center" type="title-03"
      >This is a title type 03</gxg-title
    ><br />
    <gxg-title alignment="center" type="title-04"
      >This is a title type 04</gxg-title
    ><br />
    <gxg-title alignment="center" type="title-05"
      >This is a title type 05</gxg-title
    >
    <hr />
    <p>align <em>end</em></p>
    <gxg-title alignment="end" type="title-01"
      >This is a title type 01</gxg-title
    ><br />
    <gxg-title alignment="end" type="title-02"
      >This is a title type 02</gxg-title
    ><br />
    <gxg-title alignment="end" type="title-03"
      >This is a title type 03</gxg-title
    ><br />
    <gxg-title alignment="end" type="title-04"
      >This is a title type 04</gxg-title
    ><br />
    <gxg-title alignment="end" type="title-05"
      >This is a title type 05</gxg-title
    >
    <hr />
  </body>
</html>
