<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>2 - SASS - Night Mode with Class</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />
    <style>
      gxg-test::part(tab-bar-button-menu) {
        background-color: red;
      }
      body {
        font-family: sans-serif;
      }
      span {
        display: inline-block;
        margin-bottom: 16px;
      }
      body > gxg-tree {
        margin-bottom: 32px;
      }
    </style>
  </head>
  <body>
    <span>Markup Tree</span>
    <gxg-tree>
      <gxg-tree-item left-icon="general/generator">
        Meats
        <gxg-tree slot="tree">
          <gxg-tree-item left-icon="general/patterns"> Cow </gxg-tree-item>
          <gxg-tree-item left-icon="general/knowledge-base">
            Goat
            <gxg-tree slot="tree">
              <gxg-tree-item left-icon="general/generator">
                dura
              </gxg-tree-item>
              <gxg-tree-item left-icon="general/patterns">
                blanda
              </gxg-tree-item>
            </gxg-tree>
          </gxg-tree-item>
        </gxg-tree>
      </gxg-tree-item>
      <gxg-tree-item left-icon="general/generator"> Fish </gxg-tree-item>
      <gxg-tree-item left-icon="general/knowledge-base"> Nuts </gxg-tree-item>
    </gxg-tree>

    <br />

    <span>Model Tree</span>
    <gxg-test key="model-tree"></gxg-test>
    <br />
    <gxg-button id="load-model-btn">Load model (click first)</gxg-button>
    <gxg-button id="update-model-btn">Update model (click second)</gxg-button>
    <gxg-button id="update-model-again-btn"
      >Update model again (click third)</gxg-button
    >
    <button id="clear-console-btn">Clear console</button>

    <script>
      const modelTiny = [
        {
          id: "number-1",
          checkbox: true,
          name: "number-1",
          icon: "general/apple",
        },
        {
          id: "number-2",
          checkbox: true,
          name: "number-2",
          icon: "general/apple",
          items: [
            {
              id: "number-2.1",
              checkbox: true,
              name: "number-2.1",
              icon: "general/apple",
            },
          ],
        },
        {
          id: "number-3",
          checkbox: true,
          name: "number-3",
          icon: "general/apple",
          items: [
            {
              id: "number-3.1",
              checkbox: true,
              name: "number-3.1",
              icon: "general/apple",
            },
          ],
        },
      ];
      const modelTinyUpdated = [
        {
          id: "number-1",
          checkbox: true,
          name: "number-1",
          icon: "general/apple",
        },
        {
          id: "number-2",
          checkbox: true,
          name: "number-2",
          icon: "general/apple",
          items: [
            {
              id: "number-2.1",
              checkbox: true,
              name: "number-2.1",
              icon: "general/apple",
              items: [
                {
                  id: "number-2.1.1",
                  checkbox: true,
                  name: "number-2.1.1",
                  icon: "general/apple",
                },
              ],
            },
          ],
        },
        {
          id: "number-3",
          checkbox: true,
          name: "number-3",
          icon: "general/apple",
          items: [
            {
              id: "number-3.1",
              checkbox: true,
              name: "number-3.1",
              icon: "general/apple",
            },
          ],
        },
      ];
      const modelTinyUpdatedAgain = [
        {
          id: "number-1",
          checkbox: true,
          name: "number-1",
          icon: "general/apple",
        },
        {
          id: "number-2",
          checkbox: true,
          name: "number-2",
          icon: "general/apple",
          items: [
            {
              id: "number-2.1",
              checkbox: true,
              name: "number-2.1",
              icon: "general/apple",
              items: [
                {
                  id: "number-2.1.1",
                  checkbox: true,
                  name: "number-2.1.1",
                  icon: "general/apple",
                  items: [
                    {
                      id: "number-2.1.1.1",
                      checkbox: true,
                      name: "number-2.1.1.1",
                      icon: "general/apple",
                    },
                  ],
                },
              ],
            },
          ],
        },
      ];
      const model = [
        {
          id: "number-1",
          name: "number-1",
          icon: "general/apple",
          items: [
            {
              id: "number-1-1",
              name: "number-1-1",
              icon: "general/apple",
              items: [
                {
                  id: "number-1-1-1",
                  name: "number-1-1-1",
                  icon: "general/apple",
                },
                {
                  id: "number-1-1-2",
                  name: "number-1-1-2",
                  icon: "general/apple",
                  items: [
                    {
                      id: "number-1-1-2-1",
                      name: "number-1-1-2-1",
                      icon: "general/apple",
                    },
                    {
                      id: "number-1-1-2-2",
                      name: "number-1-1-2-2",
                      icon: "general/apple",
                    },
                  ],
                },
              ],
            },
            {
              id: "number-1-2",
              name: "number-1-2",
              icon: "general/apple",
            },
          ],
        },
        {
          id: "number-2",
          name: "number-2",
          icon: "general/java",
          items: [
            {
              id: "number-2-1",
              name: "number-2-1",
              icon: "general/apple",
            },
            {
              id: "number-2-2",
              name: "number-2-2",
              icon: "general/apple",
            },
          ],
        },
      ];
      const updatedModel = [
        {
          id: "number-1",
          name: "number-1",
          icon: "general/apple",
          items: [
            {
              id: "number-1-1",
              name: "number-1-1",
              icon: "general/apple",
              items: [
                {
                  id: "number-1-1-1",
                  name: "number-1-1-1",
                  icon: "general/apple",
                },
                {
                  id: "number-1-1-2",
                  name: "number-1-1-2",
                  icon: "general/apple",
                  items: [
                    {
                      id: "number-1-1-2-1",
                      name: "number-1-1-2-1",
                      icon: "general/apple",
                    },
                    {
                      id: "number-1-1-2-2",
                      name: "number-1-1-2-2",
                      icon: "general/apple",
                    },
                  ],
                },
              ],
            },
            {
              id: "number-1-2",
              name: "number-1-2",
              icon: "general/apple",
              items: [
                {
                  id: "number-1-2-1",
                  name: "number-1-2-1",
                  icon: "controls/file-upload",
                },
                {
                  id: "number-1-2-2",
                  name: "number-1-2-2",
                  icon: "controls/media-player",
                },
                {
                  id: "number-1-2-3",
                  name: "number-1-2-3",
                  icon: "controls/component",
                },
              ],
            },
          ],
        },
        {
          id: "number-2",
          name: "number-2",
          icon: "general/java",
          items: [
            {
              id: "number-2-1",
              name: "number-2-1",
              icon: "general/apple",
            },
            {
              id: "number-2-2",
              name: "number-2-2",
              icon: "general/apple",
            },
          ],
        },
      ];
      const gxgTest = document.querySelector("gxg-test");
    </script>
    <br />

    <script>
      const modelMinimal = [
        {
          id: "number-2-2",
          name: "number-2-2",
          icon: "general/apple",
        },
      ];

      const loadModelBtn = document.getElementById("load-model-btn");
      const clearConsoleBtn = document.getElementById("clear-console-btn");
      clearConsoleBtn.addEventListener("click", function () {
        console.clear();
      });
      loadModelBtn.addEventListener("click", () => {
        //gxgTest.treeItemsModel = model;
        gxgTest.treeItemsModel = modelTiny;
        //gxgTest.treeItemsModel = modelMinimal;
      });
      const updateModelBtn = document.getElementById("update-model-btn");
      updateModelBtn.addEventListener("click", () => {
        //gxgTest.treeItemsModel = updatedModel;
        gxgTest.treeItemsModel = modelTinyUpdated;
      });
      const updateModelAgainBtn = document.getElementById(
        "update-model-again-btn"
      );
      updateModelAgainBtn.addEventListener("click", () => {
        //gxgTest.treeItemsModel = updatedModel;
        gxgTest.treeItemsModel = modelTinyUpdatedAgain;
      });
    </script>
  </body>
</html>
