<!DOCTYPE html>
<html dir="ltr" lang="en" class="darks">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Tree View</title>

    <script type="module" src="/build/gemini.esm.js"></script>
    <script nomodule src="/build/gemini.js"></script>
    <link href="/build/gemini.css" rel="stylesheet" />

    <style>
      * {
        box-sizing: border-box;
      }

      body {
        display: flex;
        margin: 0;
        min-height: 100vh;
        background-color: var(--color-background);
      }

      .main-container {
        display: grid;
        grid-auto-rows: min-content;
        align-self: stretch;
        width: 100%;
        padding-inline: 16px;
      }

      .section-dev {
        height: 55vh;
      }

      .scroll {
        overflow-y: auto;
        height: 100%;
      }

      /* .ch-tree-x-list-item--success::part(action)::before {
        grid-area: first-img;
        content: "";
        width: 12px;
        height: 12px;
        margin-inline-end: 4px;
        background-color: rgb(69, 150, 96);
        border-radius: 50%;
      }

      .ch-tree-x-list-item--success::part(action) {
        grid-template: "first-img left-img text right-img" / max-content max-content 1fr max-content;
      }

      .configuration {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;
        grid-template-rows: min-content min-content min-content min-content;
        gap: 12px 24px;
      }

      gxg-tree-view {
        display: grid;
        grid-template-columns: 500px max-content;
        grid-template-rows: 1fr;
        height: 100%;
      }

      .tree-buttons {
        display: grid;
        grid-auto-rows: max-content;
        row-gap: 8px;
      }

      :not(.ch-tree-x-dragging-item)
        ch-tree-x-list-item:not([selected])::part(header):hover {
        background-color: rgb(232, 232, 233);
      }

      .ch-tree-x-list-item--drag-enter {
        background-color: #eee;
        box-shadow: inset 0 0 1px 0px black;

        &[selected]::part(header) {
          background-color: #eee;
        }
      } */

      /* ch-tree-x-list-item {
        &::part(header) {
          border: 1px solid transparent;
        }

        &[selected]::part(header) {
          background-color: rgb(207, 222, 230);
          border-color: rgb(2, 102, 160);
        }

        &.ch-tree-x-list-item--editing::part(header) {
          background-color: rgb(207, 222, 230, 0.5);
          border-color: transparent;
        }

        &:not(.ch-tree-x-list-item--editing)::part(header):focus-visible {
          border-color: black;
          z-index: 1;
        }
      }

      .ch-tree-x-drag-info {
        padding-inline: 6px;
        padding-block: 2px;
        background-color: rgb(207, 222, 230);
        border: 1px solid rgb(2, 102, 160);
        border-radius: 10px;
        font-size: 8px;
      } */

      .main-container {
        display: grid;
        grid-template-rows: 1fr min-content;
        align-self: stretch;
        width: 100%;
        padding-inline: 4px;
        gap: 8px;
        margin: 16px;
      }

      .section-dev {
        display: grid;
        grid-template-columns: 250px 500px max-content;
        gap: 32px;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div class="section-dev">
        <ch-tree-x
          id="markup-tree"
          toggle-checkboxes="false"
          show-lines
          multi-selection
        >
          <ch-tree-x-list>
            <ch-tree-x-list-item
              opened
              left-img-src="/build/ch-icon-assets/generator"
              caption="Meats"
              checkbox
            >
              <ch-tree-x-list slot="tree">
                <ch-tree-x-list-item
                  checkbox
                  checked
                  toggle-checkboxes
                  left-img-src="/build/ch-icon-assets/patterns"
                  caption="White meats"
                >
                  <ch-tree-x-list slot="tree">
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="./objects/file"
                      caption="Chicken"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="/build/ch-icon-assets/java"
                      caption="Turkey"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="./objects/file"
                      caption="Duck"
                      leaf
                    >
                    </ch-tree-x-list-item>
                  </ch-tree-x-list>
                </ch-tree-x-list-item>
                <ch-tree-x-list-item
                  left-img-src="/build/ch-icon-assets/knowledge-base"
                  caption="Red meats"
                >
                  <ch-tree-x-list checkbox slot="tree">
                    <ch-tree-x-list-item
                      left-img-src="./objects/file"
                      caption="Beef"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      left-img-src="./objects/file"
                      caption="Lamb and mutton"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      left-img-src="/build/tree-item-assets/download"
                      caption="Pork"
                      leaf
                    >
                    </ch-tree-x-list-item>
                  </ch-tree-x-list>
                </ch-tree-x-list-item>
              </ch-tree-x-list>
            </ch-tree-x-list-item>
            <ch-tree-x-list-item
              id="fish"
              left-img-src="./objects/file"
              checkbox
              checked="false"
              disabled
              right-img-src="/build/tree-item-assets/download"
              caption="Fish"
            >
            </ch-tree-x-list-item>
            <ch-tree-x-list-item
              left-img-src="/build/tree-item-assets/download"
              caption="Fruits"
              checked="false"
            >
              <ch-tree-x-list slot="tree">
                <ch-tree-x-list-item
                  checkbox
                  left-img-src="/build/ch-icon-assets/java"
                  caption="Orange"
                  leaf
                >
                </ch-tree-x-list-item>
                <ch-tree-x-list-item
                  checkbox
                  left-img-src="./objects/file"
                  opened
                  caption="Banana"
                >
                  <ch-tree-x-list slot="tree">
                    <ch-tree-x-list-item
                      left-img-src="/build/ch-icon-assets/knowledge-base"
                      checkbox
                      caption="Pisang"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="/build/ch-icon-assets/java"
                      caption="Red Banana"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      left-img-src="/build/ch-icon-assets/knowledge-base"
                      caption="Cavendish"
                      show-expandable-button="false"
                    >
                      <ch-tree-x-list slot="tree">
                        <ch-tree-x-list-item
                          caption="Big"
                          leaf
                          show-expandable-button="false"
                        >
                        </ch-tree-x-list-item>
                        <ch-tree-x-list-item
                          left-img-src="objects/patterns"
                          caption="Small"
                          leaf
                        >
                        </ch-tree-x-list-item>
                        <ch-tree-x-list-item
                          left-img-src="/build/ch-icon-assets/knowledge-base"
                          caption="Mini (empty items)"
                        >
                          <ch-tree-x-list> </ch-tree-x-list>
                        </ch-tree-x-list-item>
                      </ch-tree-x-list>
                    </ch-tree-x-list-item>
                  </ch-tree-x-list>
                </ch-tree-x-list-item>
                <ch-tree-x-list-item
                  checkbox
                  left-img-src="./objects/file"
                  caption="Strawberry"
                  expanded
                  show-expandable-button="false"
                >
                  <ch-tree-x-list slot="tree">
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="/build/ch-icon-assets/java"
                      caption="Albion"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="/build/ch-icon-assets/java"
                      opened
                      caption="Tillamook"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="/build/ch-icon-assets/knowledge-base"
                      caption="Northeaster"
                      leaf
                    >
                    </ch-tree-x-list-item>
                  </ch-tree-x-list>
                </ch-tree-x-list-item>
              </ch-tree-x-list>
            </ch-tree-x-list-item>
            <ch-tree-x-list-item
              opened
              expanded
              left-img-src="/build/ch-icon-assets/java"
              empty-tree
              caption="Nuts"
              show-expandable-button="false"
            >
              <ch-tree-x-list slot="tree">
                <ch-tree-x-list-item
                  opened
                  checkbox
                  left-img-src="objects/patterns"
                  caption="Almonds"
                >
                  <ch-tree-x-list slot="tree">
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="objects/patterns"
                      opened
                      caption="Mollar de Tarragona"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="/build/ch-icon-assets/java"
                      caption="Ferragnès"
                      leaf
                    >
                    </ch-tree-x-list-item>
                    <ch-tree-x-list-item
                      checkbox
                      left-img-src="objects/patterns"
                      caption="Verdal"
                      leaf
                    >
                    </ch-tree-x-list-item>
                  </ch-tree-x-list>
                </ch-tree-x-list-item>
                <ch-tree-x-list-item
                  left-img-src="objects/patterns"
                  opened
                  caption="Brazil nuts"
                  leaf
                >
                </ch-tree-x-list-item>
                <ch-tree-x-list-item
                  checkbox
                  left-img-src="objects/patterns"
                  caption="Cashews (lazy)"
                  lazy-load
                >
                </ch-tree-x-list-item>
                <ch-tree-x-list-item
                  checkbox
                  left-img-src="objects/patterns"
                  caption="Chestnuts (lazy)"
                  lazy-load
                  drag-enabled="false"
                >
                </ch-tree-x-list-item>
              </ch-tree-x-list>
            </ch-tree-x-list-item>
          </ch-tree-x-list>
        </ch-tree-x>

        <gxg-tree-view></gxg-tree-view>

        <div>
          <ch-textblock id="contextmenu-textblock"
            >+ + + + + + + Context + + + + + + +</ch-textblock
          >

          <ch-textblock id="open-reference-textblock"
            ><br />+ + + + + Open Reference + + + + +</ch-textblock
          >

          <ch-textblock id="selected-items-textblock"
            ><br />+ + + + + Selected items + + + + +</ch-textblock
          >
        </div>
      </div>

      <div class="configuration">
        <button id="expand-all" type="button">Expand All</button>

        <ch-checkbox
          id="multi-selection"
          checked-value="true"
          un-checked-value="false"
          value="false"
          caption="Multi selection"
        ></ch-checkbox>

        <ch-checkbox
          id="editable"
          checked-value="true"
          un-checked-value="false"
          value="true"
          caption="Editable Items"
        ></ch-checkbox>

        <ch-checkbox
          id="check-all"
          checked-value="true"
          un-checked-value="false"
          value="false"
          caption="Check / uncheck all"
        ></ch-checkbox>

        <label>
          Lines
          <select name="lines" id="lines">
            <option value="all">All lines</option>
            <option value="last">Last line</option>
            <option value="none" selected>None</option>
          </select>
        </label>

        <button id="collapse-all" type="button">Collapse All</button>

        <ch-checkbox
          id="drag-enabled"
          checked-value="true"
          un-checked-value="false"
          value="true"
          caption="Drag Enabled"
        ></ch-checkbox>

        <ch-checkbox
          id="drop-enabled"
          checked-value="true"
          un-checked-value="false"
          value="true"
          caption="Drop Enabled"
        ></ch-checkbox>

        <div>
          <input id="input-scroll-into-visible" type="text" />
          <button id="btn-scroll-into-visible" type="button">
            Scroll into visible
          </button>
        </div>
      </div>

      <div class="buttons-wrapper">
        <button id="load-model-btn">Load model (click first)</button>
        <button id="update-model-btn">Update model (click second)</button>
        <button id="update-model-again-btn">
          Update model again (click third)
        </button>
        <button id="update-big-model-btn">Set big model</button>
        <button id="kb-explorer-model-btn">KB Explorer</button>
      </div>
    </div>

    <script>
      const modelTiny = [
        {
          id: "number-1",
          caption: "number-1 label (always editable)",
          leftImgSrc: "./objects/knowledge-base",
          editable: true,
        },
        {
          id: "number-2",
          caption: "number-2 (always editable)",
          leftImgSrc: "./objects/datastore",
          editable: true,
          items: [
            {
              id: "number-2.1",
              caption: "number-2.1",
              leftImgSrc: "./objects/file",
            },
          ],
        },
        {
          id: "number-3",
          caption: "number-3",
          leftImgSrc: "/build/ch-icon-assets/patterns",
          items: [
            {
              id: "number-3.1",
              caption: "number-3.1",
              leftImgSrc: "/build/ch-icon-assets/java",
            },
          ],
        },
      ];
      const modelTinyUpdated = [
        {
          id: "number-1",
          caption: "number-1",
          leftImgSrc: "./build/ch-icon-assets/csharp",
        },
        {
          id: "number-2",
          caption: "number-2",
          leftImgSrc: "./objects/datastore",
          items: [
            {
              id: "number-2.1",
              caption: "number-2.1",
              leftImgSrc: "/build/ch-icon-assets/patterns",
              items: [
                {
                  id: "number-2.1.1",
                  caption: "number-2.1.1",
                  leftImgSrc: "/build/ch-icon-assets/java",
                },
              ],
            },
          ],
        },
        {
          id: "number-3",
          caption: "number-3",
          leftImgSrc: "./objects/datastore",
          items: [
            {
              id: "number-3.1",
              caption: "number-3.1",
              leftImgSrc: "./objects/datastore",
            },
          ],
        },
      ];

      const modelTinyUpdatedAgain = [
        {
          id: "number-a",
          caption: "number-a (always editable)",
          leaf: true,
          leftImgSrc: "./objects/apple",
          editable: true,
        },
        {
          id: "number-b",
          caption: "number-b",
          leaf: false,
          leftImgSrc: "./objects/file",
          items: [
            {
              id: "number-2.1",
              caption: "number-2.1",
              leaf: false,
              leftImgSrc: "/build/ch-icon-assets/patterns",
              items: [
                {
                  id: "number-2.1.1",
                  caption: "number-2.1.1",
                  leaf: false,
                  leftImgSrc: "/build/ch-icon-assets/java",
                  items: [
                    {
                      id: "number-2.1.1.1",
                      caption: "number-2.1.1.1",
                      leaf: true,
                      leftImgSrc: "/build/tree-item-assets/download",
                    },
                  ],
                },
              ],
            },
          ],
        },
        {
          id: "number-3",
          caption: "number-3",
          leaf: true,
          leftImgSrc: "/build/ch-icon-assets/patterns",
        },
      ];

      const model = [
        {
          id: "number-1",
          caption: "number-1 label (always editable)",
          class: "tree-view-item tree-view-item--success",
          leaf: false,
          leftImgSrc: "./objects/datastore",
          editable: true,
          items: [
            {
              id: "number-1-1",
              caption: "number-1-1 (always editable)",
              leaf: false,
              leftImgSrc: "/build/ch-icon-assets/patterns",
              editable: true,
              items: [
                {
                  id: "number-1-1-1",
                  caption: "number-1-1-1",
                  leaf: true,
                  leftImgSrc: "./objects/knowledge-base",
                },
                {
                  id: "number-1-1-2",
                  caption: "number-1-1-2",
                  leaf: false,
                  leftImgSrc: "./objects/knowledge-base",
                  items: [
                    {
                      id: "number-1-1-2-1",
                      caption: "number-1-1-2-1 (lazy, drag disabled)",
                      leaf: false,
                      leftImgSrc: "./objects/knowledge-base",
                      lazy: true,
                      checkbox: true,
                      dragDisabled: true,
                      toggleCheckboxes: true,
                    },
                    {
                      id: "number-1-1-2-2",
                      caption: "number-1-1-2-2",
                      leaf: true,
                      leftImgSrc: "/build/ch-icon-assets/java",
                    },
                  ],
                },
              ],
            },
            {
              id: "number-1-2",
              caption: "number-1-2",
              leaf: true,
              leftImgSrc: "./objects/knowledge-base",
            },
          ],
        },
        {
          id: "number-2",
          caption: "number-2",
          class: "tree-view-item tree-view-item--custom-image",
          leaf: false,
          items: [
            {
              id: "number-2-1",
              caption: "number-2-1",
              leaf: true,
              leftImgSrc: "/build/ch-icon-assets/java",
            },
            {
              id: "number-2-2",
              caption: "number-2-2",
              leaf: true,
              leftImgSrc: "./objects/knowledge-base",
            },
          ],
        },
      ];

      const updatedModel = [
        {
          id: "number-1",
          caption: "number-1",
          leaf: false,
          leftImgSrc: "./objects/knowledge-base",
          items: [
            {
              id: "number-1-1",
              caption: "number-1-1",
              class: "ch-tree-x-list-item--success",
              leaf: false,
              leftImgSrc: "./objects/knowledge-base",
              items: [
                {
                  id: "number-1-1-1",
                  caption: "number-1-1-1",
                  leaf: true,
                  leftImgSrc: "./objects/knowledge-base",
                },
                {
                  id: "number-1-1-2",
                  caption: "number-1-1-2",
                  leaf: false,
                  leftImgSrc: "./objects/knowledge-base",
                  items: [
                    {
                      id: "number-1-1-2-1",
                      caption: "number-1-1-2-1",
                      leaf: false,
                      leftImgSrc: "./objects/knowledge-base",
                      items: [
                        {
                          id: "new-item-added-1",
                          caption: "new-item-added-1",
                          disabled: true,
                          leaf: true,
                          leftImgSrc: "./objects/knowledge-base",
                        },
                        {
                          id: "new-item-added-2",
                          caption: "new-item-added-2",
                          disabled: false,
                          leaf: true,
                          leftImgSrc: "./objects/knowledge-base",
                        },
                        {
                          id: "new-item-added-3",
                          caption: "new-item-added-3",
                          disabled: true,
                          leaf: true,
                          leftImgSrc: "./objects/knowledge-base",
                        },
                        {
                          id: "new-item-added-4",
                          caption: "new-item-added-4",
                          disabled: false,
                          expanded: true,
                          leaf: false,
                          leftImgSrc: "./objects/knowledge-base",
                          items: [
                            {
                              id: "new-item-added-4-1",
                              caption: "new-item-added-4-1",
                              disabled: false,
                              leaf: true,
                              leftImgSrc: "./objects/knowledge-base",
                            },
                            {
                              id: "new-item-added-4-2",
                              caption: "new-item-added-4-2",
                              disabled: true,
                              expanded: true,
                              leaf: false,
                              leftImgSrc: "./objects/knowledge-base",
                              items: [
                                {
                                  id: "new-item-added-4-2-1",
                                  caption: "new-item-added-4-2-1",
                                  disabled: true,
                                  expanded: true,
                                  leaf: false,
                                  leftImgSrc: "./objects/knowledge-base",
                                  items: [
                                    {
                                      id: "new-item-added-4-2-1-1",
                                      caption: "new-item-added-4-2-1-1",
                                      disabled: false,
                                      leaf: true,
                                      leftImgSrc: "./objects/knowledge-base",
                                    },
                                    {
                                      id: "new-item-added-4-2-1-2",
                                      caption: "new-item-added-4-2-1-2",
                                      disabled: false,
                                      leaf: true,
                                      leftImgSrc: "./objects/knowledge-base",
                                    },
                                    {
                                      id: "new-item-added-4-2-1-3",
                                      caption: "new-item-added-4-2-1-3",
                                      disabled: true,
                                      leaf: true,
                                      leftImgSrc: "./objects/knowledge-base",
                                    },
                                    {
                                      id: "new-item-added-4-2-1-4",
                                      caption: "new-item-added-4-2-1-4",
                                      disabled: false,
                                      leaf: true,
                                      leftImgSrc: "./objects/knowledge-base",
                                    },
                                  ],
                                },
                                {
                                  id: "new-item-added-4-2-2",
                                  caption: "new-item-added-4-2-2",
                                  disabled: true,
                                  leaf: true,
                                  leftImgSrc: "./objects/knowledge-base",
                                },
                              ],
                            },
                          ],
                        },
                        {
                          id: "new-item-added-5",
                          caption: "new-item-added-5",
                          disabled: true,
                          expanded: true,
                          leaf: false,
                          leftImgSrc: "./objects/knowledge-base",
                          items: [
                            {
                              id: "new-item-added-5-1",
                              caption: "new-item-added-5-1",
                              disabled: false,
                              leaf: true,
                              leftImgSrc: "./objects/knowledge-base",
                            },
                            {
                              id: "new-item-added-5-2",
                              caption: "new-item-added-5-2",
                              disabled: true,
                              leaf: true,
                              leftImgSrc: "./objects/knowledge-base",
                            },
                          ],
                        },
                      ],
                    },
                    {
                      id: "number-1-1-2-2",
                      caption: "number-1-1-2-2",
                      leaf: true,
                      leftImgSrc: "./objects/knowledge-base",
                    },
                  ],
                },
              ],
            },
            {
              id: "number-1-2",
              caption: "number-1-2",
              leaf: true,
              leftImgSrc: "./objects/knowledge-base",
            },
          ],
        },
        {
          id: "number-2",
          caption: "number-2",
          leaf: false,
          leftImgSrc: "./objects/datastore",
          items: [
            {
              id: "number-2-1",
              caption: "number-2-1",
              leaf: true,
              leftImgSrc: "/build/ch-icon-assets/patterns",
            },
            {
              id: "number-2-2",
              caption: "number-2-2",
              leaf: true,
              leftImgSrc: "objects/patterns",
            },
            {
              id: "number-2-3",
              caption: "number-2-3",
              disabled: true,
              leaf: true,
              leftImgSrc: "objects/patterns",
            },
          ],
        },
        {
          id: "number-3",
          caption: "number-3",
          leaf: false,
          disabled: true,
          expanded: true,
          leftImgSrc: "./objects/datastore",
          items: [
            {
              id: "number-3-1",
              caption: "number-3-1",
              leaf: true,
              leftImgSrc: "/build/ch-icon-assets/patterns",
            },
            {
              id: "number-3-2",
              caption: "number-3-2",
              disabled: true,
              leaf: true,
              leftImgSrc: "objects/patterns",
            },
            {
              id: "number-3-3",
              caption: "number-3-3",
              leaf: true,
              leftImgSrc: "objects/patterns",
            },
          ],
        },
      ];
      const modelLazyUpdated1 = [
        {
          id: "lazy-loaded-1",
          caption: "Lazy Loaded 1 (drag disabled)",
          leaf: true,
          leftImgSrc: "objects/patterns",
          checkbox: true,
          dragDisabled: true,
        },
        {
          id: "lazy-loaded-2",
          caption: "Lazy Loaded 2 (lazy, drag disabled, drop disabled)",
          leaf: false,
          lazy: true,
          leftImgSrc: "objects/patterns",
          checkbox: true,
          dragDisabled: true,
          dropDisabled: true,
          toggleCheckboxes: true,
        },
      ];

      const modelLazyUpdated2 = [
        {
          id: "lazy-loaded-3",
          caption: "Lazy Loaded 3 (drag disabled)",
          leaf: true,
          leftImgSrc: "objects/patterns",
          checkbox: true,
          dragDisabled: true,
        },
        {
          id: "lazy-loaded-4",
          caption: "Lazy Loaded 4 (drag disabled)",
          leaf: true,
          leftImgSrc: "objects/patterns",
          checkbox: true,
          dragDisabled: true,
        },
      ];

      const KB_EXPLORER_ORDER = {
        module: 1,
        folder: 2,
        api: 3,
        dso: 3,
        stencil: 3,
        sdPanel: 3,
        masterPanel: 3,
        procedure: 3,
        webPanel: 3,
        globalEvents: 4,
        domain: 5,
        localization: 6,
        files: 7,
        images: 8,
      };

      const kbExplorerModel = [
        {
          id: "root",
          caption: "GeneXusNext Develop",
          editable: false,
          leaf: false,
          leftImgSrc: "objects/version",
          dragDisabled: true,
          dropDisabled: true,
          items: [
            {
              id: "Main_Programs",
              caption: "Main Programs",
              editable: false,
              leftImgSrc: "objects/category",
              dragDisabled: true,
              dropDisabled: true,
              lazy: true,
              order: 0,
            },
            {
              id: "Root_Module",
              caption: "Root Module",
              editable: false,
              class: "tree-view-item tree-view-item--module",
              dragDisabled: true,
              lazy: true,
              order: 1,
            },
            {
              id: "References",
              caption: "References",
              editable: false,
              leftImgSrc: "objects/references",
              dragDisabled: true,
              dropDisabled: true,
              order: 2,
            },
            {
              id: "Customization",
              caption: "Customization",
              editable: false,
              leftImgSrc: "objects/customization",
              dragDisabled: true,
              dropDisabled: true,
              lazy: true,
              order: 3,
            },
            {
              id: "Documentation",
              caption: "Documentation",
              editable: false,
              leftImgSrc: "objects/document",
              dragDisabled: true,
              dropDisabled: true,
              order: 4,
            },
          ],
        },
      ];

      const kbExplorerModel_MainPrograms = [
        {
          id: "Main_Programs.Prompt",
          caption: "Prompt",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/panel-for-sd",
          order: KB_EXPLORER_ORDER.sdPanel,
        },
        {
          id: "Main_Programs.ApiHealthCheck",
          caption: "ApiHealthCheck",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/api",
          order: KB_EXPLORER_ORDER.api,
        },
        {
          id: "Main_Programs.BackHome",
          caption: "BackHome",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/web-panel",
          order: KB_EXPLORER_ORDER.webPanel,
        },
        {
          id: "Main_Programs.Login",
          caption: "Login",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/web-panel",
          order: KB_EXPLORER_ORDER.webPanel,
        },
        {
          id: "Main_Programs.ProvisioningServices",
          caption: "ProvisioningServices",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/api",
          order: KB_EXPLORER_ORDER.api,
        },
        {
          id: "Main_Programs.VersionCheck",
          caption: "VersionCheck",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/procedure",
          order: KB_EXPLORER_ORDER.procedure,
        },
      ];

      const kbExplorerModel_RootModule = [
        {
          id: "Root_Module.IDE",
          caption: "IDE",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.BL",
          caption: "BL",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.General",
          caption: "General",
          class: "tree-view-item tree-view-item--module",
          lazy: true,
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.AWS_internal",
          caption: "AWS_internal",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.DataModel",
          caption: "DataModel",
          class: "tree-view-item tree-view-item--folder",
          order: KB_EXPLORER_ORDER.folder,
        },
        {
          id: "Root_Module.Back",
          caption: "Back",
          class: "tree-view-item tree-view-item--folder",
          order: KB_EXPLORER_ORDER.folder,
        },
        {
          id: "Root_Module.Tests",
          caption: "Tests",
          class: "tree-view-item tree-view-item--folder",
          order: KB_EXPLORER_ORDER.folder,
        },
        {
          id: "Root_Module.Images",
          caption: "Images",
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/image",
          order: KB_EXPLORER_ORDER.images,
        },
        {
          id: "Root_Module.GXNext",
          caption: "GXNext",
          leaf: true,
          leftImgSrc: "objects/dso",
          order: KB_EXPLORER_ORDER.dso,
        },
        {
          id: "Root_Module.GeneXusNext",
          caption: "GeneXusNext",
          leaf: true,
          leftImgSrc: "objects/dso",
          order: KB_EXPLORER_ORDER.dso,
        },
        {
          id: "Root_Module.Files",
          caption: "Files",
          editable: false,
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/file",
          order: KB_EXPLORER_ORDER.files,
        },
        {
          id: "Root_Module.Domain",
          caption: "Domain",
          editable: false,
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/domain",
          order: KB_EXPLORER_ORDER.domain,
        },
      ];

      const kbExplorerModel_Customization = [
        {
          id: "Customization.Files",
          caption: "Files",
          leftImgSrc: "objects/file",
          order: KB_EXPLORER_ORDER.files,
        },
        {
          id: "Customization.Images",
          caption: "Images",
          leftImgSrc: "objects/image",
          order: KB_EXPLORER_ORDER.images,
        },
        {
          id: "Customization.Localization",
          caption: "Localization",
          lazy: true,
          leftImgSrc: "objects/lenguage",
          order: KB_EXPLORER_ORDER.localization,
        },
      ];

      const kbExplorerModel_Customization_Localization = [
        {
          id: "Customization.Localization.Arabic",
          caption: "Arabic",
          checkbox: true,
          leaf: true,
          leftImgSrc: "objects/lenguage",
          order: KB_EXPLORER_ORDER.localization,
        },
        {
          id: "Customization.Localization.English",
          caption: "English",
          checkbox: true,
          checked: true,
          leaf: true,
          leftImgSrc: "objects/lenguage",
          order: KB_EXPLORER_ORDER.localization,
        },
        {
          id: "Customization.Localization.Spanish",
          caption: "Spanish",
          checkbox: true,
          leaf: true,
          leftImgSrc: "objects/lenguage",
          order: KB_EXPLORER_ORDER.localization,
        },
        {
          id: "Customization.Localization.Italian",
          caption: "Italian",
          checkbox: true,
          leaf: true,
          leftImgSrc: "objects/lenguage",
          order: KB_EXPLORER_ORDER.localization,
        },
      ];

      const kbExplorerModel_RootModule_General = [
        {
          id: "Root_Module.General.Security",
          caption: "Security",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.General.Services",
          caption: "Services",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.General.UI",
          caption: "UI",
          class: "tree-view-item tree-view-item--module",
          lazy: true,
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.General.Domain",
          caption: "Domain",
          editable: false,
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/domain",
          order: KB_EXPLORER_ORDER.domain,
        },
        {
          id: "Root_Module.General.GlobalEvents",
          caption: "GlobalEvents",
          editable: false,
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/external-object",
          order: KB_EXPLORER_ORDER.globalEvents,
        },
      ];

      const kbExplorerModel_RootModule_General_UI = [
        {
          id: "Root_Module.General.UI.DesignSystem",
          caption: "DesignSystem",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.General.UI.Q2",
          caption: "Q2",
          class: "tree-view-item tree-view-item--folder",
          lazy: true,
          order: KB_EXPLORER_ORDER.folder,
        },
        {
          id: "Root_Module.General.UI.Popups",
          caption: "Popups",
          class: "tree-view-item tree-view-item--module",
          order: KB_EXPLORER_ORDER.module,
        },
        {
          id: "Root_Module.General.UI.Stencils",
          caption: "Stencils",
          class: "tree-view-item tree-view-item--folder",
          lazy: true,
          order: KB_EXPLORER_ORDER.folder,
        },
        {
          id: "Root_Module.General.UI.Domain",
          caption: "Domain",
          editable: false,
          dragDisabled: true,
          dropDisabled: true,
          leaf: true,
          leftImgSrc: "objects/domain",
          order: KB_EXPLORER_ORDER.domain,
        },
        {
          id: "Root_Module.General.UI.Login",
          caption: "Login",
          class: "tree-view-item tree-view-item--pending-commit",
          leaf: true,
          leftImgSrc: "objects/panel-for-sd",
          order: KB_EXPLORER_ORDER.sdPanel,
        },
      ];

      const kbExplorerModel_RootModule_General_UI_Q2 = [
        {
          id: "Root_Module.General.UI.Q2.ContactUs",
          caption: "ContactUs",
          leaf: true,
          leftImgSrc: "objects/panel-for-sd",
          order: KB_EXPLORER_ORDER.sdPanel,
        },
        {
          id: "Root_Module.General.UI.Q2.ProjectDetail",
          caption: "ProjectDetail",
          class: "tree-view-item tree-view-item--pending-commit",
          leaf: true,
          leftImgSrc: "objects/panel-for-sd",
          order: KB_EXPLORER_ORDER.sdPanel,
        },
        {
          id: "Root_Module.General.UI.Q2.MyApps",
          caption: "MyApps",
          leaf: true,
          leftImgSrc: "objects/panel-for-sd",
          order: KB_EXPLORER_ORDER.sdPanel,
        },
      ];

      const kbExplorerModel_RootModule_General_UI_Stencils = [
        {
          id: "Root_Module.General.UI.Stencils.StencilPublishProject",
          caption: "StencilPublishProject",
          leaf: true,
          leftImgSrc: "objects/stencil",
          order: KB_EXPLORER_ORDER.stencil,
        },
      ];

      const lazyLoadItemsDictionary = {
        Main_Programs: kbExplorerModel_MainPrograms,
        Root_Module: kbExplorerModel_RootModule,
        Customization: kbExplorerModel_Customization,
        "Customization.Localization": kbExplorerModel_Customization_Localization,
        "Root_Module.General": kbExplorerModel_RootModule_General,
        "Root_Module.General.UI": kbExplorerModel_RootModule_General_UI,
        "Root_Module.General.UI.Q2": kbExplorerModel_RootModule_General_UI_Q2,
        "Root_Module.General.UI.Stencils": kbExplorerModel_RootModule_General_UI_Stencils,
      };

      const bigModel = [];

      const FIRST_LEVEL_SIZE = 10;
      const SECOND_LEVEL_SIZE = 20;
      const THIRD_LEVEL_SIZE = 20;

      for (let i = 0; i < FIRST_LEVEL_SIZE; i++) {
        bigModel.push({
          id: "item-" + i,
          caption: "item-" + i,
          lazy: true,
          leaf: false,
          leftImgSrc: "objects/patterns",
          items: [],
        });
      }

      const eagerLargeModel = [];

      for (let i = 0; i < FIRST_LEVEL_SIZE; i++) {
        const subEagerLargeModel = [];
        const modelId = "item-" + i;

        for (let j = 0; j < SECOND_LEVEL_SIZE; j++) {
          const subModelId = modelId + "-" + j;
          const subSubEagerLargeModel = [];

          for (let k = 0; k < THIRD_LEVEL_SIZE; k++) {
            const subSubModelId = subModelId + "-" + k;

            subSubEagerLargeModel.push({
              id: subSubModelId,
              caption: subSubModelId,
              leaf: true,
              leftImgSrc: "./objects/file",
            });
          }

          subEagerLargeModel.push({
            id: subModelId,
            caption: subModelId,
            expanded: true,
            leaf: false,
            leftImgSrc: "./objects/knowledge-base",
            items: subSubEagerLargeModel,
          });
        }

        eagerLargeModel.push({
          id: modelId,
          caption: modelId,
          expanded: true,
          leaf: false,
          leftImgSrc: "objects/patterns",
          items: subEagerLargeModel,
        });
      }
    </script>
    <br />

    <script>
      const modelMinimal = [
        {
          id: "number-2-2",
          caption: "number-2-2",
          leftImgSrc: "./objects/knowledge-base",
        },
      ];

      // WA to remove extra handlers in appload event
      let appLoadFinish = false;

      window.addEventListener("appload", () => {
        if (appLoadFinish) {
          return;
        }

        appLoadFinish = true;

        const testTreeX = document.querySelector("gxg-tree-view");

        testTreeX.treeModel = kbExplorerModel;

        const multiSelectionCheckbox = document.getElementById(
          "multi-selection"
        );
        multiSelectionCheckbox.addEventListener("input", (event) => {
          testTreeX.multiSelection = event.target.checked;
        });

        const editableCheckbox = document.getElementById("editable");
        editableCheckbox.addEventListener("input", (event) => {
          testTreeX.editableItems = event.target.checked;
        });

        const checkAllCheckbox = document.getElementById("check-all");
        checkAllCheckbox.addEventListener("input", (event) => {
          const checked = event.target.checked;

          testTreeX.updateAllItemsProperties({ checked: checked });
        });

        const expandAllBtn = document.getElementById("expand-all");
        expandAllBtn.addEventListener("click", (event) => {
          testTreeX.updateAllItemsProperties({ expanded: true });
        });

        const collapseAllBtn = document.getElementById("collapse-all");
        collapseAllBtn.addEventListener("click", (event) => {
          testTreeX.updateAllItemsProperties({ expanded: false });
        });

        const dragEnabledCheckbox = document.getElementById("drag-enabled");
        dragEnabledCheckbox.addEventListener("input", (event) => {
          const checked = event.target.checked;

          testTreeX.dragDisabled = !checked;
        });

        const dropEnabledCheckbox = document.getElementById("drop-enabled");
        dropEnabledCheckbox.addEventListener("input", (event) => {
          const checked = event.target.checked;

          testTreeX.dropDisabled = !checked;
        });

        const linesSelect = document.getElementById("lines");
        linesSelect.addEventListener("input", (event) => {
          const selectedOption = event.target.value;
          testTreeX.showLines = selectedOption;
        });

        const loadModelBtn = document.getElementById("load-model-btn");
        loadModelBtn.addEventListener("click", () => {
          testTreeX.treeModel = model;
        });

        const updateModelBtn = document.getElementById("update-model-btn");
        updateModelBtn.addEventListener("click", () => {
          testTreeX.treeModel = updatedModel;
        });

        const updateModelAgainBtn = document.getElementById(
          "update-model-again-btn"
        );
        updateModelAgainBtn.addEventListener("click", () => {
          testTreeX.treeModel = modelTinyUpdatedAgain;
        });

        const updateBigModelBtn = document.getElementById(
          "update-big-model-btn"
        );
        updateBigModelBtn.addEventListener("click", () => {
          testTreeX.treeModel = bigModel;
        });

        const kbExplorerBtn = document.getElementById("kb-explorer-model-btn");
        kbExplorerBtn.addEventListener("click", () => {
          testTreeX.treeModel = kbExplorerModel;
        });

        const scrollIntoVisibleBtn = document.getElementById(
          "btn-scroll-into-visible"
        );
        const scrollIntoVisibleInput = document.getElementById(
          "input-scroll-into-visible"
        );

        scrollIntoVisibleBtn.addEventListener("click", () => {
          testTreeX.scrollIntoVisible(scrollIntoVisibleInput.value);
          scrollIntoVisibleInput.value = "";
        });

        const contextMenuTextBlock = document.getElementById(
          "contextmenu-textblock"
        );

        testTreeX.addEventListener("itemContextmenu", (event) => {
          contextMenuTextBlock.innerHTML = `+ + + + + + + Context + + + + + + +<br>
          ${event.detail.id}<br>
          level: ${event.detail.itemRef.level}<br>
          Drop Enabled: ${!event.detail.itemRef.dropDisabled}<br>
          ScreenX: ${event.detail.contextmenuEvent.screenX}<br>
          ScreenY: ${event.detail.contextmenuEvent.screenY}<br>
          `;
        });

        const openReferenceTextBlock = document.getElementById(
          "open-reference-textblock"
        );

        testTreeX.addEventListener("itemOpenReference", (event) => {
          openReferenceTextBlock.innerHTML = `<br>+ + + + + Open Reference + + + + +<br>
          Item ID: ${event.detail.id}<br>
          Item Leaf: ${event.detail.leaf}<br>
          Item Metadata: ${!event.detail.metadata}<br>`;
        });

        const selectedItemsTextBlock = document.getElementById(
          "selected-items-textblock"
        );

        testTreeX.addEventListener("selectedItemsChange", (event) => {
          selectedItemsTextBlock.innerHTML = `<br>+ + + + + SelectedItems + + + + +<br>
          ${[...event.detail.keys()].join("<br>")}`;
        });

        /*Lazy Load Promise*/
        testTreeX.lazyLoadTreeItemsCallback = (modelId) =>
          new Promise((resolve, reject) => {
            let lazyModel =
              modelId === "lazy-loaded-2"
                ? modelLazyUpdated2
                : modelLazyUpdated1;

            if (modelId.startsWith("item-")) {
              lazyModel = [];

              for (let j = 0; j < SECOND_LEVEL_SIZE; j++) {
                const subModelId = modelId + "-" + j;
                const subModelItems = [];

                for (let k = 0; k < THIRD_LEVEL_SIZE; k++) {
                  subModelItems.push({
                    id: subModelId + "-" + k,
                    caption: subModelId + "-" + k,
                    leaf: true,
                    leftImgSrc: "./objects/file",
                  });
                }

                lazyModel.push({
                  id: subModelId,
                  caption: subModelId,
                  expanded: true,
                  leaf: false,
                  leftImgSrc: "./objects/knowledge-base",
                  items: subModelItems,
                });
              }
            }

            const lazyModelResultFromDictionary =
              lazyLoadItemsDictionary[modelId];

            if (lazyModelResultFromDictionary) {
              lazyModel = lazyModelResultFromDictionary;
            }

            setTimeout(() => {
              resolve(lazyModel);
            }, 1000); // Resolves or rejects after 1 second
          });

        testTreeX.dropItemsCallback = () =>
          new Promise((resolve, reject) => {
            setTimeout(() => {
              resolve({ acceptDrop: true, items: modelTiny });
            }, 25); // Resolves after 25 ms
          });

        let randomSuccess = true;

        testTreeX.modifyItemCaptionCallback = (treeItemId, newCaption) =>
          new Promise((resolve, reject) => {
            const status = newCaption.trim() !== "" && randomSuccess;
            // randomSuccess = !randomSuccess;

            setTimeout(() => {
              resolve({
                success: status,
                errorMessage:
                  "Apologies, an error ocurred while changing the item caption.",
              });
            }, 15); // Resolves after 15 ms
          });

        let randomAccept = true;

        testTreeX.checkDroppableZoneCallback = () =>
          new Promise((resolve, reject) => {
            const accept = randomAccept;
            // randomAccept = !randomAccept;

            setTimeout(() => {
              resolve(randomAccept);
            }, 500); // Resolves after 500 ms
          });

        /**
         * @typedef TreeXItemModel
         * @type {object}
         * @property {string} id
         * @property {string} caption
         * @property {number} order
         */
        /**
         * @param {TreeXItemModel[]} subModel
         */
        const sortItems = (subModel) =>
          subModel.sort((a, b) => {
            if (a.order < b.order) {
              return -1;
            }

            if (a.order > b.order) {
              return 0;
            }

            return a.caption <= b.caption ? -1 : 0;
          });

        testTreeX.sortItemsCallback = sortItems;

        // Eager large model
        // testTreeX.treeModel = eagerLargeModel;
      });
    </script>
  </body>
</html>
