@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-flex;
  align-items: center;
  border-radius: var(--gxg-pill__border-radius);
  padding-inline-start: var(--gxg-pill__padding-inline-start);
  padding-inline-end: var(--gxg-pill__padding-inline-end);
  opacity: 1;
  height: var(--gxg-pill__height);
  box-sizing: border-box;
  @include ui-animation(opacity);

  .title {
    @include gxg-text;
  }
  .clear-button {
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  gxg-icon {
    transform: scale(0.84);
    &.clear-button {
      transform: scale(0.65);
    }
  }
}
//Pill wil no icon
:host(.no-icon) {
  gxg-icon.custom {
    width: 0;
  }
}
//Pill wil custom icon
:host(.has-icon) {
  padding-inline-start: 0;
}

//Static
:host([type="static"]),
:host([type="static-with-action"]) {
  border: var(--gxg-pill-static__border);
  background-color: var(--gxg-pill-static__background-color);
  font-style: var(--gxg-pill-static__font-style);
}
:host([type="static-with-action"]),
:host([type="button-with-action"]) {
  padding-inline-end: 0;
}
//Button / Button with action
:host([type="button"]),
:host([type="button-with-action"]) {
  border: var(--gxg-pill-with-action__border);
}
:host([type="button"]:hover),
:host([type="button-with-action"]:hover) {
  border: var(--gxg-pill-with-action__border--hover);
  cursor: pointer;
}
:host([type="button"]:focus),
:host([type="button-with-action"]:focus) {
  border: var(--gxg-pill-with-action__border--hover);
}
:host([type="button"]:active),
:host([type="button-with-action"]:active) {
  border: var(--gxg-pill-with-action__border--hover);
}
//Button with action
:host([type="button-with-action"]) {
  .clear-button {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 0.75;
    }
  }
}
:host(.hide-pill) {
  opacity: 0;
}
:host(:focus) {
  outline: none;
}
:host([disabled]) {
  .title {
    color: var(--gxg-pill__color--disabled);
  }
  gxg-icon {
    opacity: 0.3;
  }
  pointer-events: none;
}
:host([disabled][type="button"]),
:host([disabled][type="button-with-action"]) {
  border: var(--gxg-pill-with-action__border--disabled);
}
:host([disabled]:focus) {
  box-shadow: none;
}
:host([height-auto]) {
  height: auto;
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  height: 20px;
  .title {
    font-size: var(--font-size-lg);
  }
  gxg-icon {
    &.clear-button {
      transform: scale(0.85);
    }
  }
}
