@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-flex;
}
:host([display-flex]) {
  display: flex;
}
:host([full-width]) {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}
:host([full-width]) .outer-wrapper,
:host([full-width]) input {
  width: 100%;
}

/*****************************************************
FORM ELEMENT WRAPPER
*****************************************************/
.outer-wrapper {
  @include form-element-common-styles-wrapper();
}
.inner-wrapper {
  display: flex;
  flex-direction: column;

  gxg-icon {
    position: absolute;
  }
}

/*****************************************************
LABEL
*****************************************************/
label {
  @include form-element-common-styles-label();
}

input {
  @include gxg-text();
  position: relative;
  width: 100%;
}
/*****************************************************
TEXT
*****************************************************/
input[type="text"] {
  @include form-element-common-styles();
  height: var(--spacing-comp-05);
  box-sizing: border-box;

  &:focus {
    //box-shadow: var(--border-width-md) 0 var(border-color);
    @include form-element-common-styles-focus();
  }
}
input[disabled] {
  @include form-element-common-styles-disabled();
}
input[disabled]::-webkit-input-placeholder {
  color: var(--gray-04);
}
.input--error[type="text"] {
  @include form-element-common-styles-error();
}
.input--warning[type="text"] {
  @include form-element-common-styles-warning();
}

/*****************************************************
INPUT TEXT ICON
*****************************************************/
::slotted(gxg-icon) {
  // position: absolute;
}
::slotted(gxg-icon[slot="icon-left"]) {
  left: 0;
}
// Input with icon (on the left, or on the right)

:host([icon-position="left"]) input {
  padding-left: 20px;
}
:host([icon-position="left"]) .inner-wrapper {
}
:host([icon-position="left"]) input {
  padding-left: 20px;
}
:host([icon-position="right"]) input {
  padding-right: 20px;
}
:host([icon-position="right"]) .inner-wrapper {
  flex-direction: row-reverse;
}
