@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  box-shadow: var(--box-shadow-01);
  width: 200px;
  @include gxg-scroll;
  max-height: 0;
  overflow: hidden;
  transition: 0.75s max-height;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  border-radius: var(--border-radius-md);
  z-index: 10;
  background-color: var(--color-background);

  #header {
    display: flex;
    justify-content: flex-end;
    padding: var(--spacing-comp-01);

    .search-container {
      width: calc(100% - 24px);
    }

    .close-icon {
      margin-inline-start: var(--spacing-comp-01);
      transform: scale(0.85);
      @include ui-animation(transform);
      &:active {
        transform: scale(1);
      }
    }
  }
  #main {
    max-height: 144px;
    overflow-y: auto;

    #no-match {
      transition: all 0.25s;
      display: block;
      overflow: hidden;
      font-family: var(--font-family-primary);
      font-size: var(--font-size-sm);
      padding: 0 var(--spacing-comp-01) 0 7px;
      align-items: center;
      position: relative;
      top: -2px;

      .hint {
        font-size: var(--font-size-xs);
        color: var(--color-on-disabled);
      }

      &.opacity-zero {
        opacity: 0;
      }
      &.height-zero {
        height: 0;
      }
    }
  }
}
:host([visible]) {
  max-height: 200px;
}
