@import "../../globals/normalize.scss";
@import "../../globals/mixins";
@import "../../globals/mixins-mercury";

:host {
  display: block;
  background-color: var(--gxg-card_background-color);
  box-shadow: var(--gxg-card_box-shadow);
  border-radius: var(--gxg-card_border-radius);
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  @include gxg-text();
}
//Box shadow
:host([elevation="xs"]) {
  box-shadow: var(--gxg-card_box-shadow);
}
:host([elevation="m"]) {
  box-shadow: var(--gxg-card_box-shadow);
}

//Padding
:host([padding="0"]) {
  padding: 0;
}
:host([padding="xs"]) {
  padding: var(--gxg-card_padding-xs);
}
:host([padding="s"]) {
  padding: var(--gxg-card_padding-s);
}
:host([padding="m"]) {
  padding: var(--gxg-card_padding-m);
}
:host([padding="l"]) {
  padding: var(--gxg-card_padding-l);
}
:host([padding="xl"]) {
  padding: var(--gxg-card_padding-xl);
}
:host([padding="xxl"]) {
  padding: var(--gxg-card_padding-xxl);
}
:host([padding="xxxl"]) {
  padding: var(--gxg-card_padding-xxxl);
}

:host([background="white"]) {
  background: var(--gxg-card_background-white);
}
:host([background="gray-01"]) {
  background: var(--gxg-card_background-gray);
}

.content {
  @include gxg-scrollbar();
  overflow: auto;
  height: 100%;
}

/*No Shadow*/
:host(.card--no-shadow) {
  box-shadow: none;
}

/*Title*/
:host(.card--title) .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-template-rows: auto 1fr;
}
:host(.card) {
  background-color: var(--gxg-card_background-color);

  .card__header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--gxg-card-header_margin);
    padding-block-end: var(--gxg-card-header_padding-block-end);
    border-block-end: var(--gxg-card-header_border-block-end);
    gap: var(--gxg-card-header_gap);

    &--left {
      display: flex;
      align-items: center;
      gap: var(--gxg-card-header-left_gap);
      width: var(--gxg-card-header-left_width);

      .card-title-wrapper {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
      &-full-width {
        width: 100% !important;
        .card-title-wrapper {
          white-space: unset;
        }
      }
    }
    &--right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: var(--gxg-card-header-right_gap);
      font-size: var(--font-size-xl);
      width: var(--gxg-card-header-right_width);
      overflow: hidden;
      white-space: nowrap;
    }
    .subtitle-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--gxg-card-subtitle_color);
      padding-inline-end: var(
        --gxg-card-subtitle-wrapper_padding-inline-end
      ); /*prevents text cut text if italic, due to ellipsis*/
      a {
        color: var(--gxg-card-subtitle-wrapper_link-color);
      }
    }
    .subtitle {
      white-space: nowrap;
      color: var(--gxg-card-subtitle-wrapper_color);
    }
  }
  .content {
    padding: var(--gxg-card-content_padding);
    font-size: var(--gxg-card-content_font-size);
    line-height: var(--gxg-card-content_line-height);
    color: var(--gxg-card-content_color);
  }
}

/*--- Default ---*/
:host(.card--default) {
  background: var(--color-background);
  .content {
    padding: 0;
  }
}

/*--- Section ---*/
:host(.card--section) {
  font-size: var(--gxg-card-section_font-size);
  border-radius: var(--gxg-card-section_border-radius);
  padding: var(--gxg-card-section_padding);
  //background-color: var(--gxg-card-section_background-color);
  .card__title {
    font-weight: var(--gxg-card-section-title_font-weight);
    font-size: var(--gxg-card-section-title_font-size);
  }
  @include mer-elevation--01();
}

/*--- Article ---*/
:host(.card--article) {
  font-size: var(--gxg-card-article_font-size);
  border-radius: var(--gxg-card-article_border-radius);
  padding: var(--gxg-card-article_padding);
  //background-color: var(--gxg-card-article_background-color);
  @include mer-elevation--02();
  border: var(--gxg-card-article_border);
  .card__header {
    .card__title {
      margin: var(--gxg-card-article-title_margin);
      color: var(--gxg-card-article-title_color);
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: var(--gxg-card-article-title_font-weight);
      font-size: var(--gxg-card-article-title_font-size);
    }
    .subtitle-wrapper {
      color: var(--gxg-card-article-subtitle-wrapper_color);
      font-style: var(--gxg-card-article-subtitle-wrapper_font-style);
    }
  }
  .content {
    font-style: var(--gxg-card-article-subtitle-content_font-style);
    color: var(--gxg-card-article-content_color);
    line-height: var(--gxg-card-article-subtitle-content_line-height);
  }
}
/*semibold*/
:host(.card--article.title-semibold) {
  .card__header {
    .card__title {
      font-weight: var(--gxg-card-article-title-semibold_font-weight);
    }
  }
}

/*--- Mini ---*/
:host(.card--mini) {
  font-size: var(--gxg-card-mini_font-size);
  border-radius: var(--gxg-card-mini_border-radius);
  padding: var(--gxg-card-mini_padding);
  // background-color: var(--gxg-card-mini_background-color);
  // border: var(--gxg-card-mini_border);
  @include mer-elevation--02();
  border: var(--gxg-card-mini_border);
  .card__header {
    margin: var(--gxg-card-mini-header_margin);
    padding-block-end: var(--gxg-card-mini-header_padding-block-end);
    border-bottom: var(--gxg-card-mini-header_border-bottom);
    .card__header--left {
      width: var(--gxg-card-mini-header-left_width);
      gap: var(--gxg-card-mini-header-left_gap);
    }
    .card__title {
      margin: var(--gxg-card-mini-title_margin);
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: var(--gxg-card-mini-title_font-weight);
      font-size: var(--gxg-card-mini-title_font-size);
      color: var(--gxg-card-mini-title_color);
    }
  }
  .content {
    font-style: var(--gxg-card-mini-content_font-style);
    font-size: var(--gxg-card-mini_font-size);
    padding: var(--gxg-card-mini-content_padding);
    color: var(--gxg-card-mini-content_color);
  }
}

:host(.card--no-content) {
  .card__header {
    border-bottom: 0;
  }
}

/*actionable*/
:host(.card--actionable:hover) {
  filter: brightness(var(--gxg-card-actionable-brightness--hover));
  .wrapper,
  .card__header,
  .content {
    cursor: pointer;
  }
}

/*no header border*/
:host(.no-header-border) {
  .card__header {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

/*noBorder*/
:host(.card--no-border) {
  border: none !important;
}

/*hiChar*/
@include hiChar;
