@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  background: var(--color-on-primary);
  box-shadow: var(--box-shadow-01);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  @include gxg-text();
}

//Box shadow
:host([elevation="01"]) {
  box-shadow: var(--box-shadow-01);
}
:host([elevation="03"]) {
  box-shadow: var(--box-shadow-03);
}

//Padding
:host([padding="xs"]) {
  padding: var(--spacing-comp-01);
}
:host([padding="s"]) {
  padding: var(--spacing-comp-02);
}
:host([padding="m"]) {
  padding: var(--spacing-comp-03);
}
:host([padding="l"]) {
  padding: var(--spacing-comp-04);
}
:host([padding="xl"]) {
  padding: var(--spacing-comp-05);
}
:host([padding="xxl"]) {
  padding: var(--spacing-comp-06);
}
:host([padding="xxxl"]) {
  padding: var(--spacing-comp-07);
}

:host([background="surface"]) {
  background: var(--color-background);
}
:host([background="gray-01"]) {
  background: var(--gray-01);
}
