/*********************************
ICON
*********************************/
@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host(.svgIcon) {
  margin-right: 0;
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-flex;
  svg {
    flex: 1;
    * {
      fill: var(--icon-color, var(--icon-color-default));
    }
  }

  .svg-icon-native {
    line-height: 0;
    flex: 1;
  }
}

:host(.svgIcon--small) {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
}
