@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  margin-bottom: var(--spacing-lay-s);
  &:last-child {
    margin-bottom: 0;
  }
  .item {
    &__header {
      background-color: var(--color-secondary-enabled);
      display: flex;
      height: var(--spacing-comp-05);
      padding-left: var(--spacing-comp-01);
      @include ui-animation(background-color);

      .icon-wrapper {
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: var(--color-secondary-hover);
        cursor: pointer;
      }
      &__title {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-always-black);
        width: 100%;
        text-align: center;
        line-height: var(--spacing-comp-05);
      }
    }
    &__container {
      @include gxg-text();
      padding: var(--spacing-comp-02) var(--spacing-comp-03);
      background-color: var(--color-background);
    }
  }
}
//Classical version disabled
:host([mode="classical"]) {
  .item--disabled {
    cursor: not-allowed;
    pointer-events: none;
    .item__header {
      background-color: var(--color-primary-disabled);

      .icon-wrapper {
        padding-right: 2px;
      }

      &__title {
        color: var(--color-on-disabled);
      }
    }
    gxg-icon {
    }
  }
}

//Slim aesthetic version
:host([mode="slim"]) {
  margin-bottom: var(--spacing-lay-xs);
  .item {
    @include ui-animation(border-color);
    &__header {
      background: transparent;
      flex-direction: row-reverse;
      padding-left: 0;

      .icon-wrapper {
        // margin-left: -5px;
      }

      gxg-icon {
        transform: scale(0.65, 0.65);
        background: var(--color-primary-enabled);
        border-radius: 50%;
        margin-right: var(--spacing-comp-01);
        @include ui-animation(background);
      }

      &__title {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-xs);
        text-align: left;
        color: var(--color-on-background);
      }
    }
    &__container {
      background: transparent;
      padding-top: 0;
      padding-bottom: var(--spacing-comp-01);
      padding-left: 24px;
    }
    &--open {
      gxg-icon {
        background: var(--color-primary-active);
      }
    }
    &:hover {
      gxg-icon {
        background-color: var(--color-primary-hover);
      }
      border-color: var(--color-primary-hover);
    }
  }
}

//Slim aesthetic version disabled
:host([mode="slim"]) {
  .item--disabled {
    cursor: not-allowed;
    pointer-events: none;
    gxg-icon {
      background: var(--color-primary-disabled);
    }
  }
}

//Boxws aesthetic version
:host([mode="boxed"]) {
  .item {
    background-color: var(--gray-01);
    @include ui-animation(border-color);
    &__header {
      background: transparent;
      padding: var(--spacing-comp-03) var(--spacing-comp-01)
        var(--spacing-comp-03) var(--spacing-comp-03);

      gxg-icon {
        border-radius: 50%;
        margin-left: var(--spacing-comp-02);
        @include ui-animation(background);
      }

      &__title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-sm);
        text-align: left;
        color: var(--color-on-background);
      }
    }
    &__container {
      background: transparent;
      padding: 0 var(--spacing-comp-03) var(--spacing-comp-03)
        var(--spacing-comp-03);
    }
    &--open {
      gxg-icon {
      }
    }
    &:hover {
      gxg-icon {
      }
      border-color: var(--color-primary-hover);
    }
  }
}
//Boxed aesthetic version disabled
:host([mode="boxed"]) {
  .item--disabled {
    cursor: not-allowed;
    pointer-events: none;
    gxg-icon {
      background: var(--color-primary-disabled);
    }
  }
}
