@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  position: relative;
  outline: none;
  display: block;
  margin-bottom: var(--spacing-lay-xs);
  font-family: "Times New Roman", Times, serif;
  &:last-child {
    margin-bottom: 0;
  }

  .item {
    &__header {
      &__button {
        display: flex;
        align-items: center;
        border-width: var(--border-width-md);
        border-style: solid;
        border-color: transparent;
        &:focus {
          outline: none;
          border-color: var(--color-primary-active);
        }

        &__title-subtitle {
          &__title {
            margin: 0;
          }
          &__subtitle {
            margin: 0;
          }
        }
        &__meta-icon-wrapper {
          &__icon {
            display: flex;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    &__container {
      @include gxg-text();
      text-align: start;
    }
    // ::slotted([slot="subtitle"]) {
    //   margin: 0 !important;
    // }
    // ::slotted([slot="meta"]) {
    //   margin: 0 !important;
    // }
  }
  .disabled-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    cursor: not-allowed;
  }
}
//No content padding
:host([no-padding]) {
  .item {
    &__container {
      padding: 0;
    }
  }
}

//Classical or Boxed
:host([mode="classical"]),
:host([mode="boxed"]) {
  .item {
    &__header {
      &__button {
        justify-content: space-between;
        padding: 0 var(--spacing-comp-01) 0 var(--spacing-comp-02);
        @include ui-animation(background-color);

        .cover  {
          //cover div prevents editable title to be edited when the accordion is closed.
          //editable title should only be available for "classical" or "boxed" modes.
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          background-color: transparent;
          z-index: 10;
        }
        .cover.hidden {
          display: none;
        }

        &__title-subtitle {
          //display: flex;
          // flex-direction: column;
          // align-items: baseline;
          // justify-content: center;
          margin-right: var(--spacing-comp-04);
          width: 100%;
          // max-width: calc(100% - 25px);
          // overflow: hidden;
          &__title {
            gxg-form-text::part(input) {
              letter-spacing: 0.06em;
            }
            display: flex;
            align-items: center;
            text-align: start;
            @include gxg-title-02;
            letter-spacing: 0.06em;
            &__icon {
              display: flex;
              //align-self: center;
              margin-right: var(--spacing-comp-01);
            }
          }
          &__subtitle {
            padding-bottom: 2px;
            max-width: 300px;
            @include gxg-text();
            text-align: start;
          }
        }
        &__meta-icon-wrapper {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          &__meta {
            @include gxg-text();
            display: flex;
          }
        }
      }
    }
    &__container {
      padding: var(--spacing-comp-02) var(--spacing-comp-03);
    }
  }
}
:host([mode="classical"].has-subtitle),
:host([mode="boxed"].has-subtitle) {
  .item {
    &__header {
      &__button {
        align-items: start;
      }
    }
  }
}

//Classical
:host([mode="classical"]) {
  .item {
    &__header {
      &__button {
        background-color: var(--color-secondary-enabled);
        &:hover {
          background-color: var(--color-secondary-hover);
        }
        &__title-subtitle {
        }
      }
    }
    &__container {
      background-color: var(--color-background);
    }
    &--disabled {
      cursor: not-allowed;
      //pointer-events: none;
      .item__header {
        &__button {
          background-color: var(--color-primary-disabled);
          .icon-wrapper {
            padding-right: 2px;
          }
          &__title-subtitle {
            &__title,
            &__subtitle {
              color: var(--color-on-disabled);
            }
          }
          &__meta-icon-wrapper {
            &__meta {
              color: var(--color-on-primary);
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}
:host([mode="classical"][editable-title]) {
  .item__header__button__title-subtitle__subtitle {
    margin-inline-start: 5px;
  }
  .item {
    &--disabled {
      .item__header__button__title-subtitle__title {
        opacity: 0.3;
      }
    }
  }
}

//Boxed version
:host([mode="boxed"]) {
  .item {
    background-color: var(--gray-01);
    @include ui-animation(border-color);
    &__header {
      &__button {
        background: transparent;
        &:hover {
          background-color: var(--gray-02);
        }
        &__title-subtitle {
          &__title {
          }
        }
      }
    }
    &__container {
      background: transparent;
      padding-top: var(--spacing-comp-01);
    }
    &:hover {
      border-color: var(--color-primary-hover);
    }

    &--disabled {
      .item__header {
        &__button {
          &__title-subtitle {
            &__title,
            &__subtitle {
              color: var(--color-primary-disabled);
            }
          }
          &__meta-icon-wrapper {
            &__meta {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
:host([mode="boxed"][editable-title]) {
  .item__header__button__title-subtitle__subtitle {
    margin-inline-start: 5px;
  }
  .item {
    &--disabled {
      .item__header__button__title-subtitle__title {
        opacity: 0.5;
      }
    }
  }
}

//Slim or Minimal version
:host([mode="slim"]),
:host([mode="minimal"]) {
  .item {
    &__header {
      &__button {
        justify-content: flex-end;
        flex-direction: row-reverse;
      }
    }
    &__container {
      margin-inline-start: var(--spacing-comp-05);
      padding: var(--spacing-comp-01) 0;
    }
  }
}

//Slim version
:host([mode="slim"]) {
  margin-bottom: var(--spacing-lay-xs);
  .item {
    &__header {
      &__button {
        &:hover {
          gxg-icon {
            background-color: var(--color-primary-hover);
          }
        }
        &:active {
          gxg-icon {
            background-color: var(--color-primary-active);
          }
        }
        gxg-icon {
          transform: scale(0.8, 0.8);
          background: var(--color-primary-enabled);
          border-radius: 50%;
          margin-inline-end: var(--spacing-comp-01);
        }
        &__title-subtitle {
          &__title {
            @include gxg-title-03;
          }
        }
      }
    }
    &--open {
      gxg-icon {
        background: var(--color-primary-active);
      }
    }
  }
  .item--disabled {
    cursor: not-allowed;
    pointer-events: none;
    gxg-icon {
      background: var(--color-primary-disabled);
    }
  }
}

//Minimal version
:host([mode="minimal"]) {
  margin-bottom: var(--spacing-lay-xs);
  .item {
    &__header {
      &__button {
        gxg-icon {
          margin-inline-end: var(--spacing-comp-01);
        }
        &__title-subtitle {
          &__title {
            @include gxg-title-03;
          }
        }
      }
    }
    &__container {
      padding-inline-start: 2px;
    }
  }
}
