@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  --outerContainerMaxHeight: "0px";
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
  .item {
    margin-bottom: var(--spacing-comp-02);
    &__header {
      display: flex;
      height: var(--spacing-comp-05);
      @include ui-animation(background-color);

      &:hover {
        cursor: pointer;
      }
      &__title {
        font-family: var(--font-family-primary);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-bold);
        text-transform: uppercase;
        color: var(--color-always-black);
        width: 100%;
        text-align: center;
        line-height: var(--spacing-comp-05);
      }
    }
    &__outer-container {
      max-height: 0;
      overflow: hidden;
      @include ui-animation(max-height);
    }
    &__inner-container {
      @include gxg-text();
      padding: var(--spacing-comp-03) var(--spacing-comp-03);
    }
    &--open {
      .item__outer-container {
        max-height: var(--outerContainerMaxHeight);
      }
      gxg-icon {
        transform: rotate(90deg);
      }
    }
    &--disabled {
      .item__header {
        cursor: not-allowed;
      }
    }
  }
  gxg-icon {
    transform: rotate(0deg) scale(1, 1);
    @include ui-animation(transform);
  }
}

//Classical version disabled
:host([mode="classical"]) {
  .item__header {
    background-color: var(--color-secondary-enabled);
    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }
  .item--disabled {
    .item__header {
      background-color: var(--color-primary-disabled);
      &__title {
        color: var(--color-on-disabled);
      }
    }
    gxg-icon {
    }
  }
  .item__outer-container {
    background: var(--color-background);
  }
}

//Slim aesthetic version
:host([mode="slim"]) {
  .item {
    margin-bottom: var(--spacing-comp-01);
    @include ui-animation(border-color);
    &__header {
      background: transparent;
      flex-direction: row-reverse;

      .icon-wrapper {
        transform: scale(0.65, 0.65);
      }
      gxg-icon {
        background: var(--color-primary-enabled);
        border-radius: 50%;
        margin-right: var(--spacing-comp-01);
      }

      &__title {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-xs);
        text-align: left;
        color: var(--color-on-background);
      }
    }
    &__inner-container {
      padding: var(--spacing-comp-01) var(--spacing-comp-05);
    }
    &--open {
      gxg-icon {
        background: var(--color-primary-active);
      }
    }
    &:hover:not(.item--disabled) {
      gxg-icon {
        background-color: var(--color-primary-hover);
      }
      border-color: var(--color-primary-hover);
    }
  }
}

//Slim aesthetic version disabled
:host([mode="slim"]) {
  .item--disabled {
    gxg-icon {
      background: var(--color-primary-disabled);
    }
  }
}

//Boxws aesthetic version
:host([mode="boxed"]) {
  .item {
    background-color: var(--gray-01);
    &__header {
      padding: var(--spacing-comp-02) var(--spacing-comp-03);
      gxg-icon {
        border-radius: 50%;
        margin-left: var(--spacing-comp-02);
      }

      &__title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-sm);
        text-align: left;
        color: var(--color-on-background);
      }
    }
    &__inner-container {
      padding-top: var(--spacing-comp-01);
    }
  }
}
//Boxed aesthetic version disabled
:host([mode="boxed"]) {
  .item {
    &:hover:not(.item--disabled) {
      gxg-icon {
        opacity: 0.6;
      }
    }
  }
}
