@import "../../globals/mixins";

:host {
  display: block;
}
.checkboxes-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-form-control-gap--vertical);

  &--row {
    flex-direction: row;
    gap: var(--ds-form-control-gap--horizontal);
  }
}
.messages-wrapper {
  @include messages-wrapper();
}
