@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  margin-top: 30px;
  @include ui-animation(opacity, margin-top);

  .modal {
    display: flex;
    flex-direction: column;
    background: var(--color-on-primary);
    box-shadow: var(--box-shadow-03);
    border-radius: var(--border-radius-md);
    display: flex;
    overflow: hidden;
    @include gxg-text();
  }
  .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-weight: var(--font-weight-bold);
    }
  }
  .modal__container {
    padding: var(--spacing-comp-04) 0;
  }
  .modalFooter {
    display: flex;
    justify-content: flex-end;

    ::slotted([slot="footer"]) {
      * {
        margin-left: var(--spacing-comp-02);
        margin-right: var(--spacing-comp-02);
      }
    }
  }
}
:host(.visible) {
  opacity: 1;
  margin-top: 0;
}

//Padding
:host([padding="xs"]) {
  .modal {
    padding: var(--spacing-comp-01);
  }
}
:host([padding="s"]) {
  .modal {
    padding: var(--spacing-comp-02);
  }
}
:host([padding="m"]) {
  .modal {
    padding: var(--spacing-comp-03);
  }
}
:host([padding="l"]) {
  .modal {
    padding: var(--spacing-comp-04);
  }
}
:host([padding="xl"]) {
  .modal {
    padding: var(--spacing-comp-05);
  }
}
:host([padding="xxl"]) {
  .modal {
    padding: var(--spacing-comp-06);
  }
}
:host([padding="xxxl"]) {
  .modal {
    padding: var(--spacing-comp-07);
  }
}
