@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  .modal {
    display: flex;
    flex-direction: column;
    opacity: 0;
    background: var(--color-on-primary);
    box-shadow: var(--box-shadow-03);
    border-radius: var(--border-radius-md);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 30px;
    transform: translateY(-50%) translateX(-50%);
    @include gxg-text();
    &--visible {
      opacity: 1;
      margin-top: 0;
    }
    &--transition {
      @include ui-animation(opacity, margin-top);
    }
  }
  .modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-weight: var(--font-weight-bold);
    }
  }
  .modal__container {
    padding: var(--spacing-comp-04) 0;
  }
  .modal__footer {
    display: flex;
    ::slotted([slot="footer"]) {
      * {
        margin-left: var(--spacing-comp-02);
        margin-right: var(--spacing-comp-02);
      }
    }
  }
}

//Padding
:host([padding="0"]) {
  .modal {
    padding: 0;
  }
}
:host([padding="xs"]) {
  .modal {
    padding: var(--spacing-comp-01);
  }
}
:host([padding="s"]) {
  .modal {
    padding: var(--spacing-comp-02);
  }
}
:host([padding="m"]) {
  .modal {
    padding: var(--spacing-comp-03);
  }
}
:host([padding="l"]) {
  .modal {
    padding: var(--spacing-comp-04);
  }
}
:host([padding="xl"]) {
  .modal {
    padding: var(--spacing-comp-05);
  }
}
:host([padding="xxl"]) {
  .modal {
    padding: var(--spacing-comp-06);
  }
}
:host([padding="xxxl"]) {
  .modal {
    padding: var(--spacing-comp-07);
  }
}
:host {
  .layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    @include ui-animation(opacity);
    &--visible {
      opacity: 0.25;
    }
  }
}

//Footer justify content
:host(.footer-justify-end) {
  .modal__footer {
    justify-content: flex-end;
  }
}
:host(.footer-justify-space-between) {
  .modal__footer {
    justify-content: space-between;
  }
}

//Style lists inside the modal
:host {
  ::slotted(ul) {
    list-style-type: none;
  }
  ::slotted(ol) {
    margin: 0;
    padding-left: 12px;
  }
}
