@import "../../globals/common-css-classes";
@import "../../globals/mixins";
@import "../../globals/form-validation";

:host {
  display: block;
  font-size: var(--font-size-sm);
  font-family: var(--font-family-primary);
  background-color: var(--color-background);
  color: var(--color-on-background);
  height: 100%;
  .container {
    height: 100%;
    border: var(--border-radius-xs) var(--border-style-regular)
      var(--gxg-border-color--regular);
    border-radius: var(--border-radius-sm);
    overflow: hidden;
  }
  .header {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background-color: var(--gray-01);
    border-bottom: var(--gxg-border-common-styles);
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
    text-transform: capitalize;
    font-size: inherit;
    font-weight: var(--font-weight-semibold);
    color: var(--color-on-background);
  }

  .main {
    overflow-y: auto;
    @include gxg-scrollbar();

    &--no-border {
      border: none;
    }
  }

  .icon {
    margin-inline-end: var(--spacing-comp-01);
  }
  .checkbox {
    margin-inline-end: var(--spacing-comp-01);
  }
  &.selected {
    background-color: var(--color-secondary-active);
    color: var(--color-always-white);
  }
}

.container:focus-within {
  outline: none;
}
.container:not(:focus-within) {
  --gxg-border-color--focused: transparent;
}

:host([no-border]) {
  .container {
    border: none;
  }
}

/*SUGGESTION LIST*/
.suggestions {
  &__container {
    background-color: var(--gray-01);
    color: var(--gray-06);
    font-family: inherit;
    font-size: var(--font-size-sm);
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
    display: flex;
    gap: var(--spacing-comp-01);
    align-items: center;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
  }
  &__item {
  }
  &__button {
  }
}

/*BORDERS*/
:host([no-border]) {
  .container {
    border: none;
  }
}
:host([border-top]) {
  .container {
    border-top: 1px solid var(--gxg-border-color--regular);
  }
}
:host([border-end]) {
  .container {
    border-inline-end: 1px solid var(--gxg-border-color--regular);
  }
}
:host([border-bottom]) {
  .container {
    border-bottom: 1px solid var(--gxg-border-color--regular);
  }
}
:host([border-start]) {
  .container {
    border-inline-start: 1px solid var(--gxg-border-color--regular);
  }
}
/*********************************************
VALIDATION
**********************************************/
.messages-wrapper {
  @include messages-wrapper();
}

:host(.large) {
  font-size: var(--font-size-lg);
}
