:host {
  display: block;
  font-size: var(--font-size-sm);

  .header {
    min-height: var(--spacing-comp-05);
    background-color: var(--gray-02);
    display: flex;
    align-items: center;
    padding: var(--spacing-comp-01) var(--spacing-comp-02);
    font-family: var(--font-family-primary);
    text-transform: uppercase;
    font-size: inherit;
    font-weight: var(--font-weight-bold);
    color: var(--color-on-background);
  }

  .main {
    border-style: var(--border-style-regular);
    border-width: var(--border-radius-xs);
    border-color: var(--gray-02);
  }

  .icon {
    margin-inline-end: var(--spacing-comp-01);
  }
  .checkbox {
    margin-inline-end: var(--spacing-comp-01);
  }
  &.selected {
    background-color: var(--color-secondary-active);
    color: var(--color-always-white);
  }
}

:host(.large) {
  font-size: var(--font-size-lg);
}
