@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  @include gxg-text();
  border-width: var(--border-width-sm);
  border-style: var(--border-style-regular);
  border-color: var(--gray-03);
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  margin-bottom: var(--spacing-lay-s);
  padding: 0 var(--spacing-comp-01);
  cursor: pointer;
  opacity: 1;
  @include ui-animation(opacity);

  &:before {
    content: "";
    display: block;
    height: 2px;
    width: calc(100% + 2px);
    background-color: transparent;
    position: absolute;
    left: -1px;
    top: -1px;
  }

  ::slotted(.container-content__title) {
    display: block;
    font-weight: var(--font-weight-bold);
  }
  .container-content {
    width: 100%;
    padding: var(--spacing-comp-01);
  }
  .drag-icon-container {
    display: flex;
    gxg-icon {
      opacity: 0;
    }
  }
  .delete-button-container {
    gxg-button {
      opacity: 0;
    }
  }
}
:host(.hide) {
  opacity: 0;
}
:host(:hover) {
  .drag-icon-container {
    gxg-icon {
      opacity: 1;
    }
  }
  .delete-button-container {
    gxg-button {
      opacity: 1;
    }
  }
}
//Padding
:host([padding="xs"]) {
  .container-content {
    padding: var(--spacing-comp-01);
  }
}
:host([padding="s"]) {
  .container-content {
    padding: var(--spacing-comp-02);
  }
}
:host([padding="m"]) {
  .container-content {
    padding: var(--spacing-comp-03);
  }
}
:host([padding="l"]) {
  .container-content {
    padding: var(--spacing-comp-04);
  }
}
:host([padding="xl"]) {
  .container-content {
    padding: var(--spacing-comp-05);
  }
}
:host([padding="xxl"]) {
  .container-content {
    padding: var(--spacing-comp-06);
  }
}
:host([padding="xxxl"]) {
  .container-content {
    padding: var(--spacing-comp-07);
  }
}

//Border
:host([active]) {
  &:before {
    background-color: var(--color-primary-active);
  }
}
