@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  @include gxg-text();
  box-shadow: var(--box-shadow-01);
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  border-top: 2px solid transparent; //var(--color-primary-active);
  margin-bottom: var(--spacing-lay-s);
  padding: 0 var(--spacing-comp-01);
  cursor: pointer;

  .container-content {
    width: 100%;
    padding: var(--spacing-comp-01) var(--spacing-comp-02);

    &__title {
      display: block;
      font-weight: var(--font-weight-bold);
    }
  }
  .drag-icon-container {
    gxg-icon {
      opacity: 0;
    }
  }
  .delete-icon-container {
    gxg-icon {
      opacity: 0;
    }
  }
}
:host(:hover) {
  .drag-icon-container {
    gxg-icon {
      opacity: 1;
    }
  }
  .delete-icon-container {
    gxg-icon {
      opacity: 1;
    }
  }
}
//Padding
:host([padding="xs"]) {
  .container-content {
    padding: var(--spacing-comp-01);
  }
}
:host([padding="s"]) {
  .container-content {
    padding: var(--spacing-comp-02);
  }
}
:host([padding="m"]) {
  .container-content {
    padding: var(--spacing-comp-03);
  }
}
:host([padding="l"]) {
  .container-content {
    padding: var(--spacing-comp-04);
  }
}
:host([padding="xl"]) {
  .container-content {
    padding: var(--spacing-comp-05);
  }
}
:host([padding="xxl"]) {
  .container-content {
    padding: var(--spacing-comp-06);
  }
}
:host([padding="xxxl"]) {
  .container-content {
    padding: var(--spacing-comp-07);
  }
}

//Border
:host([active]) {
  border-top-color: var(--color-primary-active);
}
