@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  .menu-item {
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 2px;
      background-color: transparent;
      position: absolute;
    }

    &--ellipsis {
      .menu-item__label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }

    position: relative;

    &__button {
      all: unset;
      color: var(--color-on-background);
      padding: 0 var(--spacing-comp-01);
      min-height: var(--gxg-list-item-height);
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: var(--spacing-comp-02);
      border-radius: var(--border-width-md);
      overflow: hidden;

      &:hover {
        background-color: var(--gxg-background-color-item-hover);
      }
      &:focus {
        @include form-element-common-styles-focus-type-1();
      }
    }
  }
  :menu-item--tab {
    font-weight: var(--font-weight-semibold);
  }
}
:host([active]) {
  .menu-item {
    &__button {
      color: var(--gxg-color-selected);
      background-color: var(--gxg-background-color-item-selected);
    }
  }
}
