@import "../../globals/mixins";

:host {
  height: 100%;
  display: block;

  @include gxg-scrollbar();

  .container {
    @include gxg-text();
    height: 100%;
    box-sizing: border-box;
    padding: var(--spacing-comp-03);

    overflow-x: auto;
    overflow-y: auto;
  }
}
:host(.not-selected) {
  display: none;
}
:host(.no-padding) {
  .container {
    padding: 0;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  .container {
    font-size: var(--font-size-lg);
  }
}
