@import "../../globals/mixins";

:host {
  height: auto;
  display: block;

  .outer-container {
    max-height: 100%;
    height: 100%;
    @include ui-animation(max-height);
  }
  .inner-container {
    @include gxg-text();
    height: 100%;
    box-sizing: border-box;
    padding: var(--spacing-comp-03) var(--spacing-comp-03);
  }
}
:host(.not-selected) {
  display: none;
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host {
  .inner-container {
    font-size: var(--font-size-lg);
  }
}
