@import "../../globals/mixins";

// :host([is-selected]) {
//   height: 100%;
// }
:host {
  --outerContainerMaxHeight: "0px";
  height: 100%;
  display: block;

  .outer-container {
    max-height: 0;
    overflow: hidden;
    @include ui-animation(max-height);
  }
  .inner-container {
    @include gxg-text();
    padding: var(--spacing-comp-03) var(--spacing-comp-03);
  }
}
:host([is-selected]) {
  .outer-container {
    max-height: var(--outerContainerMaxHeight);
  }
}
:host(.not-selected) {
  display: none;
}
