@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  @include gxg-scroll();

  .main-container {
    background-color: var(--color-background);
    position: relative;
  }

  .select-container {
    border-width: var(--border-width-sm);
    border-style: solid;
    border-color: var(--gray-02);
    height: 18px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
    padding: 0 var(--spacing-comp-01);
    position: relative;
    cursor: pointer;
    color: var(--color-on-background);

    .icon {
      margin-left: -4px;
    }

    &.nothing-selected {
      color: var(--gray-04);
    }
    &.focus {
      @include form-element-common-styles-focus-type-1();
    }

    /*style the arrow inside the select element:*/
    &:after,
    &:before {
      position: absolute;
      content: "";
      right: 6px;
      //right: 6px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-color: var(--gray-06) transparent transparent transparent;
    }
    &:after {
      top: 11px;
    }
    &:before {
      top: 0;
      transform: rotate(180deg);
    }
    &:hover:after,
    &:hover:before {
      border-color: var(--gray-04) transparent transparent transparent;
    }
  }

  .arrow-down-icon {
    position: absolute;
    right: 0;
    pointer-events: none;
  }

  .content-container {
    border-width: var(--border-width-sm);
    border-style: solid;
    border-color: var(--gray-02);
    border-top: 0;
    padding: var(--spacing-comp-01);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
    color: var(--color-on-background);
    overflow-y: auto;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    background-color: var(--color-background);
  }
}
