@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  @include gxg-scroll();

  .main-container {
    position: relative;
  }

  .label {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    color: var(--color-on-background);
    margin-bottom: var(--spacing-comp-01);
    display: inline-block;
  }

  .select-container {
    background-color: var(--color-background);
    border-radius: var(--border-radius-sm);
    border-width: var(--border-width-sm);
    border-style: solid;
    border-color: var(--gray-02);
    height: 20px;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    display: flex;
    align-items: center;
    padding: 0 0 0 var(--spacing-comp-01);
    position: relative;
    cursor: pointer;
    color: var(--color-on-background);
    overflow: hidden;
    box-sizing: border-box;

    .icon {
      margin-left: -4px;
    }

    &.nothing-selected {
      color: var(--gray-04);
    }
    &:focus {
      @include form-element-common-styles-focus-type-1();
    }
  }

  .content-container {
    border-width: var(--border-width-sm);
    border-style: solid;
    border-color: var(--gray-02);
    border-top-width: 0;
    padding: var(--spacing-comp-01);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
    color: var(--color-on-background);
    overflow-y: auto;
    position: fixed;
    width: inherit;
    box-sizing: border-box;
    z-index: 999;
    background-color: var(--color-background);
    display: none;

    &--show {
      display: block;
    }
  }

  .arrow-down-button {
    margin-left: auto;
  }
}

:host(.position-top) {
  .content-container {
    transform: translateY(calc(-100% - 20px));
    border-top-width: 1px;
    border-bottom-width: 0;
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  label {
    font-size: var(--font-size-lg);
  }
  .select-container {
    font-size: var(--font-size-lg);
    height: var(--spacing-comp-05);

    &:before {
      top: 2px;
    }
    &:after {
      top: 14px;
    }
  }
  .content-container {
    font-size: var(--font-size-lg);
  }
}
:host(.large.above) {
  .content-container {
    transform: translateY(calc(-100% - 24px));
  }
}
