@import "../../globals/common-css-classes";
@import "../../globals/mixins";

:host {
  display: block;
  font-family: var(--font-family-primary);
  font-size: inherit;
  //min-height: var(--spacing-comp-05);
  color: inherit;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  outline: none;

  .container {
    display: flex;
    align-items: center;
    padding: var(--spacing-comp-00) var(--spacing-comp-02);
    width: 100%;
    height: var(--gxg-list-item-height--spaced);
    box-sizing: border-box;
  }

  .icon {
    margin-inline-end: var(--spacing-comp-01);
    flex-shrink: 0;
  }

  gxg-form-checkbox {
    margin-inline-end: var(--spacing-comp-01);
  }
  gxg-form-checkbox::part(box) {
    outline: none;
  }
}
:host(:not([disabled])) {
  cursor: pointer !important;
}
:host(:hover:not([selected])) {
  background-color: var(--gxg-background-color-item-hover);
}
:host(.has-icon.no-checkbox) {
  .container {
    padding-inline-start: var(--spacing-comp-01);
  }
}
/*SELECTED*/
:host([selected]) {
  background-color: var(--gxg-background-color-item-selected);
  color: var(--gxg-color-item-active);
}
/*HIGHLIGHTED*/
:host([highlighted]) {
  background-color: var(--gxg-background-color-item-active);
  color: var(--color-always-white);
}
/*ACTIVE*/
:host([active]) {
  //@include form-element-common-styles-focus-type-1();
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/

:host(.large) {
  .container {
    padding: var(--spacing-comp-01);
  }
}
