:host {
  display: block;
  font-family: var(--font-family-primary);
  font-size: inherit;
  //min-height: var(--spacing-comp-05);
  color: var(--color-on-background);
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  outline: none;

  .container {
    display: flex;
    align-items: center;
    padding: var(--spacing-comp-00) var(--spacing-comp-02);
    width: 100%;
  }

  .icon {
    margin-inline-end: var(--spacing-comp-01);
    flex-shrink: 0;
  }

  gxg-form-checkbox {
    margin-inline-end: var(--spacing-comp-01);
  }
}
:host(:hover),
:host(.selected:hover) {
  background-color: var(--color-secondary-hover);
  color: var(--color-always-white);
}
:host(.has-icon.no-checkbox) {
  .container {
    padding-inline-start: var(--spacing-comp-01);
  }
}
:host(.selected) {
  background-color: var(--color-secondary-active);
  color: var(--color-always-white);
}
:host(:focus) {
  .container {
    outline-width: var(--border-width-md);
    outline-color: var(--color-primary-active);
    outline-style: solid;
    outline-offset: -2px;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/

:host(.large) {
  .container {
    padding: var(--spacing-comp-01);
  }
}
