@import "../../globals/common-css-classes";
@import "../../globals/mixins";

:host {
  --ds-icon-size-box--regular: var(--gxg-list-box-item-icon__size-box--regular);
  --ds-icon-size--regular: var(--gxg-list-box-item-icon__size--regular);
  display: block;
  font-family: var(--ds-base-font-family-primary);
  font-size: inherit;
  //min-height: var(--spacing-comp-05);
  color: inherit;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  outline: none;
  border-bottom: var(--gxg-list-box-item__border) !important;

  .container {
    display: flex;
    align-items: center;
    padding: var(--gxg-list-box-item-container__padding);
    width: 100%;
    height: var(--gxg-list-box-item__height);
    box-sizing: border-box;
    //border-bottom: var(--gxg-list-box-item__border);
  }

  .icon {
    margin-inline-end: var(--gxg-list-box-item-icon__margin-inline-end);
    flex-shrink: 0;
  }

  gxg-form-checkbox::part(box) {
    outline: none;
  }
}
.checkbox {
  margin-inline-end: 8px;
}
:host(:not([disabled])) {
  cursor: pointer !important;
}
:host([disabled]) {
  pointer-events: none;
  border-bottom: transparent;
  color: var(--ds-color-on-disabled);
}
:host(:hover:not([selected])) {
  background-color: var(--gxg-list-box-item__background-color--hover);
}
:host(.has-icon.no-checkbox) {
  .container {
    padding-inline-start: calc(
      var(--gxg-list-box-item-container-icon-no-checkbox__padding-inline-start) *
        1.5
    );
  }
}
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; /* Adjust as needed */
}

/*HIGHLIGHTED*/
/*ACTIVE*/
:host([active]) {
  @include form-element-common-styles-focus-type-1();

  color: var(--ds-item-color--hover);
  outline-offset: var(--gxg-tree-view-item__outline-offset--active);
}
/*SELECTED*/
:host([selected]:not(.gxg--disabled)) {
  background-color: var(--ds-item-background-color--selected);
  color: var(--gxg-grid-row-cell__color--selected);
}
:host([selected][sibling-is-selected]:not(.gxg--disabled)) {
  border-bottom-color: var(--ds-item-border-color--selected) !important;
}
:host([selected]:hover) {
  background-color: var(--ds-item-background-color--selected-hover);
}
:host(:not([sibling-is-selected])) {
  //border-bottom-color: transparent;
}
:host:last-child {
  border-bottom: none;
}
