@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  font-family: var(--font-family-primary);

  @include gxg-scrollbar();

  #draggable-resizable-div {
    position: absolute;
    background-color: var(--gray-01);
    opacity: 0;
    margin-top: 30px;
    @include ui-animation(opacity, margin-top);
    z-index: -99;
  }

  #top,
  #bottom {
    width: 100%;
    height: 5px;
    cursor: ns-resize;
  }

  #left,
  #right {
    width: 5px;
    height: 100%;
    cursor: ew-resize;
  }

  #top,
  #left {
    top: 0;
    left: 0;
  }

  #bottom,
  #right {
    bottom: 0;
    right: 0;
  }

  #top,
  #left,
  #bottom,
  #right {
    position: absolute;
    background: transparent;
  }

  #header {
    height: var(--spacing-comp-06);
    background-color: var(--gray-02);
    font-size: var(--font-size-sm);
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-comp-02);
    color: var(--color-on-background);

    .title-container {
      display: flex;
      align-items: center;

      .title-icon {
        margin-inline-end: var(--spacing-comp-01);
      }
    }
  }

  #content {
    padding: var(--spacing-comp-03);
    font-size: var(--font-size-sm);
    padding: var(--spacing-comp-02);
    color: var(--color-on-background);
    height: calc(100% - 48px);
    overflow-y: auto;
    line-height: var(--line-height-regular);
  }
}
:host(.display) {
  display: block;
}
:host(.visible) #draggable-resizable-div {
  opacity: 1;
  margin-top: 0;
  z-index: 99;
}
