@import "../../globals/common-css-classes";

:host {
  display: block;
}
ch-window::part(mask) {
  overflow: hidden;
}
ch-window::part(main) {
  height: 100%;
}
ch-window::part(window) {
  width: 100%;
  height: 100%;
}
.loader {
  &__wrapper {
    opacity: 0;
    transition: var(--show-transition) opacity;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--gxg-ide-loader-wrapper__background-color--from);
    backdrop-filter: var(--gxg-ide-loader-wrapper__backdrop-filter);
    padding: var(--gxg-ide-loader-wrapper__padding);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    // -webkit-animation: wrapper 0.5s infinite alternate;
    // animation: wrapper 0.5s infinite alternate;
    color: var(--gxg-ide-loader-wrapper__color);

    &--visible {
      opacity: 1;
    }
  }
  &__spinner {
    border: var(--gxg-ide-loader-spinner__border);
    border-top: var(--gxg-ide-loader-spinner__border-top);
    border-radius: 50%;
    -webkit-animation: spinner 0.6s infinite linear;
    animation: spinner 0.6s infinite linear;
    width: var(--gxg-ide-loader-spinner__width);
    height: var(--gxg-ide-loader-spinner__width);
    flex-shrink: 0;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    margin-block-start: var(--gxg-ide-loader-content-wrapper__mbs);
    gap: var(--gxg-ide-loader-content-wrapper__gap);
    max-width: var(--gxg-ide-loader-content-wrapper__max-width);
    &--hidden {
      display: none;
    }
  }
}

/*background color animation*/
@keyframes wrapper {
  from {
    background-color: var(--gxg-ide-loader-wrapper__background-color--from);
  }
  to {
    background-color: var(--gxg-ide-loader-wrapper__background-color--to);
  }
}
/*spinner animation*/
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

:host([display-border]) {
  .loader {
    &__wrapper {
      border: 1px solid var(--mer-color__elevation--02);
    }
  }
}
