:root {
  //Widths
  --mer-border__width--sm: 1px;
  --mer-border__width--md: 2px;
  --mer-border__width--lg: 4px;

  //Radius
  --mer-border__radius--xs: 2px;
  --mer-border__radius--sm: 4px;
  --mer-border__radius--md: 8px;
  --mer-border__radius--lg: 12px;
  --mer-border__radius--xl: 30px;
}
