:root {
  //Primary
  --mer-color__primary-blue--200: #2070ce;
  --mer-color__primary-blue--300: #ffffff;
  --mer-color__primary-blue--400: #437dc0;
  --mer-color__primary-blue--600: #335884;
  &.dark {
    --mer-color__primary-blue--200: #5ba7ff;
    --mer-color__primary-blue--300: #5498e8;
    --mer-color__primary-blue--400: #437dc0;
    --mer-color__primary-blue--600: #335884;
  }

  //Neutral
  --mer-color__neutral-gray--00: #363636;
  --mer-color__neutral-gray--100: #525151;
  --mer-color__neutral-gray--200: #616161;
  --mer-color__neutral-gray--300: #696969;
  --mer-color__neutral-gray--400: #666666;
  --mer-color__neutral-gray--500: #7f7f7f;
  --mer-color__neutral-gray--600: #999999;
  --mer-color__neutral-gray--700: #b3b3b3;
  --mer-color__neutral-gray--800: #cccccc;
  --mer-color__neutral-gray--900: #ffffff;
  --mer-color__neutral-gray--1000: #f8f8f8;
  --mer-color__neutral-gray--1100: #f1f1f1;
  --mer-color__neutral-gray--1200: #e4e4e4;
  --mer-color__neutral-gray--1300: #dedede;
  --mer-color__neutral-gray--1400: #ffffff;
  &.dark {
    --mer-color__neutral-gray--00: #ffffff;
    --mer-color__neutral-gray--100: #cccccc;
    --mer-color__neutral-gray--200: #b3b3b3;
    --mer-color__neutral-gray--300: #999999;
    --mer-color__neutral-gray--400: #7f7f7f;
    --mer-color__neutral-gray--500: #666666;
    --mer-color__neutral-gray--600: #4d4d4d;
    --mer-color__neutral-gray--700: #333333;
    --mer-color__neutral-gray--800: #1a1a1a;
    --mer-color__neutral-gray--900: #000000;
    --mer-color__neutral-gray--1000: #1f2225;
    --mer-color__neutral-gray--1100: #24272a;
    --mer-color__neutral-gray--1200: #2d3032;
    --mer-color__neutral-gray--1300: #3b3e40;
    --mer-color__neutral-gray--1400: #2d3134;
  }

  //Tinted Grays
  --mer-color__tinted-yellow--5: #ffc96b0d;
  --mer-color__tinted-yellow--60: #ffc96b99;
  --mer-color__tinted-red--5: #fb7c840d;
  --mer-color__tinted-red--60: #fb7c8499;
  --mer-color__tinted-green--5: #64d9a80d;
  --mer-color__tinted-green--60: #64d9a899;
  --mer-color__tinted-blue--5: #2070ce0d;
  --mer-color__tinted-blue--8: #2070ce14;
  --mer-color__tinted-blue--10: #2070ce1a;
  --mer-color__tinted-blue--20: #2070ce33;
  --mer-color__tinted-blue--50: #2070ce80;
  &.dark {
    --mer-color__tinted-yellow--5: #ffc96b0d;
    --mer-color__tinted-yellow--60: #ffc96b99;
    --mer-color__tinted-red--5: #fb7c840d;
    --mer-color__tinted-red--60: #fb7c8499;
    --mer-color__tinted-green--50: #64d9a80d;
    --mer-color__tinted-green--60: #64d9a899;
    --mer-color__tinted-blue--5: #0d5ba70d;
    --mer-color__tinted-blue--8: #5ba7ff14;
    --mer-color__tinted-blue--10: #5ba7ff1a;
    --mer-color__tinted-blue--20: #5ba7ff33;
    --mer-color__tinted-blue--50: #5ba7ff80;
  }

  //Message
  --mer-color__message-green--100: #64d9a8;
  --mer-color__message-green--200: #5dc599;
  --mer-color__message-yellow--100: #ffc96b;
  --mer-color__message-yellow--200: #ffc96b;
  --mer-color__message-red--100: #fb7c84;
  --mer-color__message-red--200: #fb7c84;
  &.dark {
    --mer-color__message-green--100: #64d9a8;
    --mer-color__message-green--200: #5dc599;
    --mer-color__message-yellow--100: #ffc96b;
    --mer-color__message-yellow--200: #f9bd56;
    --mer-color__message-red--100: #fb7c84;
    --mer-color__message-red--200: #e35861;
  }

  //Surface
  --mer-color__surface: #f4f5f5;
  &.dark {
    --mer-color__surface: #1a1d20;
  }

  //Elevation
  --mer-color__elevation--01: var(--mer-color__neutral-gray--900);
  --mer-color__elevation--02: var(--mer-color__neutral-gray--900);
  --mer-color__elevation--03: var(--mer-color__neutral-gray--900);
  --mer-color__elevation--04: var(--mer-color__neutral-gray--900);
  &.dark {
    --mer-color__elevation--01: #202428;
    --mer-color__elevation--02: #262a2f;
    --mer-color__elevation--03: #2b3237;
    --mer-color__elevation--04: #3b4044;
  }
}
