:root {
  --mer-elevation--01: 0px 2px 1px -1px rgba(0, 0, 0, 0.08),
    0px 1px 4px 0px rgba(0, 0, 0, 0.06);
  --mer-elevation--02: 0px 1px 10px 0px rgba(0, 0, 0, 0.12),
    0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  --mer-elevation--03: 0px 3px 14px 2px rgba(0, 0, 0, 0.12),
    0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  --mer-elevation--04: 0px 5px 22px 4px rgba(0, 0, 0, 0.12),
    0px 7px 8px -4px rgba(0, 0, 0, 0.1);
}
:root.dark {
  --mer-elevation--01: 0px 2px 1px -1px rgba(245, 245, 245, 0.08),
    0px 1px 4px 0px rgba(0, 0, 0, 0.06);
  --mer-elevation--02: 0px 1px 10px 0px rgba(245, 245, 245, 0.12),
    0px 2px 4px -1px rgba(0, 0, 0, 0.1);
  --mer-elevation--03: 0px 3px 14px 2px rgba(245, 245, 245, 0.12),
    0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  --mer-elevation--04: 0px 5px 22px 4px rgba(245, 245, 245, 0.12),
    0px 7px 8px -4px rgba(0, 0, 0, 0.1);
}
