:root {
  --mer-spacing--xxxs: 2px; //xxxs
  --mer-spacing--xxs: 4px; //xxs
  --mer-spacing--xs: 8px; //xs
  --mer-spacing--sm: 12px; //s
  --mer-spacing--md: 16px; //m
  --mer-spacing--lg: 24px; //l
  --mer-spacing--xl: 32px; //xl
  --mer-spacing--xxl: 40px; //xxl
  --mer-spacing--xxxl: 48px; //xxxl
  --mer-spacing--xxxxl: 64px; //xxxxl
}
