:root {
  --mer-spacing__comp--xxxs: 2px; //xxxs
  --mer-spacing__comp--xxs: 4px; //xxs
  --mer-spacing__comp--xs: 8px; //xs
  --mer-spacing__comp--sm: 12px; //s
  --mer-spacing__comp--md: 16px; //m
  --mer-spacing__comp--lg: 24px; //l
  --mer-spacing__comp--xl: 32px; //xl
  --mer-spacing__comp--xxl: 40px; //xxl
  --mer-spacing__comp--xxxl: 48px; //xxxl
  --mer-spacing__comp--xxxxl: 64px; //xxxxl
}
