@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-flex;
  flex-direction: column;
  ::slotted(gxg-form-radio) {
    margin-bottom: var(--spacing-comp-02);
    display: inline-flex;
  }
  ::slotted(gxg-form-radio:last-of-type) {
    margin-bottom: 0;
  }
  .label {
    @include form-element-common-styles-label-group();
    display: inline-block;
  }
}
:host .required {
  padding-left: 2px;
}
