@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  .label {
    @include form-element-common-styles-label-group();
    display: inline-block;
    margin-bottom: var(--spacing-comp-02);
  }
  .radios-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-comp-02);
  }
}
.messages-wrapper {
  @include messages-wrapper();
}
:host(.gxg-form-radio-group--row) {
  .radios-wrapper {
    flex-direction: row;
    gap: var(--spacing-comp-04);
    align-items: center;
  }
}
:host .required {
  padding-left: 2px;
}
