:host {
  display: block;

  table {
    background-color: yellow;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  tr {
    transition: all 0.25s;
    line-height: 1em;
  }
  tr.collapse {
    line-height: 0;
  }
}
