@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: inline-flex;
  .tooltip {
    cursor: pointer;
    position: relative;
    border-bottom: 1px dotted var(--color-on-secondary);
    text-decoration: none;

    .tooltiptext {
      @include gxg-text();
      font-size: var(--font-size-xs);
      visibility: hidden;
      opacity: 0;
      @include ui-animation(opacity);
      position: absolute;
      z-index: 1;
      width: 250px;
      text-align: center;

      &__content {
        width: fit-content;
        background-color: var(--gray-07);
        padding: var(--spacing-comp-01) var(--spacing-comp-02);
        border-radius: var(--border-width-md);
        color: var(--color-on-primary);
        display: inline-block;
        text-align: left;
      }

      &:after {
        //triangle
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 5px solid var(--gray-07);
        position: absolute;
      }
    }

    &:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
//position
:host([position="top"]) {
  .tooltip {
    .tooltiptext {
      bottom: 27px;
      left: 50%;
      transform: translateX(-50%);

      &:after {
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        bottom: -4px;
      }
    }
  }
}
:host([position="right"]) {
  .tooltip {
    .tooltiptext {
      top: 0;
      left: 111%;
      text-align: left;
      &:after {
        left: -7px;
        transform: rotate(-90deg);
        top: 8px;
      }
    }
  }
}
:host([position="bottom"]) {
  .tooltip {
    .tooltiptext {
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
      &:after {
        left: 50%;
        transform: translateX(-50%);
        top: -4px;
      }
    }
  }
}
:host([position="left"]) {
  .tooltip {
    .tooltiptext {
      text-align: right;
      top: 0;
      right: 105%;
      &:after {
        right: -7px;
        transform: rotate(90deg);
        top: 8px;
      }
    }
  }
}
//auto width
:host([width-auto]) {
  .tooltip {
    .tooltiptext {
      width: auto;
      white-space: nowrap;
    }
  }
}
//no text decoration
:host([no-border]) {
  .tooltip {
    border-bottom: none;
  }
}
//align end
:host([align-end]) {
  .tooltiptext {
    transform: none !important;
    inset-inline-end: 0;
    left: auto !important;
    max-width: 180px;
    width: max-content;

    &:after {
      inset-inline-end: -1px;
      left: auto !important;
    }
  }
}
//display flex
:host([flex]) {
  display: flex;
  .tooltip {
    display: flex;
  }
}
//fixed
:host([fixed]) {
  border: 1px solid black;
  .tooltip {
    &:hover {
      .tooltiptext {
        visibility: hidden;
        opacity: 0;
      }
    }
    .tooltiptext {
      position: fixed;
      height: 0;
      &__content {
        transform: translateY(calc(-100% - 5px));

        &:after {
          //triangle
          content: "";
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 5px solid var(--gray-07);
          position: absolute;
          right: 0;
          transform: translateX(-3px) rotate(180deg);
          bottom: -3px;
        }
      }

      &:after {
        display: none;
      }
    }
    &--visible {
      .tooltiptext {
        visibility: visible !important;
        opacity: 1 !important;
      }
    }
  }
}
