@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*****************************************************
FORM ELEMENT WRAPPER
*****************************************************/
:host {
  .outer-wrapper {
    @include form-element-common-styles-wrapper();
  }
  .inner-wrapper {
    display: flex;
    flex-direction: column;

    gxg-icon {
      position: absolute;
    }
  }
}
/*****************************************************
LABEL
*****************************************************/
:host {
  label {
    @include form-element-common-styles-label();
    .required {
      padding-left: 2px;
    }
  }

  input {
    position: relative;
    width: 100%;
    @include ui-animation(padding-left);
  }
}

/*****************************************************
TEXT
*****************************************************/
:host {
  input[type="text"] {
    @include form-element-common-styles();
    height: 20px;
    box-sizing: border-box;
    @include ui-animation(border-color, background, padding-left);

    &:focus {
      //box-shadow: var(--border-width-md) 0 var(border-color);
      @include form-element-common-styles-focus-type-1();
    }
    &:hover {
    }
  }
  input[disabled] {
    @include form-element-common-styles-disabled();
  }
  input[disabled]::-webkit-input-placeholder {
    color: var(--gray-04);
  }
  .input--error[type="text"] {
    @include form-element-common-styles-error();
  }
  .input--warning[type="text"] {
    @include form-element-common-styles-warning();
  }
}
//borderless
:host([minimal]) {
  input[type="text"]:not(:focus) {
    border-color: transparent;
    background-color: transparent;
  }
  input:hover {
    border-color: var(--gray-02) !important;
    background-color: var(--color-background);
  }
  input[type="text"]:focus {
    border-color: transparent;
  }
}
:host([minimal]:not([icon-position="start"])) {
  input[type="text"] {
    padding-left: 0;
  }
  input:hover {
    padding-left: var(--spacing-comp-01);
  }
  input[type="text"]:focus {
    padding-left: var(--spacing-comp-01);
  }
}
/*****************************************************
INPUT TEXT ICON
*****************************************************/
:host([icon-position="start"]) {
  gxg-icon {
    left: 0;
  }
}
:host([icon-position="end"]) {
  gxg-icon {
    right: 0;
  }
}
:host([icon-position="end"]) {
  .clear-button {
    gxg-icon:not(.clear-button) {
      right: 16px;
    }
  }
}

// Input with icon (on the left, or on the right)

:host([icon-position="start"]) input {
  padding-left: 20px;
}
:host([icon-position="start"]) input {
  padding-left: 20px;
}
:host([icon-position="end"]) input {
  padding-right: 20px;
}
:host([icon-position="end"]) .inner-wrapper {
  flex-direction: row-reverse;
}

/*****************************************************
CLEAR BUTTON
*****************************************************/
:host {
  gxg-icon.clear-button {
    right: 0 !important;
    left: auto;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

/*****************************************************
STYLE
*****************************************************/
:host([text-style="regular"]) {
  input {
    @include gxg-text();
  }
}
:host([text-style="quote"]) {
  input {
    @include gxg-quote();
  }
}
:host([text-style="title-01"]) {
  input {
    @include gxg-title-01();
  }
}
:host([text-style="title-02"]) {
  input {
    @include gxg-title-02();
  }
}
:host([text-style="title-03"]) {
  input {
    @include gxg-title-03();
  }
}
:host([text-style="title-04"]) {
  input {
    @include gxg-title-04();
  }
}
:host([text-style="title-05"]) {
  input {
    @include gxg-title-05();
  }
}
