@import "../../globals/normalize";
@import "../../globals/mixins";
@import "../../globals/form-validation";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*****************************************************
FORM ELEMENT WRAPPER
*****************************************************/
:host {
  .outer-wrapper {
    @include form-element-common-styles-wrapper();
  }
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    gxg-icon {
      position: absolute;
    }
  }
}
/*****************************************************
LABEL
*****************************************************/
:host {
  label {
    @include form-element-common-styles-label();
    .required {
      padding-inline-start: 2px;
    }
  }

  input {
    position: relative;
    width: 100%;
  }
}
:host([label-position="start"]) {
  .outer-wrapper {
    display: flex;
    align-items: center;
  }
  .inner-wrapper {
    width: 100%;
  }
  .label {
    margin-bottom: 0;
    margin-inline-end: var(--spacing-comp-01);
  }
}

/*****************************************************
TEXT
*****************************************************/
:host {
  input[type="text"],
  input[type="password"] {
    @include form-element-common-styles();
    height: 20px;
    box-sizing: border-box;

    &:focus {
      @include form-element-common-styles-focus-type-1;
    }
    &:hover {
    }
  }
  input[disabled] {
    @include form-element-common-styles-disabled();
  }
  input[disabled]::-webkit-input-placeholder {
    color: var(--gray-04);
  }
  .input--borderless {
    border-color: transparent !important;
  }
  input[readonly] {
    cursor: default;
  }
}
//borderless and transparent background
:host([minimal]) {
  input[type="text"]:not(:focus),
  input[type="password"]:not(:focus) {
    border-color: transparent;
    background-color: transparent;
  }
  input.cursor-inside {
    border-color: var(--gray-02) !important;
    background-color: var(--color-background);
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: transparent;
  }
}
:host([minimal]:not([icon-position="start"])) {
  input[type="text"],
  input[type="password"] {
    padding-inline-start: 0;
  }
  input.cursor-inside {
    padding-inline-start: var(--spacing-comp-01);
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    padding-inline-start: var(--spacing-comp-01);
  }
}
//If the form-text is minimal and is on a dark background
:host([minimal][over-dark-background]) {
  input[type="text"]:not(:focus),
  input[type="password"]:not(:focus) {
    color: var(--color-on-primary);
  }
}
/*****************************************************
INPUT TEXT ICON
*****************************************************/
:host {
  gxg-icon {
    top: 50%;
    transform: translateY(-50%);
  }
}
:host([icon-position="end"]) {
  .clear-button {
    gxg-icon:not(.clear-button) {
      right: 16px;
    }
  }
}

// Input with icon (on the left, or on the right)
:host([icon-position="start"]) input {
  padding-inline-start: 20px;
}
:host([icon-position="end"]) input {
  padding-inline-end: 20px;
}
:host([icon-position="end"]) .inner-wrapper {
  flex-direction: row-reverse;
}

/*****************************************************
CLEAR BUTTON
*****************************************************/
:host {
  gxg-icon.clear-button {
    left: auto;
    opacity: 0.5;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
:host([clear-button][icon-position="end"]) {
  gxg-icon:not(.clear-button) {
    right: 16px;
  }
  input {
    padding-inline-end: 36px;
  }
}

/*****************************************************
CUSTOM ICON
*****************************************************/
.custom-icon:has(+ .clear-button) {
  /* Styles for the target element if the next sibling has the class */
}

/*****************************************************
VALIDATION
*****************************************************/
.messages-wrapper {
  @include messages-wrapper();
}
/*****************************************************
STYLE
*****************************************************/
:host([text-style="regular"]) {
  input {
    @include gxg-text();
  }
}
:host([text-style="quote"]) {
  input {
    @include gxg-quote();
  }
}
:host([text-style="title-01"]) {
  input {
    @include gxg-title-01();
  }
}
:host([text-style="title-02"]) {
  input {
    @include gxg-title-02();
  }
}
:host([text-style="title-03"]) {
  input {
    @include gxg-title-03();
  }
}
:host([text-style="title-04"]) {
  input {
    @include gxg-title-04();
  }
}
:host([text-style="title-05"]) {
  input {
    @include gxg-title-05();
  }
}
/*****************************************************
Reading direction RTL
*****************************************************/
:host(.rtl[icon-position="start"]) {
  gxg-icon {
    right: 0;
    left: auto;
  }
}
:host(.rtl[icon-position="end"]) {
  gxg-icon {
    right: auto;
    left: 0;
  }
}

/*********************************************
LARGE VERSION (html tag has 'gxg-large' class)
**********************************************/
:host(.large) {
  label {
    @include form-element-common-styles-label-large();
  }
  input {
    height: var(--spacing-comp-05);
    font-size: var(--font-size-lg);
  }
  input[type="text"],
  input[type="password"] {
    padding-left: 7px;
    padding-right: 7px;
  }
}
// Input with icon (on the left, or on the right)
:host(.large[icon-position="start"]) input {
  padding-inline-start: var(--spacing-comp-05);
  .inner-wrapper gxg-icon {
    left: 2px;
  }
}
:host(.large[icon-position="end"]) input {
  padding-inline-end: var(--spacing-comp-05);
}
:host(.large[icon-position="start"]) {
  .inner-wrapper gxg-icon {
    left: 2px;
  }
}
:host(.large[icon-position="end"]) {
  .inner-wrapper gxg-icon {
    right: 4px;
    left: auto;
  }
}
//clear button
:host(.large) gxg-icon.clear-button {
  right: 5px !important;
  left: auto !important;
}
:host(.large[icon-position="end"][clear-button]) {
  .inner-wrapper gxg-icon {
    right: 26px;
  }
}
:host(.large[icon-position="start"][clear-button]) input {
  padding-inline-end: 26px;
}
:host(.large[icon-position="end"][clear-button]) input {
  padding-inline-end: 48px;
}
