@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: flex;
  align-items: center;
}
//active
:host([on]) .toggle__container {
  background-color: var(--color-primary-active);
}
:host([on]) .toggle__container__knob {
  left: 29px;
}

:host([disabled]) {
  pointer-events: none;
}
:host([disabled]) .toggle__container {
  background-color: var(--gray-04);
}
:host([disabled]) .toggle__container__knob {
  background-color: var(--gray-02);
}
:host(:focus) {
  outline: none;
}
:host(:focus) .toggle__container {
  @include form-element-common-styles-focus-type-2();
}
:host {
  .toggle__container {
    width: 48px;
    height: 20px;
    background-color: var(--gray-03);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    border: 1px solid transparent;
    flex-shrink: 0;
    @include ui-animation(background-color);
  }
  .toggle__container__knob {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--color-on-primary);
    display: block;
    box-shadow: var(--box-shadow-01);
    position: absolute;
    left: 2px;
    @include ui-animation(left);
  }

  .toggle__label {
    @include gxg-text();
    margin-inline-start: var(--spacing-comp-01);
  }
}

// Small version
:host([size="small"]) {
  .toggle__container {
    width: 24px;
    height: 12px;
    border-radius: 12px;
  }
  .toggle__container__knob {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    left: 1px;
  }
}
:host([on][size="small"]) {
  .toggle__container__knob {
    left: 13px;
  }
}
