@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  background: var(--color-on-primary);
  overflow: hidden;
  @include gxg-text();
  .container {
    padding: var(--spacing-comp-02);
  }
}
:host([background="white"]) {
  background: var(--color-background);
}
:host([background="gray-01"]) {
  background: var(--gray-01);
}
:host([background="gray-02"]) {
  background: var(--gray-02);
}
:host(.border) {
  border-style: var(--border-style-regular);
  border-width: var(--border-width-sm);
  border-color: var(--gray-03);
}

//Padding
:host([padding="0"]) {
  .container {
    padding: 0;
  }
}
:host([padding="xs"]) {
  .container {
    padding: var(--spacing-comp-01);
  }
}
:host([padding="s"]) {
  .container {
    padding: var(--spacing-comp-02);
  }
}
:host([padding="m"]) {
  .container {
    padding: var(--spacing-comp-03);
  }
}
:host([padding="l"]) {
  .container {
    padding: var(--spacing-comp-04);
  }
}
:host([padding="xl"]) {
  .container {
    padding: var(--spacing-comp-05);
  }
}
:host([padding="xxl"]) {
  .container {
    padding: var(--spacing-comp-06);
  }
}
:host([padding="xxxl"]) {
  .container {
    padding: var(--spacing-comp-07);
  }
}

.container {
  @include gxg-scrollbar();
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
}
