@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  background: var(--color-on-primary);
  padding: var(--spacing-comp-02);
  overflow: hidden;
  @include gxg-text();
  //@include gxg-scroll();
  // Scroll bar

  // Scroll bar
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--gray-02);
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--gray-05);
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray-04);
    cursor: pointer;
  }

  overflow-y: auto;
}
:host([background="surface"]) {
  background: var(--color-background);
}
:host([background="gray-01"]) {
  background: var(--gray-01);
}
:host([background="gray-02"]) {
  background: var(--gray-02);
}
:host([border="gray-03"]) {
  border-style: var(--border-style-regular);
  border-width: var(--border-width-sm);
  border-color: var(--gray-03);
}

//Padding
:host([padding="xs"]) {
  padding: var(--spacing-comp-01);
}
:host([padding="s"]) {
  padding: var(--spacing-comp-02);
}
:host([padding="m"]) {
  padding: var(--spacing-comp-03);
}
:host([padding="l"]) {
  padding: var(--spacing-comp-04);
}
:host([padding="xl"]) {
  padding: var(--spacing-comp-05);
}
:host([padding="xxl"]) {
  padding: var(--spacing-comp-06);
}
:host([padding="xxxl"]) {
  padding: var(--spacing-comp-07);
}
