@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  --animation-duration: "0s";
  margin: 6px 0;
  --treeContainerMaxHeight: "0px";
  display: block;
  li {
    list-style-type: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    color: var(--color-text);
    margin-bottom: 0;
    position: relative;
    line-height: 1.2em;
    &:not(.has-childs) {
      &:before {
        content: "";
        width: 2px;
        height: 2px;
        background-color: var(--color-text);
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        border-radius: 50%;
      }
      .slotted-container {
        padding-left: 8px;
      }
    }
    &.has-childs {
      cursor: pointer;
      .li__icon {
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 6px;
          height: 1px;
          background-color: var(--color-primary-enabled);
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
          @include ui-animation(transform);
        }
      }
      &:hover {
        .li__icon {
        }
      }
    }
    &:not(.closed) {
      .li__icon {
        &:after {
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
      }
    }
    .li__icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 2px;
      position: absolute;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 1px;
        background-color: var(--color-primary-enabled);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
  ::slotted(gxg-tree) {
    margin-left: 13px;
    transition: max-height var(--animation-duration) ease;
    max-height: var(--treeContainerMaxHeight);
    overflow: hidden;
  }
  gxg-icon {
    position: absolute;
    top: -3px;
    left: -5px;
  }
  .slotted-container {
    padding-left: 14px;
  }
}
:host(:last-child) {
  margin-bottom: 0;
}
