@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  --animation-duration: "0s";
  margin: 4px 0;
  // --treeContainerMaxHeight: "0px";
  display: flex;
  align-items: flex-start;

  .wrapper {
    background-color: "transparent";
    cursor: pointer;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    padding-right: var(--spacing-lay-m);
    @include ui-animation(background-color);
    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }

  li {
    list-style-type: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-sm);
    color: var(--color-text);
    margin-bottom: 0;
    position: relative;
    line-height: 1.2em;
    top: 4px;
    &:not(.has-childs) {
      .slotted-container {
        padding-left: 0;
      }
    }
    &:not(.closed) {
      .li__icon {
        &:after {
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
      }
    }
  }
  ::slotted(gxg-tree) {
    transition: max-height var(--animation-duration) ease;
    // max-height: var(--treeContainerMaxHeight);
    overflow: hidden;
    margin-left: 18px;
  }
  gxg-icon.fold-unfold {
    margin-right: -4px;
  }
  .slotted-container {
    padding-left: 14px;
  }
}
:host(:first-child) {
  margin-top: 0;
}
:host(:focus) {
  outline: none;
  .wrapper {
    background-color: var(--color-secondary-active);
  }
}
:host(.disabled) {
  pointer-events: none;
  opacity: 0.4;
}
