@import "../../globals/mixins";
:host {
  display: block;
  font-family: var(--font-family-primary);
  color: var(--color-on-background);
  position: relative;
  line-height: 0;
  @include gxg-scroll;
}

:host .options {
  &__container {
    font-size: 0;
  }
  &__items-container {
    display: none;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--gray-04);
    border-radius: var(--border-radius-sm);
    position: absolute;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    font-size: var(--font-size-sm);
    line-height: var(--font-size-sm);
    margin-top: var(--spacing-comp-01);
  }
}
:host(.options--visible) .options__items-container {
  display: flex;
}
:host(.options--right) {
  .options__container {
    text-align: right;
  }
  .options__items-container {
    right: 0;
  }
}

//large
:host(.large) {
  .options {
    &__items-container {
      font-size: var(--font-size-lg);
      line-height: var(--font-size-lg);
    }
  }
}
