@import "../../../globals/normalize.scss";
@import "../../../globals/mixins";

:host {
  display: inline-block;
  position: absolute;
}
.outer-wrapper {
  color: var(--color-on-background);
  font-family: var(--font-family-primary);
  overflow: hidden;
  box-shadow: var(--box-shadow-01);
  background: var(--color-background);
  transition-property: height;
}
.inner-wrapper {
  border-radius: var(--border-width-md);
  box-sizing: border-box;
}
.menu__header {
  border-bottom-style: var(--border-style-regular);
  border-bottom-width: var(--border-width-sm);
  border-bottom-color: var(--gray-03);
}
.menu__header__title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--spacing-comp-01) var(--spacing-comp-03);
}

:host([full-width]) {
  width: 100% !important;
}
:host([tabs]) {
  .menu-list {
    ::slotted(gxg-menu-item) {
      text-transform: uppercase;
    }
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
  }
}
:host {
  ::slotted(gxg-menu-list) {
    border-bottom-style: var(--border-style-regular);
    border-bottom-width: var(--border-width-sm);
    border-bottom-color: var(--gray-03);
  }
  ::slotted(gxg-menu-list) {
    border-bottom: none;
  }
}
