@import "../../globals/mixins-mercury";

:host {
  --ds-background-color-disabled: transparent;
  --ds-border-color-disabled: transparent;
  display: block;
  .container {
    @include mer-elevation--01();
    box-shadow: none;
    display: inline-flex;
    padding: var(--gxg-buttons-group__padding);
    gap: var(--gxg-buttons-group__gap);
    border-radius: var(--gxg-buttons-group__border-radius);
    border: 1px solid var(--mer-color__elevation__03);

    &--reduced {
      --gxg-button-height: calc(
        var(--gxg-form-text-height) - var(--mer-spacing--xs) - 2px
      );
    }
  }

  ::slotted(.button--unselected) {
    --gxg-button-primary-border-color: transparent;
    --gxg-button-primary-bg-color: var(
      --gxg-button-unselected-bg-color--enabled
    );
    --gxg-button-primary-color: var(--gxg-button-unselected-color--enabled);
  }
}
