@import "../../globals/mixins-mercury";

:host {
  --ds-background-color-disabled: transparent;
  --ds-border-color-disabled: transparent;
  display: block;
  .container {
    @include mer-elevation--01();
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    padding: var(--gxg-buttons-group__padding);
    box-sizing: border-box;
    gap: var(--gxg-buttons-group__gap);
    border-radius: var(--gxg-buttons-group__border-radius);
    border: 1px solid var(--mer-color__elevation__03);

    &--reduced {
      height: calc(var(--gxg-form-text-height) + 2px);
      ::slotted(gxg-button) {
        height: 100%;
      }
      --gxg-button-height: 100%;
    }
  }

  ::slotted(.button--unselected) {
    --gxg-button-primary-border-color: transparent;
    --gxg-button-primary-bg-color: var(
      --gxg-button-unselected-bg-color--enabled
    );
    --gxg-button-primary-color: var(--gxg-button-unselected-color--enabled);
  }
}

:host([full-width]) {
  width: 100%;
  .container {
    width: 100%;
    display: flex;
  }
  ::slotted(gxg-button) {
    flex: 1;
  }
}
