$buttonSize: var(--spacing-comp-05);
$gap: var(--spacing-comp-01);
$color: var(--gray-04);
$colorHover: var(--color-primary-hover);

gxg-paginator {
  display: block;
  padding-top: var(--spacing-comp-01);
  padding-bottom: var(--spacing-comp-01);
}

ch-paginator {
  background-color: var(--color-background);
  display: flex;
  gap: var(--spacing-comp-01);

  justify-content: center;
}

ch-paginator-navigate,
ch-paginator-pages::part(button) {
  width: $buttonSize;
  height: $buttonSize;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: $colorHover;
  }
}
ch-paginator-pages::part(button) {
  color: $color;
}
ch-paginator-pages::part(active) {
  color: $colorHover;
  font-weight: var(--font-weight-semibold);
}
ch-paginator-navigate {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

ch-paginator-navigate[type="first"],
ch-paginator-navigate[type="previous"],
ch-paginator-navigate[type="next"],
ch-paginator-navigate[type="last"] {
  &:before {
    content: "";
    display: block;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    width: 100%;
    height: 100%;
    background-color: $color;
  }
  &:hover:before {
    background-color: $colorHover;
  }
}
ch-paginator-navigate[type="first"]:before {
  -webkit-mask-image: var(--navigateFirstUrl);
}
ch-paginator-navigate[type="previous"]:before {
  -webkit-mask-image: var(--navigatePrevUrl);
}
ch-paginator-navigate[type="next"]:before {
  -webkit-mask-image: var(--navigateNextUrl);
}
ch-paginator-navigate[type="last"]:before {
  -webkit-mask-image: var(--navigateLastUrl);
}

ch-paginator-pages::part(pages) {
  display: flex;
  gap: $gap;
}
ch-paginator-pages::part(button) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-primary);
}

ch-paginator-pages::part(button),
ch-paginator-navigate {
  &:focus-visible {
    outline: 2px solid var(--color-primary-active);
  }
}
