:host {
  display: block;
}

$buttonSize: var(--spacing-comp-05);
$gap: var(--spacing-comp-01);

ch-paginator {
  display: flex;
  gap: $gap;
  margin-top: var(--spacing-comp-01);
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}
ch-paginator-navigate,
ch-paginator-pages::part(button) {
  width: $buttonSize;
  height: $buttonSize;
  cursor: pointer;
  background-color: var(--color-secondary-enabled);

  &:hover {
    background-color: var(--color-secondary-hover);
  }
}
ch-paginator-navigate {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
ch-paginator-navigate[type="first"] {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDIwIDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDx0aXRsZT5OYXZpZ2F0aW9uL2Fycm93LWxlZnQ8L3RpdGxlPg0KICAgIDxnIGlkPSJOYXZpZ2F0aW9uL2Fycm93LWxlZnQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8cGF0aCBkPSJNMTIsNiBMMTIsMTQgTDgsMTAgTDEyLDYgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSIjMDAwMDAwIj48L3BhdGg+DQogICAgPC9nPg0KPC9zdmc+);
}
ch-paginator-navigate[type="previous"] {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDIwIDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDx0aXRsZT5OYXZpZ2F0aW9uL2NoZXZyb24tbGVmdDwvdGl0bGU+DQogICAgPGcgaWQ9Ik5hdmlnYXRpb24vY2hldnJvbi1sZWZ0IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4NCiAgICAgICAgPHBhdGggZD0iTTEyLDE0IEw4LDEwIEwxMiw2IEwxMiw2IEwxMi42MTQ0OTI4LDYuNjE0NDkyNzUgTDkuMjM0NzgyNjEsMTAgTDEyLjYxNDQ5MjgsMTMuMzg1NTA3MiBMMTIsMTQgTDEyLDE0IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPg0KICAgIDwvZz4NCjwvc3ZnPg==);
}
ch-paginator-navigate[type="next"] {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDIwIDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDx0aXRsZT5OYXZpZ2F0aW9uL2NoZXZyb24tcmlnaHQ8L3RpdGxlPg0KICAgIDxnIGlkPSJOYXZpZ2F0aW9uL2NoZXZyb24tcmlnaHQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPg0KICAgICAgICA8cGF0aCBkPSJNOC42MTQ0OTI3NSw2IEwxMi42MTQ0OTI4LDEwIEw4LjYxNDQ5Mjc1LDE0IEw4LDEzLjM4NTUwNzIgTDExLjM3OTcxMDEsMTAgTDgsNi42MTQ0OTI3NSBMOC42MTQ0OTI3NSw2IFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0iIzAwMDAwMCI+PC9wYXRoPg0KICAgIDwvZz4NCjwvc3ZnPg==);
}
ch-paginator-navigate[type="last"] {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxzdmcgd2lkdGg9IjIwcHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDIwIDIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgIDx0aXRsZT5OYXZpZ2F0aW9uL2Fycm93LXJpZ2h0PC90aXRsZT4NCiAgICA8ZyBpZD0iTmF2aWdhdGlvbi9hcnJvdy1yaWdodCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+DQogICAgICAgIDxwYXRoIGQ9Ik04LDYgTDEyLDEwIEw4LDE0IEw4LDYgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSIjMDAwMDAwIj48L3BhdGg+DQogICAgPC9nPg0KPC9zdmc+);
}
.dark {
  ch-paginator-navigate[type="first"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjI4OCIgaGVpZ2h0PSIyODgiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjI4OCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiw2IEwxMiwxNCBMOCwxMCBMMTIsNiBaIiBjbGFzcz0iY29sb3IwMDAgc3ZnU2hhcGUiLz48L3N2Zz48L3N2Zz4=);
  }
  ch-paginator-navigate[type="previous"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjI4OCIgaGVpZ2h0PSIyODgiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjI4OCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiwxNCBMOCwxMCBMMTIsNiBMMTIsNiBMMTIuNjE0NDkyOCw2LjYxNDQ5Mjc1IEw5LjIzNDc4MjYxLDEwIEwxMi42MTQ0OTI4LDEzLjM4NTUwNzIgTDEyLDE0IEwxMiwxNCBaIiBjbGFzcz0iY29sb3IwMDAgc3ZnU2hhcGUiLz48L3N2Zz48L3N2Zz4=);
  }
  ch-paginator-navigate[type="next"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjI4OCIgaGVpZ2h0PSIyODgiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjI4OCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LjYxNDQ5Mjc1LDYgTDEyLjYxNDQ5MjgsMTAgTDguNjE0NDkyNzUsMTQgTDgsMTMuMzg1NTA3MiBMMTEuMzc5NzEwMSwxMCBMOCw2LjYxNDQ5Mjc1IEw4LjYxNDQ5Mjc1LDYgWiIgY2xhc3M9ImNvbG9yMDAwIHN2Z1NoYXBlIi8+PC9zdmc+PC9zdmc+);
  }
  ch-paginator-navigate[type="last"] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnN2Z2pzPSJodHRwOi8vc3ZnanMuY29tL3N2Z2pzIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjI4OCIgaGVpZ2h0PSIyODgiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjg4IiBoZWlnaHQ9IjI4OCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik04LDYgTDEyLDEwIEw4LDE0IEw4LDYgWiIgY2xhc3M9ImNvbG9yMDAwIHN2Z1NoYXBlIi8+PC9zdmc+PC9zdmc+);
  }
}
ch-paginator-pages::part(pages) {
  display: flex;
  gap: $gap;
}
ch-paginator-pages::part(button) {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-primary);
}
