$transitionSpeed: 200ms;
$border: 1px solid var(--mer-color__elevation--04);
:host {
  --top-bar-progress: 0%;
  display: grid;
  grid-template-rows: 0fr;
  transition: $transitionSpeed grid-template-rows;
  overflow: hidden;

  //icon
  --ds-icon-size-box--small: var(--mer-font__size--xxs);
  --ds-icon-size--small: 100%;

  > * {
    overflow: hidden;
  }
}
:host(.visible) {
  grid-template-rows: 1fr;
}
.top-state-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--mer-spacing--sm);

  // &:before {
  //   content: "";
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   background-color: var(--mer-color__elevation--04);
  //   z-index: -1;
  // }
  // &:after {
  //   content: "";
  //   left: var(--mer-border__width--sm);
  //   top: var(--mer-border__width--sm);
  //   width: calc(100% - var(--mer-border__width--sm) * 2);
  //   height: calc(100% - var(--mer-border__width--sm) * 2);
  //   position: absolute;
  //   background-color: var(--mer-color__surface);
  //   z-index: 0;
  //   border-radius: var(--mer-border__width--lg);
  // }
  > * {
    position: relative;
    z-index: 1;
  }
  border-radius: var(--mer-border__width--lg);
  list-style: var(--mer-font__size--xxs);
  display: flex;

  &__outer-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--mer-spacing--sm);
    padding: var(--mer-spacing--sm) var(--mer-spacing--sm);
    border: var(--mer-border__width--sm) solid var(--mer-border-color__dim);
    border-radius: var(--mer-border__width--lg);
  }
  &__inner-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--mer-spacing--xs);
  }
  &__caption {
    color: var(--mer-text__on-message);
    font-family: var(--ds-base-font-family-primary);
    font-size: var(--mer-font__size--xxs);
    line-height: var(--mer-font__size--xxs);
    font-weight: var(--mer-font__weight--regular);
    display: flex;
    align-items: baseline;
    font-style: italic;
  }
  &__progress-wrapper {
    height: var(--mer-spacing--xxs);
    background-color: var(--mer-color__elevation--04);
  }
  &__close {
    cursor: pointer;
    transition: $transitionSpeed background-color;
  }
  &__inner-wrapper,
  &__progress-wrapper,
  &__close {
    opacity: 0;
    transition: 150ms opacity;
  }

  /*states*/
  &--accent {
    .progress-bar {
      background-color: var(--mer-accent__primary);
    }
    .top-state-bar__caption {
      color: var(--mer-accent__primary);
    }
  }
  &--success {
    .progress-bar {
      background-color: var(--mer-color__message-green--100);
    }
    .top-state-bar__caption {
      color: var(--mer-color__message-green--100);
    }
  }
  &--warning {
    .progress-bar {
      background-color: var(--mer-color__message-yellow--100);
    }
    .top-state-bar__caption {
      color: var(--mer-color__message-yellow--100);
    }
  }
  &--error {
    .progress-bar {
      background-color: var(--mer-color__message-red--100);
    }
    .top-state-bar__caption {
      color: var(--mer-color__message-red--100);
    }
  }
  &--in-progress {
    &:before {
      height: 0;
      width: 120%;
      padding-top: 60%;
      padding-bottom: 60%;
      background: linear-gradient(
        90deg,
        rgba(91, 167, 255, 1) 0%,
        rgba(63, 168, 155, 1) 100%
      );
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-animation: inProgressBackgroundColor 1s linear infinite;
      animation: inProgressBackgroundColor 1s linear infinite;
    }
    .top-state-bar__close-wrapper {
      border-inline-start-color: rgba(63, 168, 155, 1);
      -webkit-animation: inProgressBorderColor 1s linear infinite;
      animation: inProgressBorderColor 1s linear infinite;
    }
    .progress-bar {
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 300%;
        height: 100%;
        left: 0;
        background: linear-gradient(
          90deg,
          rgba(147, 245, 235, 1) 0%,
          rgba(26, 163, 255, 1) 33%,
          rgba(147, 245, 235, 1) 66%,
          rgba(26, 163, 255, 1) 100%
        );
        animation-name: inProgressBar;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
    .top-state-bar__caption {
      color: #3fa89b;
    }
  }
  &--visible {
    .top-state-bar__inner-wrapper,
    .top-state-bar__progress-wrapper,
    .top-state-bar__close {
      opacity: 1;
    }
    .top-state-bar__close {
      &:hover {
        opacity: 0.75;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
}

/*in progress animation*/
@-webkit-keyframes inProgressBorderColor {
  0% {
    border-inline-start-color: rgba(63, 168, 155, 1);
  }
  100% {
    border-inline-start-color: rgba(91, 167, 255, 1);
  }
}
@-webkit-keyframes inProgressBackgroundColor {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@-webkit-keyframes inProgressBar {
  0% {
    left: 0%;
  }
  100% {
    left: -200%;
  }
}
@-moz-keyframes inProgressBar {
  0% {
    left: 0%;
  }
  100% {
    left: 200%;
  }
}
@keyframes inProgressBar {
  0% {
    left: 0%;
  }
  100% {
    left: -200%;
  }
}

.progress-bar {
  display: block;
  transition: all $transitionSpeed;
  width: var(--top-bar-progress);
  border-radius: calc(var(--mer-spacing--xxs) / 2);
  height: 100%;
}

:host([no-border]) {
  .top-state-bar__outer-wrapper {
    border: 0;
  }
}
