@import "../../globals/mixins.scss";

gxg-tree {
  display: contents;
}
/*CH-TREE*/
ch-tree {
  --gxg-tree-item-inner-spacing: var(--spacing-comp-01);
  overflow: auto;
  @include gxg-scrollbar();
  height: 100%;
}
/*CH-TREE-ITEM*/
ch-tree-item {
  --guide-color: var(--gray-04);
  color: var(--color-on-background);

  /*expand/collapse icon*/
  &::part(expand-icon),
  &::part(collapse-icon) {
    content: "";
    display: block;
    background-color: var(--color-on-secondary);
    padding: 0;
    margin-right: var(--gxg-tree-item-inner-spacing);
    width: var(--gxg-icon-size);
    height: var(--gxg-icon-size);
  }
  &::part(expand-icon) {
    -webkit-mask-image: url("../build/icon-assets/gemini-tools/add.svg");
  }
  &::part(collapse-icon) {
    -webkit-mask-image: url("../build/icon-assets/gemini-tools/minus.svg");
  }
  &::part(checkbox) {
    margin: 0 var(--gxg-tree-item-inner-spacing) 0 0;
  }
}
