@import "../../globals/mixins.scss";

:host {
  display: block;
  --gxg-tree-item-inner-spacing: var(--spacing-comp-01);
  overflow: auto;
  @include gxg-scrollbar();
  height: 100%;
  ul {
    margin: 0;
    padding-left: 0;
    width: 100%;
  }
}
