@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: flex;
  ul {
    margin: 0;
    padding-left: 0;
  }
}
:host(.main-tree) {
  overflow: hidden;
}
.main-tree-container {
  position: relative;
  left: -30px;
}
