@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host {
  display: block;
  font-size: 0;
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}
