@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host(.button-group) {
  display: inline-block;
  line-height: 0;
  outline: none;
  gap: 1px;

  .button-group-container {
    display: flex;
    background-color: var(--gxg-button-group-container-bg-color);
    gap: var(--gxg-button-group-container-gap);
    overflow: hidden;
    border-radius: var(--gxg-button-border-radius);
  }
  /*--- Reset border radius ---*/
  ::slotted(button:first-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  ::slotted(button:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  ::slotted(button:not(:first-child):not(:last-child)) {
    border-radius: 0;
  }

  /*--- Primary (default) ---*/
  ::slotted(button) {
    @include gxg-button-styles;
    background-color: var(--ds-background-color-disabled);
    color: var(--gxg-button-primary-bg-color);
    border-color: var(--ds-background-color-disabled);
  }
  /*data-active*/
  ::slotted(button[data-active]) {
    background-color: var(--gxg-button-primary-bg-color);
    color: var(--gxg-button-primary-color);
    border-color: var(--gxg-button-primary-border-color);
  }
  /*hover*/
  ::slotted(button:hover) {
    background-color: var(--gxg-button-primary-bg-color-hover);
    color: var(--gxg-button-primary-color-hover);
    border-color: var(--gxg-button-primary-border-color-hover);
  }
  /*active*/
  ::slotted(button:active) {
    background-color: var(--gxg-button-primary-bg-color-active);
    color: var(--gxg-button-primary-color-active);
    border-color: var(--gxg-button-primary-border-color-active);
  }
  /*focus within*/
  ::slotted(button:focus-visible) {
    @include form-element-common-styles-focus-type-1("inside");
    outline-color: var(--color-primary-active--inverted);
  }
  /*disabled*/
  ::slotted(button[disabled]) {
    color: var(--ds-color-on-disabled);
    pointer-events: none;
  }
}
:host(:not([outlined])) {
  ::slotted(button[disabled]) {
    background-color: var(--ds-background-color-disabled);
    border-color: var(--ds-background-color-disabled);
  }
}

/*--- Outlined ---*/
:host([outlined]) {
  .button-group-container {
    background-color: transparent;
    gap: 0;
  }
  ::slotted(button) {
    background-color: var(--gxg-button-outlined-bg-color);
    color: var(--gxg-button-outlined-color);
    border-color: var(--gxg-button-outlined-border-color);
    position: relative;
    z-index: 0;
  }
  $n: 10;
  @for $i from 1 through $n {
    ::slotted(button:nth-child(#{$i})) {
      left: calc(1px * #{$i - 1} * -1);
    }
  }
  ::slotted(button:nth-child(1)) {
    left: 0;
  }
  /*data-active*/
  ::slotted(button[data-active]) {
    background-color: var(--gxg-button-outlined-bg-color-active);
    color: var(--gxg-button-outlined-color-active);
    border-color: var(--gxg-button-outlined-border-color-hover);
    z-index: 1;
  }
  ::slotted(button[data-active]:hover) {
  }
  /*hover*/
  ::slotted(button:hover) {
    background-color: var(--gxg-button-outlined-bg-color-hover);
    color: var(--gxg-button-outlined-color-hover);
    border-color: var(--gxg-button-outlined-border-color-hover);
    z-index: 1;
  }
  /*active*/
  ::slotted(button:active) {
    background-color: var(--gxg-button-outlined-bg-color-active);
    color: var(--gxg-button-outlined-color-active);
    border-color: var(--gxg-button-outlined-border-color-active);
    z-index: 1;
  }
  /*focus within*/
  ::slotted(button:focus-within) {
    outline-color: var(--ds-focus-border-color);
  }
  ::slotted(button[disabled]),
  ::slotted(button[data-active][disabled]) {
    background-color: var(--gxg-button-outlined-bg-color);
    color: var(--ds-color-disabled);
    border-color: var(--ds-border-color-disabled);
  }
}
/*--- Disabled ---*/
:host([outlined][disabled]) {
  ::slotted(button) {
    color: var(--ds-color-disabled);
  }
}

/*--- Full Width ---*/
//full width
:host([full-width]) {
  display: block;
  width: 100%;

  .button-group-container {
    width: 100%;
  }
  ::slotted(button) {
    flex-grow: 1;
    @include gxg-ellipsis;
  }
}

/*--- Disabled ---*/
:host([disabled]) {
  ::slotted(button) {
    color: var(--ds-color-on-disabled);
  }
}
