@import "../../globals/normalize.scss";
@import "../../globals/mixins";

:host(.button-group) {
  display: inline-block;
  line-height: 0;
  outline: none;

  .button-group-header-title {
    @include form-element-common-styles-label();
  }
  .button-group-container {
    font-size: 0; //removes the space between buttons
  }

  ::slotted(button) {
    @include gxg-button-styles;
    /*button styles are included on a mixin, because they are used on both, gxg-button, and gxg-button-group elements*/
    @include gxg-label--negative;

    /*button styles overrides*/
    border-radius: 0;
    background-color: var(--gray-02);
    color: var(--color-primary);
    border-right: 1px solid var(--gray-03);
    padding-left: var(--spacing-comp-03);
    padding-right: var(--spacing-comp-03);
  }
  ::slotted(button:first-child) {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
  }
  ::slotted(button:last-child) {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
  }

  ::slotted(button:hover) {
    cursor: pointer;
    color: var(--color-on-primary);
    background: var(--color-primary-hover);
  }
  ::slotted(button:focus) {
    outline: none;
    box-shadow: var(--box-shadow-values) var(--color-primary-active);
  }
  ::slotted(button[data-active]) {
    color: var(--color-on-primary);
    background-color: var(--color-primary-active);
    border-right-color: var(--color-primary-active);
  }
}
:host(.button-group--rtl) {
  ::slotted(button:last-child) {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  ::slotted(button:first-child) {
    border-top-right-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  ::slotted(button) {
    border-left: 1px solid var(--gray-03);
    border-right: 0;
  }
  ::slotted(button:last-child) {
    border-left: 0;
  }
}
/*OUTLINED*/
:host(.button-group:not([outlined])) {
  ::slotted(button:last-child) {
    border-right: none;
  }
}
:host([outlined]) ::slotted(button) {
  background: transparent;
  border-width: var(--border-width-sm);
  border-style: var(--border-style-regular);
  border-color: var(--color-primary-active);
}
:host([outlined]) ::slotted(button:not(:last-child)) {
  border-right: 0;
}
:host(.button-group:not([outlined])) {
  ::slotted(button:last-child) {
    border-right: none;
  }
}
:host([outlined][disabled]) ::slotted(button) {
  border-color: var(--color-primary-disabled);
  color: var(--color-primary-disabled);
  background-color: transparent;
}
/*CENTER*/
:host([title-alignment="center"]) {
  /*Title alignment*/
  .button-group-header-title {
    justify-content: center;
  }
}
:host([title-alignment="right"]) {
  /*Title alignment*/
  .button-group-header-title {
    justify-content: flex-end;
  }
}
:host([disabled]) {
  pointer-events: none;

  ::slotted(button),
  ::slotted(button[data-active]) {
    background-color: var(--color-primary-disabled);
    color: var(--color-on-disabled);
  }
  ::slotted(button) {
    border-right-color: var(--color-on-disabled);
  }
}

//full width
:host([full-width]) {
  display: block;
  width: 100%;

  .button-group-container {
    display: flex;
  }
}
:host([full-width]) {
  .button-group-container {
    ::slotted(*) {
      flex: 1 1 auto !important;
    }
  }
}
